---
title: Shakespeares Sonnets - Sonnet 10
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>10</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      For shame deny that thou bear'st love to any<br>
      
      Who for thy self art so unprovident.<br>
      
      Grant if thou wilt, thou art beloved of many,<br>
      
      But that thou none lov'st is most evident:<br>
      
      For thou art so possessed with murd'rous hate,<br>
      
      That 'gainst thy self thou stick'st not to conspire,<br>
      
      Seeking that beauteous roof to ruinate<br>
      
      Which to repair should be thy chief desire:<br>
      
      O change thy thought, that I may change my mind,<br>
      
      Shall hate be fairer lodged than gentle love?<br>
      
      Be as thy presence is gracious and kind,<br>
      
      Or to thy self at least kind-hearted prove,<br>
      
      Make thee another self for love of me,<br>
      
      <span class="pa4">Make thee another self for love of me,</span><br>
      
      <span class="pa4">That beauty still may live in thine or thee.</span><br>
      
    </p>
  </div>
</article>