---
title: Shakespeares Sonnets - Sonnet 101
---

<main class="pa3 pa5-ns">
  <p> 101</p>
   <p class="f6 lh-copy measure">
      
      O truant Muse what shall be thy amends,<br>
      
      For thy neglect of truth in beauty dyed?<br>
      
      Both truth and beauty on my love depends:<br>
      
      So dost thou too, and therein dignified:<br>
      
      Make answer Muse, wilt thou not haply say,<br>
      
      'Truth needs no colour with his colour fixed,<br>
      
      Beauty no pencil, beauty's truth to lay:<br>
      
      But best is best, if never intermixed'?<br>
      
      Because he needs no praise, wilt thou be dumb?<br>
      
      Excuse not silence so, for't lies in thee,<br>
      
      To make him much outlive a gilded tomb:<br>
      
      And to be praised of ages yet to be.<br>
      
      Then do thy office Muse, I teach thee how,<br>
      
      <span class="pa2">Then do thy office Muse, I teach thee how,</span><br>
      
      <span class="pa2">To make him seem long hence, as he shows now.</span><br>
      
   </p>
</main>