---
title: Shakespeares Sonnets - Sonnet 101
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>101</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O truant Muse what shall be thy amends,<br>
      
      For thy neglect of truth in beauty dyed?<br>
      
      Both truth and beauty on my love depends:<br>
      
      So dost thou too, and therein dignified:<br>
      
      Make answer Muse, wilt thou not haply say,<br>
      
      'Truth needs no colour with his colour fixed,<br>
      
      Beauty no pencil, beauty's truth to lay:<br>
      
      But best is best, if never intermixed'?<br>
      
      Because he needs no praise, wilt thou be dumb?<br>
      
      Excuse not silence so, for't lies in thee,<br>
      
      To make him much outlive a gilded tomb:<br>
      
      And to be praised of ages yet to be.<br>
      
      Then do thy office Muse, I teach thee how,<br>
      
      <span class="pa4">Then do thy office Muse, I teach thee how,</span><br>
      
      <span class="pa4">To make him seem long hence, as he shows now.</span><br>
      
    </p>
  </div>
</article>