---
title: Shakespeares Sonnets - Sonnet 103
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>103</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Alack what poverty my muse brings forth,
      
        That having such a scope to show her pride,
      
        The argument all bare is of more worth
      
        Than when it hath my added praise beside.
      
        O blame me not if I no more can write!
      
        Look in your glass and there appears a face,
      
        That over-goes my blunt invention quite,
      
        Dulling my lines, and doing me disgrace.
      
        Were it not sinful then striving to mend,
      
        To mar the subject that before was well?
      
        For to no other pass my verses tend,
      
        Than of your graces and your gifts to tell.
      
        And more, much more than in my verse can sit,
      
        Your own glass shows you, when you look in it.
      
    </p>
  </div>
</article>