---
title: Shakespeares Sonnets - Sonnet 104
---

<main class="pa3 pa5-ns">
  <p> 104</p>
   <p class="f6 lh-copy measure">
      
      To me fair friend you never can be old,<br>
      
      For as you were when first your eye I eyed,<br>
      
      Such seems your beauty still: three winters cold,<br>
      
      Have from the forests shook three summers' pride,<br>
      
      Three beauteous springs to yellow autumn turned,<br>
      
      In process of the seasons have I seen,<br>
      
      Three April perfumes in three hot Junes burned,<br>
      
      Since first I saw you fresh which yet are green.<br>
      
      Ah yet doth beauty like a dial hand,<br>
      
      Steal from his figure, and no pace perceived,<br>
      
      So your sweet hue, which methinks still doth stand<br>
      
      Hath motion, and mine eye may be deceived.<br>
      
      <span class="pa2">For fear of which, hear this thou age unbred,</span><br>
      
      <span class="pa2">Ere you were born was beauty's summer dead.</span><br>
      
   </p>
</main>