---
title: Shakespeares Sonnets - Sonnet 104
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>104</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      To me fair friend you never can be old,<br>
      
      For as you were when first your eye I eyed,<br>
      
      Such seems your beauty still: three winters cold,<br>
      
      Have from the forests shook three summers' pride,<br>
      
      Three beauteous springs to yellow autumn turned,<br>
      
      In process of the seasons have I seen,<br>
      
      Three April perfumes in three hot Junes burned,<br>
      
      Since first I saw you fresh which yet are green.<br>
      
      Ah yet doth beauty like a dial hand,<br>
      
      Steal from his figure, and no pace perceived,<br>
      
      So your sweet hue, which methinks still doth stand<br>
      
      Hath motion, and mine eye may be deceived.<br>
      
      For fear of which, hear this thou age unbred,<br>
      
      <span class="pa4">For fear of which, hear this thou age unbred,</span><br>
      
      <span class="pa4">Ere you were born was beauty's summer dead.</span><br>
      
    </p>
  </div>
</article>