---
title: Shakespeares Sonnets - Sonnet 105
---

<main class="pa3 pa5-ns">
  <p> 105</p>
   <p class="f6 lh-copy measure">
      
      Let not my love be called idolatry,<br>
      
      Nor my beloved as an idol show,<br>
      
      Since all alike my songs and praises be<br>
      
      To one, of one, still such, and ever so.<br>
      
      Kind is my love to-day, to-morrow kind,<br>
      
      Still constant in a wondrous excellence,<br>
      
      Therefore my verse to constancy confined,<br>
      
      One thing expressing, leaves out difference.<br>
      
      Fair, kind, and true, is all my argument,<br>
      
      Fair, kind, and true, varying to other words,<br>
      
      And in this change is my invention spent,<br>
      
      Three themes in one, which wondrous scope affords.<br>
      
      Fair, kind, and true, have often lived alone.<br>
      
      <span class="pa2">Fair, kind, and true, have often lived alone.</span><br>
      
      <span class="pa2">Which three till now, never kept seat in one.</span><br>
      
   </p>
</main>