---
title: Shakespeares Sonnets - Sonnet 106
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>106</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        When in the chronicle of wasted time,
      
        I see descriptions of the fairest wights,
      
        And beauty making beautiful old rhyme,
      
        In praise of ladies dead, and lovely knights,
      
        Then in the blazon of sweet beauty's best,
      
        Of hand, of foot, of lip, of eye, of brow,
      
        I see their antique pen would have expressed,
      
        Even such a beauty as you master now.
      
        So all their praises are but prophecies
      
        Of this our time, all you prefiguring,
      
        And for they looked but with divining eyes,
      
        They had not skill enough your worth to sing:
      
        For we which now behold these present days,
      
        Have eyes to wonder, but lack tongues to praise.
      
    </p>
  </div>
</article>