---
title: Shakespeares Sonnets - Sonnet 106
---

<main class="pa3 pa5-ns">
  <p> 106</p>
   <p class="f6 lh-copy measure">
      
      When in the chronicle of wasted time,<br>
      
      I see descriptions of the fairest wights,<br>
      
      And beauty making beautiful old rhyme,<br>
      
      In praise of ladies dead, and lovely knights,<br>
      
      Then in the blazon of sweet beauty's best,<br>
      
      Of hand, of foot, of lip, of eye, of brow,<br>
      
      I see their antique pen would have expressed,<br>
      
      Even such a beauty as you master now.<br>
      
      So all their praises are but prophecies<br>
      
      Of this our time, all you prefiguring,<br>
      
      And for they looked but with divining eyes,<br>
      
      They had not skill enough your worth to sing:<br>
      
      <span class="pa2">For we which now behold these present days,</span><br>
      
      <span class="pa2">Have eyes to wonder, but lack tongues to praise.</span><br>
      
   </p>
</main>