---
title: Shakespeares Sonnets - Sonnet 108
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>108</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        What's in the brain that ink may character,
      
        Which hath not figured to thee my true spirit,
      
        What's new to speak, what now to register,
      
        That may express my love, or thy dear merit?
      
        Nothing sweet boy, but yet like prayers divine,
      
        I must each day say o'er the very same,
      
        Counting no old thing old, thou mine, I thine,
      
        Even as when first I hallowed thy fair name.
      
        So that eternal love in love's fresh case,
      
        Weighs not the dust and injury of age,
      
        Nor gives to necessary wrinkles place,
      
        But makes antiquity for aye his page,
      
        Finding the first conceit of love there bred,
      
        Where time and outward form would show it dead.
      
    </p>
  </div>
</article>