---
title: Shakespeares Sonnets - Sonnet 109
---

<main class="pa3 pa5-ns">
  <p> 109</p>
   <p class="f6 lh-copy measure">
      
      O never say that I was false of heart,<br>
      
      Though absence seemed my flame to qualify,<br>
      
      As easy might I from my self depart,<br>
      
      As from my soul which in thy breast doth lie:<br>
      
      That is my home of love, if I have ranged,<br>
      
      Like him that travels I return again,<br>
      
      Just to the time, not with the time exchanged,<br>
      
      So that my self bring water for my stain,<br>
      
      Never believe though in my nature reigned,<br>
      
      All frailties that besiege all kinds of blood,<br>
      
      That it could so preposterously be stained,<br>
      
      To leave for nothing all thy sum of good:<br>
      
      <span class="pa2">For nothing this wide universe I call,</span><br>
      
      <span class="pa2">Save thou my rose, in it thou art my all.</span><br>
      
   </p>
</main>