---
title: Shakespeares Sonnets - Sonnet 109
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>109</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O never say that I was false of heart,<br>
      
      Though absence seemed my flame to qualify,<br>
      
      As easy might I from my self depart,<br>
      
      As from my soul which in thy breast doth lie:<br>
      
      That is my home of love, if I have ranged,<br>
      
      Like him that travels I return again,<br>
      
      Just to the time, not with the time exchanged,<br>
      
      So that my self bring water for my stain,<br>
      
      Never believe though in my nature reigned,<br>
      
      All frailties that besiege all kinds of blood,<br>
      
      That it could so preposterously be stained,<br>
      
      To leave for nothing all thy sum of good:<br>
      
      For nothing this wide universe I call,<br>
      
      <span class="pa4">For nothing this wide universe I call,</span><br>
      
      <span class="pa4">Save thou my rose, in it thou art my all.</span><br>
      
    </p>
  </div>
</article>