---
title: Shakespeares Sonnets - Sonnet 11
---

<main class="pa3 pa5-ns">
  <p> 11</p>
   <p class="f6 lh-copy measure">
      
      As fast as thou shalt wane so fast thou grow'st,<br>
      
      In one of thine, from that which thou departest,<br>
      
      And that fresh blood which youngly thou bestow'st,<br>
      
      Thou mayst call thine, when thou from youth convertest,<br>
      
      Herein lives wisdom, beauty, and increase,<br>
      
      Without this folly, age, and cold decay,<br>
      
      If all were minded so, the times should cease,<br>
      
      And threescore year would make the world away:<br>
      
      Let those whom nature hath not made for store,<br>
      
      Harsh, featureless, and rude, barrenly perish:<br>
      
      Look whom she best endowed, she gave thee more;<br>
      
      Which bounteous gift thou shouldst in bounty cherish:<br>
      
      She carved thee for her seal, and meant thereby,<br>
      
      <span class="pa2">She carved thee for her seal, and meant thereby,</span><br>
      
      <span class="pa2">Thou shouldst print more, not let that copy die.</span><br>
      
   </p>
</main>