---
title: Shakespeares Sonnets - Sonnet 110
---

<main class="pa3 pa5-ns">
  <p> 110</p>
   <p class="f6 lh-copy measure">
      
      Alas 'tis true, I have gone here and there,<br>
      
      And made my self a motley to the view,<br>
      
      Gored mine own thoughts, sold cheap what is most dear,<br>
      
      Made old offences of affections new.<br>
      
      Most true it is, that I have looked on truth<br>
      
      Askance and strangely: but by all above,<br>
      
      These blenches gave my heart another youth,<br>
      
      And worse essays proved thee my best of love.<br>
      
      Now all is done, have what shall have no end,<br>
      
      Mine appetite I never more will grind<br>
      
      On newer proof, to try an older friend,<br>
      
      A god in love, to whom I am confined.<br>
      
      <span class="pa2">Then give me welcome, next my heaven the best,</span><br>
      
      <span class="pa2">Even to thy pure and most most loving breast.</span><br>
      
   </p>
</main>