---
title: Shakespeares Sonnets - Sonnet 111
---

<main class="pa3 pa5-ns">
  <p> 111</p>
   <p class="f6 lh-copy measure">
      
      O for my sake do you with Fortune chide,<br>
      
      The guilty goddess of my harmful deeds,<br>
      
      That did not better for my life provide,<br>
      
      Than public means which public manners breeds.<br>
      
      Thence comes it that my name receives a brand,<br>
      
      And almost thence my nature is subdued<br>
      
      To what it works in, like the dyer's hand:<br>
      
      Pity me then, and wish I were renewed,<br>
      
      Whilst like a willing patient I will drink,<br>
      
      Potions of eisel 'gainst my strong infection,<br>
      
      No bitterness that I will bitter think,<br>
      
      Nor double penance to correct correction.<br>
      
      <span class="pa2">Pity me then dear friend, and I assure ye,</span><br>
      
      <span class="pa2">Even that your pity is enough to cure me.</span><br>
      
   </p>
</main>