---
title: Shakespeares Sonnets - Sonnet 112
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>112</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Your love and pity doth th' impression fill,<br>
      
      Which vulgar scandal stamped upon my brow,<br>
      
      For what care I who calls me well or ill,<br>
      
      So you o'er-green my bad, my good allow?<br>
      
      You are my all the world, and I must strive,<br>
      
      To know my shames and praises from your tongue,<br>
      
      None else to me, nor I to none alive,<br>
      
      That my steeled sense or changes right or wrong.<br>
      
      In so profound abysm I throw all care<br>
      
      Of others' voices, that my adder's sense,<br>
      
      To critic and to flatterer stopped are:<br>
      
      Mark how with my neglect I do dispense.<br>
      
      You are so strongly in my purpose bred,<br>
      
      <span class="pa4">You are so strongly in my purpose bred,</span><br>
      
      <span class="pa4">That all the world besides methinks are dead.</span><br>
      
    </p>
  </div>
</article>