---
title: Shakespeares Sonnets - Sonnet 112
---

<main class="pa3 pa5-ns">
  <p> 112</p>
   <p class="f6 lh-copy measure">
      
      Your love and pity doth th' impression fill,<br>
      
      Which vulgar scandal stamped upon my brow,<br>
      
      For what care I who calls me well or ill,<br>
      
      So you o'er-green my bad, my good allow?<br>
      
      You are my all the world, and I must strive,<br>
      
      To know my shames and praises from your tongue,<br>
      
      None else to me, nor I to none alive,<br>
      
      That my steeled sense or changes right or wrong.<br>
      
      In so profound abysm I throw all care<br>
      
      Of others' voices, that my adder's sense,<br>
      
      To critic and to flatterer stopped are:<br>
      
      Mark how with my neglect I do dispense.<br>
      
      <span class="pa2">You are so strongly in my purpose bred,</span><br>
      
      <span class="pa2">That all the world besides methinks are dead.</span><br>
      
   </p>
</main>