---
title: Shakespeares Sonnets - Sonnet 113
---

<main class="pa3 pa5-ns">
  <p> 113</p>
   <p class="f6 lh-copy measure">
      
      Since I left you, mine eye is in my mind,<br>
      
      And that which governs me to go about,<br>
      
      Doth part his function, and is partly blind,<br>
      
      Seems seeing, but effectually is out:<br>
      
      For it no form delivers to the heart<br>
      
      Of bird, of flower, or shape which it doth latch,<br>
      
      Of his quick objects hath the mind no part,<br>
      
      Nor his own vision holds what it doth catch:<br>
      
      For if it see the rud'st or gentlest sight,<br>
      
      The most sweet favour or deformed'st creature,<br>
      
      The mountain, or the sea, the day, or night:<br>
      
      The crow, or dove, it shapes them to your feature.<br>
      
      Incapable of more, replete with you,<br>
      
      <span class="pa2">Incapable of more, replete with you,</span><br>
      
      <span class="pa2">My most true mind thus maketh mine untrue.</span><br>
      
   </p>
</main>