---
title: Shakespeares Sonnets - Sonnet 113
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>113</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Since I left you, mine eye is in my mind,
      
        And that which governs me to go about,
      
        Doth part his function, and is partly blind,
      
        Seems seeing, but effectually is out:
      
        For it no form delivers to the heart
      
        Of bird, of flower, or shape which it doth latch,
      
        Of his quick objects hath the mind no part,
      
        Nor his own vision holds what it doth catch:
      
        For if it see the rud'st or gentlest sight,
      
        The most sweet favour or deformed'st creature,
      
        The mountain, or the sea, the day, or night:
      
        The crow, or dove, it shapes them to your feature.
      
        Incapable of more, replete with you,
      
        My most true mind thus maketh mine untrue.
      
    </p>
  </div>
</article>