---
title: Shakespeares Sonnets - Sonnet 115
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>115</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Those lines that I before have writ do lie,<br>
      
      Even those that said I could not love you dearer,<br>
      
      Yet then my judgment knew no reason why,<br>
      
      My most full flame should afterwards burn clearer,<br>
      
      But reckoning time, whose millioned accidents<br>
      
      Creep in 'twixt vows, and change decrees of kings,<br>
      
      Tan sacred beauty, blunt the sharp'st intents,<br>
      
      Divert strong minds to the course of alt'ring things:<br>
      
      Alas why fearing of time's tyranny,<br>
      
      Might I not then say 'Now I love you best,'<br>
      
      When I was certain o'er incertainty,<br>
      
      Crowning the present, doubting of the rest?<br>
      
      Love is a babe, then might I not say so<br>
      
      <span class="pa4">Love is a babe, then might I not say so</span><br>
      
      <span class="pa4">To give full growth to that which still doth grow.</span><br>
      
    </p>
  </div>
</article>