---
title: Shakespeares Sonnets - Sonnet 116
---

<main class="pa3 pa5-ns">
  <p> 116</p>
   <p class="f6 lh-copy measure">
      
      Let me not to the marriage of true minds<br>
      
      Admit impediments, love is not love<br>
      
      Which alters when it alteration finds,<br>
      
      Or bends with the remover to remove.<br>
      
      O no, it is an ever-fixed mark<br>
      
      That looks on tempests and is never shaken;<br>
      
      It is the star to every wand'ring bark,<br>
      
      Whose worth's unknown, although his height be taken.<br>
      
      Love's not Time's fool, though rosy lips and cheeks<br>
      
      Within his bending sickle's compass come,<br>
      
      Love alters not with his brief hours and weeks,<br>
      
      But bears it out even to the edge of doom:<br>
      
      <span class="pa2">If this be error and upon me proved,</span><br>
      
      <span class="pa2">I never writ, nor no man ever loved.</span><br>
      
   </p>
</main>