---
title: Shakespeares Sonnets - Sonnet 116
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>116</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Let me not to the marriage of true minds
      
        Admit impediments, love is not love
      
        Which alters when it alteration finds,
      
        Or bends with the remover to remove.
      
        O no, it is an ever-fixed mark
      
        That looks on tempests and is never shaken;
      
        It is the star to every wand'ring bark,
      
        Whose worth's unknown, although his height be taken.
      
        Love's not Time's fool, though rosy lips and cheeks
      
        Within his bending sickle's compass come,
      
        Love alters not with his brief hours and weeks,
      
        But bears it out even to the edge of doom:
      
        If this be error and upon me proved,
      
        I never writ, nor no man ever loved.
      
    </p>
  </div>
</article>