---
title: Shakespeares Sonnets - Sonnet 117
---

<main class="pa3 pa5-ns">
  <p> 117</p>
   <p class="f6 lh-copy measure">
      
      Accuse me thus, that I have scanted all,<br>
      
      Wherein I should your great deserts repay,<br>
      
      Forgot upon your dearest love to call,<br>
      
      Whereto all bonds do tie me day by day,<br>
      
      That I have frequent been with unknown minds,<br>
      
      And given to time your own dear-purchased right,<br>
      
      That I have hoisted sail to all the winds<br>
      
      Which should transport me farthest from your sight.<br>
      
      Book both my wilfulness and errors down,<br>
      
      And on just proof surmise, accumulate,<br>
      
      Bring me within the level of your frown,<br>
      
      But shoot not at me in your wakened hate:<br>
      
      <span class="pa2">Since my appeal says I did strive to prove</span><br>
      
      <span class="pa2">The constancy and virtue of your love.</span><br>
      
   </p>
</main>