---
title: Shakespeares Sonnets - Sonnet 117
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>117</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Accuse me thus, that I have scanted all,<br>
      
      Wherein I should your great deserts repay,<br>
      
      Forgot upon your dearest love to call,<br>
      
      Whereto all bonds do tie me day by day,<br>
      
      That I have frequent been with unknown minds,<br>
      
      And given to time your own dear-purchased right,<br>
      
      That I have hoisted sail to all the winds<br>
      
      Which should transport me farthest from your sight.<br>
      
      Book both my wilfulness and errors down,<br>
      
      And on just proof surmise, accumulate,<br>
      
      Bring me within the level of your frown,<br>
      
      But shoot not at me in your wakened hate:<br>
      
      Since my appeal says I did strive to prove<br>
      
      <span class="pa4">Since my appeal says I did strive to prove</span><br>
      
      <span class="pa4">The constancy and virtue of your love.</span><br>
      
    </p>
  </div>
</article>