---
title: Shakespeares Sonnets - Sonnet 118
---

<main class="pa3 pa5-ns">
  <p> 118</p>
   <p class="f6 lh-copy measure">
      
      Like as to make our appetite more keen<br>
      
      With eager compounds we our palate urge,<br>
      
      As to prevent our maladies unseen,<br>
      
      We sicken to shun sickness when we purge.<br>
      
      Even so being full of your ne'er-cloying sweetness,<br>
      
      To bitter sauces did I frame my feeding;<br>
      
      And sick of welfare found a kind of meetness,<br>
      
      To be diseased ere that there was true needing.<br>
      
      Thus policy in love t' anticipate<br>
      
      The ills that were not, grew to faults assured,<br>
      
      And brought to medicine a healthful state<br>
      
      Which rank of goodness would by ill be cured.<br>
      
      <span class="pa2">But thence I learn and find the lesson true,</span><br>
      
      <span class="pa2">Drugs poison him that so feil sick of you.</span><br>
      
   </p>
</main>