---
title: Shakespeares Sonnets - Sonnet 118
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>118</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Like as to make our appetite more keen<br>
      
      With eager compounds we our palate urge,<br>
      
      As to prevent our maladies unseen,<br>
      
      We sicken to shun sickness when we purge.<br>
      
      Even so being full of your ne'er-cloying sweetness,<br>
      
      To bitter sauces did I frame my feeding;<br>
      
      And sick of welfare found a kind of meetness,<br>
      
      To be diseased ere that there was true needing.<br>
      
      Thus policy in love t' anticipate<br>
      
      The ills that were not, grew to faults assured,<br>
      
      And brought to medicine a healthful state<br>
      
      Which rank of goodness would by ill be cured.<br>
      
      But thence I learn and find the lesson true,<br>
      
      <span class="pa4">But thence I learn and find the lesson true,</span><br>
      
      <span class="pa4">Drugs poison him that so feil sick of you.</span><br>
      
    </p>
  </div>
</article>