---
title: Shakespeares Sonnets - Sonnet 119
---

<main class="pa3 pa5-ns">
  <p> 119</p>
   <p class="f6 lh-copy measure">
      
      What potions have I drunk of Siren tears<br>
      
      Distilled from limbecks foul as hell within,<br>
      
      Applying fears to hopes, and hopes to fears,<br>
      
      Still losing when I saw my self to win!<br>
      
      What wretched errors hath my heart committed,<br>
      
      Whilst it hath thought it self so blessed never!<br>
      
      How have mine eyes out of their spheres been fitted<br>
      
      In the distraction of this madding fever!<br>
      
      O benefit of ill, now I find true<br>
      
      That better is, by evil still made better.<br>
      
      And ruined love when it is built anew<br>
      
      Grows fairer than at first, more strong, far greater.<br>
      
      <span class="pa2">So I return rebuked to my content,</span><br>
      
      <span class="pa2">And gain by ills thrice more than I have spent.</span><br>
      
   </p>
</main>