---
title: Shakespeares Sonnets - Sonnet 119
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>119</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      What potions have I drunk of Siren tears<br>
      
      Distilled from limbecks foul as hell within,<br>
      
      Applying fears to hopes, and hopes to fears,<br>
      
      Still losing when I saw my self to win!<br>
      
      What wretched errors hath my heart committed,<br>
      
      Whilst it hath thought it self so blessed never!<br>
      
      How have mine eyes out of their spheres been fitted<br>
      
      In the distraction of this madding fever!<br>
      
      O benefit of ill, now I find true<br>
      
      That better is, by evil still made better.<br>
      
      And ruined love when it is built anew<br>
      
      Grows fairer than at first, more strong, far greater.<br>
      
      So I return rebuked to my content,<br>
      
      <span class="pa4">So I return rebuked to my content,</span><br>
      
      <span class="pa4">And gain by ills thrice more than I have spent.</span><br>
      
    </p>
  </div>
</article>