---
title: Shakespeares Sonnets - Sonnet 12
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>12</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      When I do count the clock that tells the time,<br>
      
      And see the brave day sunk in hideous night,<br>
      
      When I behold the violet past prime,<br>
      
      And sable curls all silvered o'er with white:<br>
      
      When lofty trees I see barren of leaves,<br>
      
      Which erst from heat did canopy the herd<br>
      
      And summer's green all girded up in sheaves<br>
      
      Borne on the bier with white and bristly beard:<br>
      
      Then of thy beauty do I question make<br>
      
      That thou among the wastes of time must go,<br>
      
      Since sweets and beauties do themselves forsake,<br>
      
      And die as fast as they see others grow,<br>
      
      And nothing 'gainst Time's scythe can make defence<br>
      
      <span class="pa4">And nothing 'gainst Time's scythe can make defence</span><br>
      
      <span class="pa4">Save breed to brave him, when he takes thee hence.</span><br>
      
    </p>
  </div>
</article>