---
title: Shakespeares Sonnets - Sonnet 120
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>120</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        That you were once unkind befriends me now,
      
        And for that sorrow, which I then did feel,
      
        Needs must I under my transgression bow,
      
        Unless my nerves were brass or hammered steel.
      
        For if you were by my unkindness shaken
      
        As I by yours, y'have passed a hell of time,
      
        And I a tyrant have no leisure taken
      
        To weigh how once I suffered in your crime.
      
        O that our night of woe might have remembered
      
        My deepest sense, how hard true sorrow hits,
      
        And soon to you, as you to me then tendered
      
        The humble salve, which wounded bosoms fits!
      
        But that your trespass now becomes a fee,
      
        Mine ransoms yours, and yours must ransom me.
      
    </p>
  </div>
</article>