---
title: Shakespeares Sonnets - Sonnet 120
---

<main class="pa3 pa5-ns">
  <p> 120</p>
   <p class="f6 lh-copy measure">
      
      That you were once unkind befriends me now,<br>
      
      And for that sorrow, which I then did feel,<br>
      
      Needs must I under my transgression bow,<br>
      
      Unless my nerves were brass or hammered steel.<br>
      
      For if you were by my unkindness shaken<br>
      
      As I by yours, y'have passed a hell of time,<br>
      
      And I a tyrant have no leisure taken<br>
      
      To weigh how once I suffered in your crime.<br>
      
      O that our night of woe might have remembered<br>
      
      My deepest sense, how hard true sorrow hits,<br>
      
      And soon to you, as you to me then tendered<br>
      
      The humble salve, which wounded bosoms fits!<br>
      
      <span class="pa2">But that your trespass now becomes a fee,</span><br>
      
      <span class="pa2">Mine ransoms yours, and yours must ransom me.</span><br>
      
   </p>
</main>