---
title: Shakespeares Sonnets - Sonnet 120
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>120</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      That you were once unkind befriends me now,<br>
      
      And for that sorrow, which I then did feel,<br>
      
      Needs must I under my transgression bow,<br>
      
      Unless my nerves were brass or hammered steel.<br>
      
      For if you were by my unkindness shaken<br>
      
      As I by yours, y'have passed a hell of time,<br>
      
      And I a tyrant have no leisure taken<br>
      
      To weigh how once I suffered in your crime.<br>
      
      O that our night of woe might have remembered<br>
      
      My deepest sense, how hard true sorrow hits,<br>
      
      And soon to you, as you to me then tendered<br>
      
      The humble salve, which wounded bosoms fits!<br>
      
      But that your trespass now becomes a fee,<br>
      
      <span class="pa4">But that your trespass now becomes a fee,</span><br>
      
      <span class="pa4">Mine ransoms yours, and yours must ransom me.</span><br>
      
    </p>
  </div>
</article>