---
title: Shakespeares Sonnets - Sonnet 121
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>121</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      'Tis better to be vile than vile esteemed,<br>
      
      When not to be, receives reproach of being,<br>
      
      And the just pleasure lost, which is so deemed,<br>
      
      Not by our feeling, but by others' seeing.<br>
      
      For why should others' false adulterate eyes<br>
      
      Give salutation to my sportive blood?<br>
      
      Or on my frailties why are frailer spies,<br>
      
      Which in their wills count bad what I think good?<br>
      
      No, I am that I am, and they that level<br>
      
      At my abuses, reckon up their own,<br>
      
      I may be straight though they themselves be bevel;<br>
      
      By their rank thoughts, my deeds must not be shown<br>
      
      Unless this general evil they maintain,<br>
      
      <span class="pa4">Unless this general evil they maintain,</span><br>
      
      <span class="pa4">All men are bad and in their badness reign.</span><br>
      
    </p>
  </div>
</article>