---
title: Shakespeares Sonnets - Sonnet 121
---

<main class="pa3 pa5-ns">
  <p> 121</p>
   <p class="f6 lh-copy measure">
      
      'Tis better to be vile than vile esteemed,<br>
      
      When not to be, receives reproach of being,<br>
      
      And the just pleasure lost, which is so deemed,<br>
      
      Not by our feeling, but by others' seeing.<br>
      
      For why should others' false adulterate eyes<br>
      
      Give salutation to my sportive blood?<br>
      
      Or on my frailties why are frailer spies,<br>
      
      Which in their wills count bad what I think good?<br>
      
      No, I am that I am, and they that level<br>
      
      At my abuses, reckon up their own,<br>
      
      I may be straight though they themselves be bevel;<br>
      
      By their rank thoughts, my deeds must not be shown<br>
      
      <span class="pa2">Unless this general evil they maintain,</span><br>
      
      <span class="pa2">All men are bad and in their badness reign.</span><br>
      
   </p>
</main>