---
title: Shakespeares Sonnets - Sonnet 122
---

<main class="pa3 pa5-ns">
  <p> 122</p>
   <p class="f6 lh-copy measure">
      
      Thy gift, thy tables, are within my brain<br>
      
      Full charactered with lasting memory,<br>
      
      Which shall above that idle rank remain<br>
      
      Beyond all date even to eternity.<br>
      
      Or at the least, so long as brain and heart<br>
      
      Have faculty by nature to subsist,<br>
      
      Till each to razed oblivion yield his part<br>
      
      Of thee, thy record never can be missed:<br>
      
      That poor retention could not so much hold,<br>
      
      Nor need I tallies thy dear love to score,<br>
      
      Therefore to give them from me was I bold,<br>
      
      To trust those tables that receive thee more:<br>
      
      To keep an adjunct to remember thee<br>
      
      <span class="pa2">To keep an adjunct to remember thee</span><br>
      
      <span class="pa2">Were to import forgetfulness in me.</span><br>
      
   </p>
</main>