---
title: Shakespeares Sonnets - Sonnet 122
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>122</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Thy gift, thy tables, are within my brain
      
        Full charactered with lasting memory,
      
        Which shall above that idle rank remain
      
        Beyond all date even to eternity.
      
        Or at the least, so long as brain and heart
      
        Have faculty by nature to subsist,
      
        Till each to razed oblivion yield his part
      
        Of thee, thy record never can be missed:
      
        That poor retention could not so much hold,
      
        Nor need I tallies thy dear love to score,
      
        Therefore to give them from me was I bold,
      
        To trust those tables that receive thee more:
      
        To keep an adjunct to remember thee
      
        Were to import forgetfulness in me.
      
    </p>
  </div>
</article>