---
title: Shakespeares Sonnets - Sonnet 123
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>123</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        No! Time, thou shalt not boast that I do change,
      
        Thy pyramids built up with newer might
      
        To me are nothing novel, nothing strange,
      
        They are but dressings Of a former sight:
      
        Our dates are brief, and therefore we admire,
      
        What thou dost foist upon us that is old,
      
        And rather make them born to our desire,
      
        Than think that we before have heard them told:
      
        Thy registers and thee I both defy,
      
        Not wond'ring at the present, nor the past,
      
        For thy records, and what we see doth lie,
      
        Made more or less by thy continual haste:
      
        This I do vow and this shall ever be,
      
        I will be true despite thy scythe and thee.
      
    </p>
  </div>
</article>