---
title: Shakespeares Sonnets - Sonnet 123
---

<main class="pa3 pa5-ns">
  <p> 123</p>
   <p class="f6 lh-copy measure">
      
      No! Time, thou shalt not boast that I do change,<br>
      
      Thy pyramids built up with newer might<br>
      
      To me are nothing novel, nothing strange,<br>
      
      They are but dressings Of a former sight:<br>
      
      Our dates are brief, and therefore we admire,<br>
      
      What thou dost foist upon us that is old,<br>
      
      And rather make them born to our desire,<br>
      
      Than think that we before have heard them told:<br>
      
      Thy registers and thee I both defy,<br>
      
      Not wond'ring at the present, nor the past,<br>
      
      For thy records, and what we see doth lie,<br>
      
      Made more or less by thy continual haste:<br>
      
      <span class="pa2">This I do vow and this shall ever be,</span><br>
      
      <span class="pa2">I will be true despite thy scythe and thee.</span><br>
      
   </p>
</main>