---
title: Shakespeares Sonnets - Sonnet 124
---

<main class="pa3 pa5-ns">
  <p> 124</p>
   <p class="f6 lh-copy measure">
      
      If my dear love were but the child of state,<br>
      
      It might for Fortune's bastard be unfathered,<br>
      
      As subject to time's love or to time's hate,<br>
      
      Weeds among weeds, or flowers with flowers gathered.<br>
      
      No it was builded far from accident,<br>
      
      It suffers not in smiling pomp, nor falls<br>
      
      Under the blow of thralled discontent,<br>
      
      Whereto th' inviting time our fashion calls:<br>
      
      It fears not policy that heretic,<br>
      
      Which works on leases of short-numbered hours,<br>
      
      But all alone stands hugely politic,<br>
      
      That it nor grows with heat, nor drowns with showers.<br>
      
      To this I witness call the fools of time,<br>
      
      <span class="pa2">To this I witness call the fools of time,</span><br>
      
      <span class="pa2">Which die for goodness, who have lived for crime.</span><br>
      
   </p>
</main>