---
title: Shakespeares Sonnets - Sonnet 124
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>124</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      If my dear love were but the child of state,<br>
      
      It might for Fortune's bastard be unfathered,<br>
      
      As subject to time's love or to time's hate,<br>
      
      Weeds among weeds, or flowers with flowers gathered.<br>
      
      No it was builded far from accident,<br>
      
      It suffers not in smiling pomp, nor falls<br>
      
      Under the blow of thralled discontent,<br>
      
      Whereto th' inviting time our fashion calls:<br>
      
      It fears not policy that heretic,<br>
      
      Which works on leases of short-numbered hours,<br>
      
      But all alone stands hugely politic,<br>
      
      That it nor grows with heat, nor drowns with showers.<br>
      
      To this I witness call the fools of time,<br>
      
      <span class="pa4">To this I witness call the fools of time,</span><br>
      
      <span class="pa4">Which die for goodness, who have lived for crime.</span><br>
      
    </p>
  </div>
</article>