---
title: Shakespeares Sonnets - Sonnet 124
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>124</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        If my dear love were but the child of state,
      
        It might for Fortune's bastard be unfathered,
      
        As subject to time's love or to time's hate,
      
        Weeds among weeds, or flowers with flowers gathered.
      
        No it was builded far from accident,
      
        It suffers not in smiling pomp, nor falls
      
        Under the blow of thralled discontent,
      
        Whereto th' inviting time our fashion calls:
      
        It fears not policy that heretic,
      
        Which works on leases of short-numbered hours,
      
        But all alone stands hugely politic,
      
        That it nor grows with heat, nor drowns with showers.
      
        To this I witness call the fools of time,
      
        Which die for goodness, who have lived for crime.
      
    </p>
  </div>
</article>