---
title: Shakespeares Sonnets - Sonnet 125
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>125</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Were't aught to me I bore the canopy,
      
        With my extern the outward honouring,
      
        Or laid great bases for eternity,
      
        Which proves more short than waste or ruining?
      
        Have I not seen dwellers on form and favour
      
        Lose all, and more by paying too much rent
      
        For compound sweet; forgoing simple savour,
      
        Pitiful thrivers in their gazing spent?
      
        No, let me be obsequious in thy heart,
      
        And take thou my oblation, poor but free,
      
        Which is not mixed with seconds, knows no art,
      
        But mutual render, only me for thee.
      
        Hence, thou suborned informer, a true soul
      
        When most impeached, stands least in thy control.
      
    </p>
  </div>
</article>