---
title: Shakespeares Sonnets - Sonnet 125
---

<main class="pa3 pa5-ns">
  <p> 125</p>
   <p class="f6 lh-copy measure">
      
      Were't aught to me I bore the canopy,<br>
      
      With my extern the outward honouring,<br>
      
      Or laid great bases for eternity,<br>
      
      Which proves more short than waste or ruining?<br>
      
      Have I not seen dwellers on form and favour<br>
      
      Lose all, and more by paying too much rent<br>
      
      For compound sweet; forgoing simple savour,<br>
      
      Pitiful thrivers in their gazing spent?<br>
      
      No, let me be obsequious in thy heart,<br>
      
      And take thou my oblation, poor but free,<br>
      
      Which is not mixed with seconds, knows no art,<br>
      
      But mutual render, only me for thee.<br>
      
      <span class="pa2">Hence, thou suborned informer, a true soul</span><br>
      
      <span class="pa2">When most impeached, stands least in thy control.</span><br>
      
   </p>
</main>