---
title: Shakespeares Sonnets - Sonnet 125
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>125</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Were't aught to me I bore the canopy,<br>
      
      With my extern the outward honouring,<br>
      
      Or laid great bases for eternity,<br>
      
      Which proves more short than waste or ruining?<br>
      
      Have I not seen dwellers on form and favour<br>
      
      Lose all, and more by paying too much rent<br>
      
      For compound sweet; forgoing simple savour,<br>
      
      Pitiful thrivers in their gazing spent?<br>
      
      No, let me be obsequious in thy heart,<br>
      
      And take thou my oblation, poor but free,<br>
      
      Which is not mixed with seconds, knows no art,<br>
      
      But mutual render, only me for thee.<br>
      
      Hence, thou suborned informer, a true soul<br>
      
      <span class="pa4">Hence, thou suborned informer, a true soul</span><br>
      
      <span class="pa4">When most impeached, stands least in thy control.</span><br>
      
    </p>
  </div>
</article>