---
title: Shakespeares Sonnets - Sonnet 126
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>126</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O thou my lovely boy who in thy power,<br>
      
      Dost hold Time's fickle glass his fickle hour:<br>
      
      Who hast by waning grown, and therein show'st,<br>
      
      Thy lovers withering, as thy sweet self grow'st.<br>
      
      If Nature (sovereign mistress over wrack)<br>
      
      As thou goest onwards still will pluck thee back,<br>
      
      She keeps thee to this purpose, that her skill<br>
      
      May time disgrace, and wretched minutes kill.<br>
      
      Yet fear her O thou minion of her pleasure,<br>
      
      She may detain, but not still keep her treasure!<br>
      
      Her audit (though delayed) answered must be,<br>
      
      <span class="pa4">Her audit (though delayed) answered must be,</span><br>
      
      <span class="pa4">And her quietus is to render thee.</span><br>
      
    </p>
  </div>
</article>