---
title: Shakespeares Sonnets - Sonnet 126
---

<main class="pa3 pa5-ns">
  <p> 126</p>
   <p class="f6 lh-copy measure">
      
      O thou my lovely boy who in thy power,<br>
      
      Dost hold Time's fickle glass his fickle hour:<br>
      
      Who hast by waning grown, and therein show'st,<br>
      
      Thy lovers withering, as thy sweet self grow'st.<br>
      
      If Nature (sovereign mistress over wrack)<br>
      
      As thou goest onwards still will pluck thee back,<br>
      
      She keeps thee to this purpose, that her skill<br>
      
      May time disgrace, and wretched minutes kill.<br>
      
      Yet fear her O thou minion of her pleasure,<br>
      
      She may detain, but not still keep her treasure!<br>
      
      Her audit (though delayed) answered must be,<br>
      
      <span class="pa2">Her audit (though delayed) answered must be,</span><br>
      
      <span class="pa2">And her quietus is to render thee.</span><br>
      
   </p>
</main>