---
title: Shakespeares Sonnets - Sonnet 127
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>127</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      In the old age black was not counted fair,<br>
      
      Or if it were it bore not beauty's name:<br>
      
      But now is black beauty's successive heir,<br>
      
      And beauty slandered with a bastard shame,<br>
      
      For since each hand hath put on nature's power,<br>
      
      Fairing the foul with art's false borrowed face,<br>
      
      Sweet beauty hath no name no holy bower,<br>
      
      But is profaned, if not lives in disgrace.<br>
      
      Therefore my mistress' eyes are raven black,<br>
      
      Her eyes so suited, and they mourners seem,<br>
      
      At such who not born fair no beauty lack,<br>
      
      Slandering creation with a false esteem,<br>
      
      Yet so they mourn becoming of their woe,<br>
      
      <span class="pa4">Yet so they mourn becoming of their woe,</span><br>
      
      <span class="pa4">That every tongue says beauty should look so.</span><br>
      
    </p>
  </div>
</article>