---
title: Shakespeares Sonnets - Sonnet 128
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>128</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      How oft when thou, my music, music play'st,<br>
      
      Upon that blessed wood whose motion sounds<br>
      
      With thy sweet fingers when thou gently sway'st<br>
      
      The wiry concord that mine ear confounds,<br>
      
      Do I envy those jacks that nimble leap,<br>
      
      To kiss the tender inward of thy hand,<br>
      
      Whilst my poor lips which should that harvest reap,<br>
      
      At the wood's boldness by thee blushing stand.<br>
      
      To be so tickled they would change their state<br>
      
      And situation with those dancing chips,<br>
      
      O'er whom thy fingers walk with gentle gait,<br>
      
      Making dead wood more blest than living lips,<br>
      
      Since saucy jacks so happy are in this,<br>
      
      <span class="pa4">Since saucy jacks so happy are in this,</span><br>
      
      <span class="pa4">Give them thy fingers, me thy lips to kiss.</span><br>
      
    </p>
  </div>
</article>