---
title: Shakespeares Sonnets - Sonnet 128
---

<main class="pa3 pa5-ns">
  <p> 128</p>
   <p class="f6 lh-copy measure">
      
      How oft when thou, my music, music play'st,<br>
      
      Upon that blessed wood whose motion sounds<br>
      
      With thy sweet fingers when thou gently sway'st<br>
      
      The wiry concord that mine ear confounds,<br>
      
      Do I envy those jacks that nimble leap,<br>
      
      To kiss the tender inward of thy hand,<br>
      
      Whilst my poor lips which should that harvest reap,<br>
      
      At the wood's boldness by thee blushing stand.<br>
      
      To be so tickled they would change their state<br>
      
      And situation with those dancing chips,<br>
      
      O'er whom thy fingers walk with gentle gait,<br>
      
      Making dead wood more blest than living lips,<br>
      
      <span class="pa2">Since saucy jacks so happy are in this,</span><br>
      
      <span class="pa2">Give them thy fingers, me thy lips to kiss.</span><br>
      
   </p>
</main>