---
title: Shakespeares Sonnets - Sonnet 129
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>129</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Th' expense of spirit in a waste of shame<br>
      
      Is lust in action, and till action, lust<br>
      
      Is perjured, murd'rous, bloody full of blame,<br>
      
      Savage, extreme, rude, cruel, not to trust,<br>
      
      Enjoyed no sooner but despised straight,<br>
      
      Past reason hunted, and no sooner had<br>
      
      Past reason hated as a swallowed bait,<br>
      
      On purpose laid to make the taker mad.<br>
      
      Mad in pursuit and in possession so,<br>
      
      Had, having, and in quest, to have extreme,<br>
      
      A bliss in proof and proved, a very woe,<br>
      
      Before a joy proposed behind a dream.<br>
      
      All this the world well knows yet none knows well,<br>
      
      <span class="pa4">All this the world well knows yet none knows well,</span><br>
      
      <span class="pa4">To shun the heaven that leads men to this hell.</span><br>
      
    </p>
  </div>
</article>