---
title: Shakespeares Sonnets - Sonnet 129
---

<main class="pa3 pa5-ns">
  <p> 129</p>
   <p class="f6 lh-copy measure">
      
      Th' expense of spirit in a waste of shame<br>
      
      Is lust in action, and till action, lust<br>
      
      Is perjured, murd'rous, bloody full of blame,<br>
      
      Savage, extreme, rude, cruel, not to trust,<br>
      
      Enjoyed no sooner but despised straight,<br>
      
      Past reason hunted, and no sooner had<br>
      
      Past reason hated as a swallowed bait,<br>
      
      On purpose laid to make the taker mad.<br>
      
      Mad in pursuit and in possession so,<br>
      
      Had, having, and in quest, to have extreme,<br>
      
      A bliss in proof and proved, a very woe,<br>
      
      Before a joy proposed behind a dream.<br>
      
      <span class="pa2">All this the world well knows yet none knows well,</span><br>
      
      <span class="pa2">To shun the heaven that leads men to this hell.</span><br>
      
   </p>
</main>