---
title: Shakespeares Sonnets - Sonnet 13
---

<main class="pa3 pa5-ns">
  <p> 13</p>
   <p class="f6 lh-copy measure">
      
      O that you were your self, but love you are<br>
      
      No longer yours, than you your self here live,<br>
      
      Against this coming end you should prepare,<br>
      
      And your sweet semblance to some other give.<br>
      
      So should that beauty which you hold in lease<br>
      
      Find no determination, then you were<br>
      
      Your self again after your self's decease,<br>
      
      When your sweet issue your sweet form should bear.<br>
      
      Who lets so fair a house fall to decay,<br>
      
      Which husbandry in honour might uphold,<br>
      
      Against the stormy gusts of winter's day<br>
      
      And barren rage of death's eternal cold?<br>
      
      O none but unthrifts, dear my love you know,<br>
      
      <span class="pa2">O none but unthrifts, dear my love you know,</span><br>
      
      <span class="pa2">You had a father, let your son say so.</span><br>
      
   </p>
</main>