---
title: Shakespeares Sonnets - Sonnet 13
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>13</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        O that you were your self, but love you are
      
        No longer yours, than you your self here live,
      
        Against this coming end you should prepare,
      
        And your sweet semblance to some other give.
      
        So should that beauty which you hold in lease
      
        Find no determination, then you were
      
        Your self again after your self's decease,
      
        When your sweet issue your sweet form should bear.
      
        Who lets so fair a house fall to decay,
      
        Which husbandry in honour might uphold,
      
        Against the stormy gusts of winter's day
      
        And barren rage of death's eternal cold?
      
        O none but unthrifts, dear my love you know,
      
        You had a father, let your son say so.
      
    </p>
  </div>
</article>