---
title: Shakespeares Sonnets - Sonnet 131
---

<main class="pa3 pa5-ns">
  <p> 131</p>
   <p class="f6 lh-copy measure">
      
      Thou art as tyrannous, so as thou art,<br>
      
      As those whose beauties proudly make them cruel;<br>
      
      For well thou know'st to my dear doting heart<br>
      
      Thou art the fairest and most precious jewel.<br>
      
      Yet in good faith some say that thee behold,<br>
      
      Thy face hath not the power to make love groan;<br>
      
      To say they err, I dare not be so bold,<br>
      
      Although I swear it to my self alone.<br>
      
      And to be sure that is not false I swear,<br>
      
      A thousand groans but thinking on thy face,<br>
      
      One on another's neck do witness bear<br>
      
      Thy black is fairest in my judgment's place.<br>
      
      In nothing art thou black save in thy deeds,<br>
      
      <span class="pa2">In nothing art thou black save in thy deeds,</span><br>
      
      <span class="pa2">And thence this slander as I think proceeds.</span><br>
      
   </p>
</main>