---
title: Shakespeares Sonnets - Sonnet 131
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>131</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Thou art as tyrannous, so as thou art,<br>
      
      As those whose beauties proudly make them cruel;<br>
      
      For well thou know'st to my dear doting heart<br>
      
      Thou art the fairest and most precious jewel.<br>
      
      Yet in good faith some say that thee behold,<br>
      
      Thy face hath not the power to make love groan;<br>
      
      To say they err, I dare not be so bold,<br>
      
      Although I swear it to my self alone.<br>
      
      And to be sure that is not false I swear,<br>
      
      A thousand groans but thinking on thy face,<br>
      
      One on another's neck do witness bear<br>
      
      Thy black is fairest in my judgment's place.<br>
      
      In nothing art thou black save in thy deeds,<br>
      
      <span class="pa4">In nothing art thou black save in thy deeds,</span><br>
      
      <span class="pa4">And thence this slander as I think proceeds.</span><br>
      
    </p>
  </div>
</article>