---
title: Shakespeares Sonnets - Sonnet 132
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>132</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Thine eyes I love, and they as pitying me,<br>
      
      Knowing thy heart torment me with disdain,<br>
      
      Have put on black, and loving mourners be,<br>
      
      Looking with pretty ruth upon my pain.<br>
      
      And truly not the morning sun of heaven<br>
      
      Better becomes the grey cheeks of the east,<br>
      
      Nor that full star that ushers in the even<br>
      
      Doth half that glory to the sober west<br>
      
      As those two mourning eyes become thy face:<br>
      
      O let it then as well beseem thy heart<br>
      
      To mourn for me since mourning doth thee grace,<br>
      
      And suit thy pity like in every part.<br>
      
      Then will I swear beauty herself is black,<br>
      
      <span class="pa4">Then will I swear beauty herself is black,</span><br>
      
      <span class="pa4">And all they foul that thy complexion lack.</span><br>
      
    </p>
  </div>
</article>