---
title: Shakespeares Sonnets - Sonnet 132
---

<main class="pa3 pa5-ns">
  <p> 132</p>
   <p class="f6 lh-copy measure">
      
      Thine eyes I love, and they as pitying me,<br>
      
      Knowing thy heart torment me with disdain,<br>
      
      Have put on black, and loving mourners be,<br>
      
      Looking with pretty ruth upon my pain.<br>
      
      And truly not the morning sun of heaven<br>
      
      Better becomes the grey cheeks of the east,<br>
      
      Nor that full star that ushers in the even<br>
      
      Doth half that glory to the sober west<br>
      
      As those two mourning eyes become thy face:<br>
      
      O let it then as well beseem thy heart<br>
      
      To mourn for me since mourning doth thee grace,<br>
      
      And suit thy pity like in every part.<br>
      
      <span class="pa2">Then will I swear beauty herself is black,</span><br>
      
      <span class="pa2">And all they foul that thy complexion lack.</span><br>
      
   </p>
</main>