---
title: Shakespeares Sonnets - Sonnet 133
---

<main class="pa3 pa5-ns">
  <p> 133</p>
   <p class="f6 lh-copy measure">
      
      Beshrew that heart that makes my heart to groan<br>
      
      For that deep wound it gives my friend and me;<br>
      
      Is't not enough to torture me alone,<br>
      
      But slave to slavery my sweet'st friend must be?<br>
      
      Me from my self thy cruel eye hath taken,<br>
      
      And my next self thou harder hast engrossed,<br>
      
      Of him, my self, and thee I am forsaken,<br>
      
      A torment thrice three-fold thus to be crossed:<br>
      
      Prison my heart in thy steel bosom's ward,<br>
      
      But then my friend's heart let my poor heart bail,<br>
      
      Whoe'er keeps me, let my heart be his guard,<br>
      
      Thou canst not then use rigour in my gaol.<br>
      
      <span class="pa2">And yet thou wilt, for I being pent in thee,</span><br>
      
      <span class="pa2">Perforce am thine and all that is in me.</span><br>
      
   </p>
</main>