---
title: Shakespeares Sonnets - Sonnet 133
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>133</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Beshrew that heart that makes my heart to groan<br>
      
      For that deep wound it gives my friend and me;<br>
      
      Is't not enough to torture me alone,<br>
      
      But slave to slavery my sweet'st friend must be?<br>
      
      Me from my self thy cruel eye hath taken,<br>
      
      And my next self thou harder hast engrossed,<br>
      
      Of him, my self, and thee I am forsaken,<br>
      
      A torment thrice three-fold thus to be crossed:<br>
      
      Prison my heart in thy steel bosom's ward,<br>
      
      But then my friend's heart let my poor heart bail,<br>
      
      Whoe'er keeps me, let my heart be his guard,<br>
      
      Thou canst not then use rigour in my gaol.<br>
      
      And yet thou wilt, for I being pent in thee,<br>
      
      <span class="pa4">And yet thou wilt, for I being pent in thee,</span><br>
      
      <span class="pa4">Perforce am thine and all that is in me.</span><br>
      
    </p>
  </div>
</article>