---
title: Shakespeares Sonnets - Sonnet 134
---

<main class="pa3 pa5-ns">
  <p> 134</p>
   <p class="f6 lh-copy measure">
      
      So now I have confessed that he is thine,<br>
      
      And I my self am mortgaged to thy will,<br>
      
      My self I'll forfeit, so that other mine,<br>
      
      Thou wilt restore to be my comfort still:<br>
      
      But thou wilt not, nor he will not be free,<br>
      
      For thou art covetous, and he is kind,<br>
      
      He learned but surety-like to write for me,<br>
      
      Under that bond that him as fist doth bind.<br>
      
      The statute of thy beauty thou wilt take,<br>
      
      Thou usurer that put'st forth all to use,<br>
      
      And sue a friend, came debtor for my sake,<br>
      
      So him I lose through my unkind abuse.<br>
      
      <span class="pa2">Him have I lost, thou hast both him and me,</span><br>
      
      <span class="pa2">He pays the whole, and yet am I not free.</span><br>
      
   </p>
</main>