---
title: Shakespeares Sonnets - Sonnet 135
---

<main class="pa3 pa5-ns">
  <p> 135</p>
   <p class="f6 lh-copy measure">
      
      Whoever hath her wish, thou hast thy will,<br>
      
      And 'Will' to boot, and 'Will' in over-plus,<br>
      
      More than enough am I that vex thee still,<br>
      
      To thy sweet will making addition thus.<br>
      
      Wilt thou whose will is large and spacious,<br>
      
      Not once vouchsafe to hide my will in thine?<br>
      
      Shall will in others seem right gracious,<br>
      
      And in my will no fair acceptance shine?<br>
      
      The sea all water, yet receives rain still,<br>
      
      And in abundance addeth to his store,<br>
      
      So thou being rich in will add to thy will<br>
      
      One will of mine to make thy large will more.<br>
      
      Let no unkind, no fair beseechers kill,<br>
      
      <span class="pa2">Let no unkind, no fair beseechers kill,</span><br>
      
      <span class="pa2">Think all but one, and me in that one 'Will.'</span><br>
      
   </p>
</main>