---
title: Shakespeares Sonnets - Sonnet 135
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>135</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Whoever hath her wish, thou hast thy will,
      
        And 'Will' to boot, and 'Will' in over-plus,
      
        More than enough am I that vex thee still,
      
        To thy sweet will making addition thus.
      
        Wilt thou whose will is large and spacious,
      
        Not once vouchsafe to hide my will in thine?
      
        Shall will in others seem right gracious,
      
        And in my will no fair acceptance shine?
      
        The sea all water, yet receives rain still,
      
        And in abundance addeth to his store,
      
        So thou being rich in will add to thy will
      
        One will of mine to make thy large will more.
      
        Let no unkind, no fair beseechers kill,
      
        Think all but one, and me in that one 'Will.'
      
    </p>
  </div>
</article>