---
title: Shakespeares Sonnets - Sonnet 137
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>137</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Thou blind fool Love, what dost thou to mine eyes,<br>
      
      That they behold and see not what they see?<br>
      
      They know what beauty is, see where it lies,<br>
      
      Yet what the best is, take the worst to be.<br>
      
      If eyes corrupt by over-partial looks,<br>
      
      Be anchored in the bay where all men ride,<br>
      
      Why of eyes' falsehood hast thou forged hooks,<br>
      
      Whereto the judgment of my heart is tied?<br>
      
      Why should my heart think that a several plot,<br>
      
      Which my heart knows the wide world's common place?<br>
      
      Or mine eyes seeing this, say this is not<br>
      
      To put fair truth upon so foul a face?<br>
      
      In things right true my heart and eyes have erred,<br>
      
      <span class="pa4">In things right true my heart and eyes have erred,</span><br>
      
      <span class="pa4">And to this false plague are they now transferred.</span><br>
      
    </p>
  </div>
</article>