---
title: Shakespeares Sonnets - Sonnet 138
---

<main class="pa3 pa5-ns">
  <p> 138</p>
   <p class="f6 lh-copy measure">
      
      When my love swears that she is made of truth,<br>
      
      I do believe her though I know she lies,<br>
      
      That she might think me some untutored youth,<br>
      
      Unlearned in the world's false subtleties.<br>
      
      Thus vainly thinking that she thinks me young,<br>
      
      Although she knows my days are past the best,<br>
      
      Simply I credit her false-speaking tongue,<br>
      
      On both sides thus is simple truth suppressed:<br>
      
      But wherefore says she not she is unjust?<br>
      
      And wherefore say not I that I am old?<br>
      
      O love's best habit is in seeming trust,<br>
      
      And age in love, loves not to have years told.<br>
      
      Therefore I lie with her, and she with me,<br>
      
      <span class="pa2">Therefore I lie with her, and she with me,</span><br>
      
      <span class="pa2">And in our faults by lies we flattered be.</span><br>
      
   </p>
</main>