---
title: Shakespeares Sonnets - Sonnet 138
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>138</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        When my love swears that she is made of truth,
      
        I do believe her though I know she lies,
      
        That she might think me some untutored youth,
      
        Unlearned in the world's false subtleties.
      
        Thus vainly thinking that she thinks me young,
      
        Although she knows my days are past the best,
      
        Simply I credit her false-speaking tongue,
      
        On both sides thus is simple truth suppressed:
      
        But wherefore says she not she is unjust?
      
        And wherefore say not I that I am old?
      
        O love's best habit is in seeming trust,
      
        And age in love, loves not to have years told.
      
        Therefore I lie with her, and she with me,
      
        And in our faults by lies we flattered be.
      
    </p>
  </div>
</article>