---
title: Shakespeares Sonnets - Sonnet 139
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>139</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O call not me to justify the wrong,<br>
      
      That thy unkindness lays upon my heart,<br>
      
      Wound me not with thine eye but with thy tongue,<br>
      
      Use power with power, and slay me not by art,<br>
      
      Tell me thou lov'st elsewhere; but in my sight,<br>
      
      Dear heart forbear to glance thine eye aside,<br>
      
      What need'st thou wound with cunning when thy might<br>
      
      Is more than my o'erpressed defence can bide?<br>
      
      Let me excuse thee, ah my love well knows,<br>
      
      Her pretty looks have been mine enemies,<br>
      
      And therefore from my face she turns my foes,<br>
      
      That they elsewhere might dart their injuries:<br>
      
      Yet do not so, but since I am near slain,<br>
      
      <span class="pa4">Yet do not so, but since I am near slain,</span><br>
      
      <span class="pa4">Kill me outright with looks, and rid my pain.</span><br>
      
    </p>
  </div>
</article>