---
title: Shakespeares Sonnets - Sonnet 139
---

<main class="pa3 pa5-ns">
  <p> 139</p>
   <p class="f6 lh-copy measure">
      
      O call not me to justify the wrong,<br>
      
      That thy unkindness lays upon my heart,<br>
      
      Wound me not with thine eye but with thy tongue,<br>
      
      Use power with power, and slay me not by art,<br>
      
      Tell me thou lov'st elsewhere; but in my sight,<br>
      
      Dear heart forbear to glance thine eye aside,<br>
      
      What need'st thou wound with cunning when thy might<br>
      
      Is more than my o'erpressed defence can bide?<br>
      
      Let me excuse thee, ah my love well knows,<br>
      
      Her pretty looks have been mine enemies,<br>
      
      And therefore from my face she turns my foes,<br>
      
      That they elsewhere might dart their injuries:<br>
      
      Yet do not so, but since I am near slain,<br>
      
      <span class="pa2">Yet do not so, but since I am near slain,</span><br>
      
      <span class="pa2">Kill me outright with looks, and rid my pain.</span><br>
      
   </p>
</main>