---
title: Shakespeares Sonnets - Sonnet 140
---

<main class="pa3 pa5-ns">
  <p> 140</p>
   <p class="f6 lh-copy measure">
      
      Be wise as thou art cruel, do not press<br>
      
      My tongue-tied patience with too much disdain:<br>
      
      Lest sorrow lend me words and words express,<br>
      
      The manner of my pity-wanting pain.<br>
      
      If I might teach thee wit better it were,<br>
      
      Though not to love, yet love to tell me so,<br>
      
      As testy sick men when their deaths be near,<br>
      
      No news but health from their physicians know.<br>
      
      For if I should despair I should grow mad,<br>
      
      And in my madness might speak ill of thee,<br>
      
      Now this ill-wresting world is grown so bad,<br>
      
      Mad slanderers by mad ears believed be.<br>
      
      <span class="pa2">That I may not be so, nor thou belied,</span><br>
      
      <span class="pa2">Bear thine eyes straight, though thy proud heart go wide.</span><br>
      
   </p>
</main>