---
title: Shakespeares Sonnets - Sonnet 140
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>140</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Be wise as thou art cruel, do not press
      
        My tongue-tied patience with too much disdain:
      
        Lest sorrow lend me words and words express,
      
        The manner of my pity-wanting pain.
      
        If I might teach thee wit better it were,
      
        Though not to love, yet love to tell me so,
      
        As testy sick men when their deaths be near,
      
        No news but health from their physicians know.
      
        For if I should despair I should grow mad,
      
        And in my madness might speak ill of thee,
      
        Now this ill-wresting world is grown so bad,
      
        Mad slanderers by mad ears believed be.
      
        That I may not be so, nor thou belied,
      
        Bear thine eyes straight, though thy proud heart go wide.
      
    </p>
  </div>
</article>