---
title: Shakespeares Sonnets - Sonnet 144
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>144</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Two loves I have of comfort and despair,<br>
      
      Which like two spirits do suggest me still,<br>
      
      The better angel is a man right fair:<br>
      
      The worser spirit a woman coloured ill.<br>
      
      To win me soon to hell my female evil,<br>
      
      Tempteth my better angel from my side,<br>
      
      And would corrupt my saint to be a devil:<br>
      
      Wooing his purity with her foul pride.<br>
      
      And whether that my angel be turned fiend,<br>
      
      Suspect I may, yet not directly tell,<br>
      
      But being both from me both to each friend,<br>
      
      I guess one angel in another's hell.<br>
      
      Yet this shall I ne'er know but live in doubt,<br>
      
      <span class="pa4">Yet this shall I ne'er know but live in doubt,</span><br>
      
      <span class="pa4">Till my bad angel fire my good one out.</span><br>
      
    </p>
  </div>
</article>