---
title: Shakespeares Sonnets - Sonnet 144
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>144</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Two loves I have of comfort and despair,
      
        Which like two spirits do suggest me still,
      
        The better angel is a man right fair:
      
        The worser spirit a woman coloured ill.
      
        To win me soon to hell my female evil,
      
        Tempteth my better angel from my side,
      
        And would corrupt my saint to be a devil:
      
        Wooing his purity with her foul pride.
      
        And whether that my angel be turned fiend,
      
        Suspect I may, yet not directly tell,
      
        But being both from me both to each friend,
      
        I guess one angel in another's hell.
      
        Yet this shall I ne'er know but live in doubt,
      
        Till my bad angel fire my good one out.
      
    </p>
  </div>
</article>