---
title: Shakespeares Sonnets - Sonnet 145
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>145</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Those lips that Love's own hand did make,
      
        Breathed forth the sound that said 'I hate',
      
        To me that languished for her sake:
      
        But when she saw my woeful state,
      
        Straight in her heart did mercy come,
      
        Chiding that tongue that ever sweet,
      
        Was used in giving gentle doom:
      
        And taught it thus anew to greet:
      
        'I hate' she altered with an end,
      
        That followed it as gentle day,
      
        Doth follow night who like a fiend
      
        From heaven to hell is flown away.
      
        'I hate', from hate away she threw,
      
        And saved my life saying 'not you'.
      
    </p>
  </div>
</article>