---
title: Shakespeares Sonnets - Sonnet 145
---

<main class="pa3 pa5-ns">
  <p> 145</p>
   <p class="f6 lh-copy measure">
      
      Those lips that Love's own hand did make,<br>
      
      Breathed forth the sound that said 'I hate',<br>
      
      To me that languished for her sake:<br>
      
      But when she saw my woeful state,<br>
      
      Straight in her heart did mercy come,<br>
      
      Chiding that tongue that ever sweet,<br>
      
      Was used in giving gentle doom:<br>
      
      And taught it thus anew to greet:<br>
      
      'I hate' she altered with an end,<br>
      
      That followed it as gentle day,<br>
      
      Doth follow night who like a fiend<br>
      
      From heaven to hell is flown away.<br>
      
      <span class="pa2">'I hate', from hate away she threw,</span><br>
      
      <span class="pa2">And saved my life saying 'not you'.</span><br>
      
   </p>
</main>