---
title: Shakespeares Sonnets - Sonnet 147
---

<main class="pa3 pa5-ns">
  <p> 147</p>
   <p class="f6 lh-copy measure">
      
      My love is as a fever longing still,<br>
      
      For that which longer nurseth the disease,<br>
      
      Feeding on that which doth preserve the ill,<br>
      
      Th' uncertain sickly appetite to please:<br>
      
      My reason the physician to my love,<br>
      
      Angry that his prescriptions are not kept<br>
      
      Hath left me, and I desperate now approve,<br>
      
      Desire is death, which physic did except.<br>
      
      Past cure I am, now reason is past care,<br>
      
      And frantic-mad with evermore unrest,<br>
      
      My thoughts and my discourse as mad men's are,<br>
      
      At random from the truth vainly expressed.<br>
      
      <span class="pa2">For I have sworn thee fair, and thought thee bright,</span><br>
      
      <span class="pa2">Who art as black as hell, as dark as night.</span><br>
      
   </p>
</main>