---
title: Shakespeares Sonnets - Sonnet 147
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>147</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      My love is as a fever longing still,<br>
      
      For that which longer nurseth the disease,<br>
      
      Feeding on that which doth preserve the ill,<br>
      
      Th' uncertain sickly appetite to please:<br>
      
      My reason the physician to my love,<br>
      
      Angry that his prescriptions are not kept<br>
      
      Hath left me, and I desperate now approve,<br>
      
      Desire is death, which physic did except.<br>
      
      Past cure I am, now reason is past care,<br>
      
      And frantic-mad with evermore unrest,<br>
      
      My thoughts and my discourse as mad men's are,<br>
      
      At random from the truth vainly expressed.<br>
      
      For I have sworn thee fair, and thought thee bright,<br>
      
      <span class="pa4">For I have sworn thee fair, and thought thee bright,</span><br>
      
      <span class="pa4">Who art as black as hell, as dark as night.</span><br>
      
    </p>
  </div>
</article>