---
title: Shakespeares Sonnets - Sonnet 148
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>148</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O me! what eyes hath love put in my head,<br>
      
      Which have no correspondence with true sight,<br>
      
      Or if they have, where is my judgment fled,<br>
      
      That censures falsely what they see aright?<br>
      
      If that be fair whereon my false eyes dote,<br>
      
      What means the world to say it is not so?<br>
      
      If it be not, then love doth well denote,<br>
      
      Love's eye is not so true as all men's: no,<br>
      
      How can it? O how can love's eye be true,<br>
      
      That is so vexed with watching and with tears?<br>
      
      No marvel then though I mistake my view,<br>
      
      The sun it self sees not, till heaven clears.<br>
      
      O cunning love, with tears thou keep'st me blind,<br>
      
      <span class="pa4">O cunning love, with tears thou keep'st me blind,</span><br>
      
      <span class="pa4">Lest eyes well-seeing thy foul faults should find.</span><br>
      
    </p>
  </div>
</article>