---
title: Shakespeares Sonnets - Sonnet 149
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>149</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Canst thou O cruel, say I love thee not,<br>
      
      When I against my self with thee partake?<br>
      
      Do I not think on thee when I forgot<br>
      
      Am of my self, all-tyrant, for thy sake?<br>
      
      Who hateth thee that I do call my friend,<br>
      
      On whom frown'st thou that I do fawn upon,<br>
      
      Nay if thou lour'st on me do I not spend<br>
      
      Revenge upon my self with present moan?<br>
      
      What merit do I in my self respect,<br>
      
      That is so proud thy service to despise,<br>
      
      When all my best doth worship thy defect,<br>
      
      Commanded by the motion of thine eyes?<br>
      
      But love hate on for now I know thy mind,<br>
      
      <span class="pa4">But love hate on for now I know thy mind,</span><br>
      
      <span class="pa4">Those that can see thou lov'st, and I am blind.</span><br>
      
    </p>
  </div>
</article>