---
title: Shakespeares Sonnets - Sonnet 149
---

<main class="pa3 pa5-ns">
  <p> 149</p>
   <p class="f6 lh-copy measure">
      
      Canst thou O cruel, say I love thee not,<br>
      
      When I against my self with thee partake?<br>
      
      Do I not think on thee when I forgot<br>
      
      Am of my self, all-tyrant, for thy sake?<br>
      
      Who hateth thee that I do call my friend,<br>
      
      On whom frown'st thou that I do fawn upon,<br>
      
      Nay if thou lour'st on me do I not spend<br>
      
      Revenge upon my self with present moan?<br>
      
      What merit do I in my self respect,<br>
      
      That is so proud thy service to despise,<br>
      
      When all my best doth worship thy defect,<br>
      
      Commanded by the motion of thine eyes?<br>
      
      <span class="pa2">But love hate on for now I know thy mind,</span><br>
      
      <span class="pa2">Those that can see thou lov'st, and I am blind.</span><br>
      
   </p>
</main>