---
title: Shakespeares Sonnets - Sonnet 15
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>15</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      When I consider every thing that grows<br>
      
      Holds in perfection but a little moment.<br>
      
      That this huge stage presenteth nought but shows<br>
      
      Whereon the stars in secret influence comment.<br>
      
      When I perceive that men as plants increase,<br>
      
      Cheered and checked even by the self-same sky:<br>
      
      Vaunt in their youthful sap, at height decrease,<br>
      
      And wear their brave state out of memory.<br>
      
      Then the conceit of this inconstant stay,<br>
      
      Sets you most rich in youth before my sight,<br>
      
      Where wasteful time debateth with decay<br>
      
      To change your day of youth to sullied night,<br>
      
      And all in war with Time for love of you,<br>
      
      <span class="pa4">And all in war with Time for love of you,</span><br>
      
      <span class="pa4">As he takes from you, I engraft you new.</span><br>
      
    </p>
  </div>
</article>