---
title: Shakespeares Sonnets - Sonnet 15
---

<main class="pa3 pa5-ns">
  <p> 15</p>
   <p class="f6 lh-copy measure">
      
      When I consider every thing that grows<br>
      
      Holds in perfection but a little moment.<br>
      
      That this huge stage presenteth nought but shows<br>
      
      Whereon the stars in secret influence comment.<br>
      
      When I perceive that men as plants increase,<br>
      
      Cheered and checked even by the self-same sky:<br>
      
      Vaunt in their youthful sap, at height decrease,<br>
      
      And wear their brave state out of memory.<br>
      
      Then the conceit of this inconstant stay,<br>
      
      Sets you most rich in youth before my sight,<br>
      
      Where wasteful time debateth with decay<br>
      
      To change your day of youth to sullied night,<br>
      
      And all in war with Time for love of you,<br>
      
      <span class="pa2">And all in war with Time for love of you,</span><br>
      
      <span class="pa2">As he takes from you, I engraft you new.</span><br>
      
   </p>
</main>