---
title: Shakespeares Sonnets - Sonnet 150
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>150</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O from what power hast thou this powerful might,<br>
      
      With insufficiency my heart to sway,<br>
      
      To make me give the lie to my true sight,<br>
      
      And swear that brightness doth not grace the day?<br>
      
      Whence hast thou this becoming of things ill,<br>
      
      That in the very refuse of thy deeds,<br>
      
      There is such strength and warrantise of skill,<br>
      
      That in my mind thy worst all best exceeds?<br>
      
      Who taught thee how to make me love thee more,<br>
      
      The more I hear and see just cause of hate?<br>
      
      O though I love what others do abhor,<br>
      
      With others thou shouldst not abhor my state.<br>
      
      If thy unworthiness raised love in me,<br>
      
      <span class="pa4">If thy unworthiness raised love in me,</span><br>
      
      <span class="pa4">More worthy I to be beloved of thee.</span><br>
      
    </p>
  </div>
</article>