---
title: Shakespeares Sonnets - Sonnet 150
---

<main class="pa3 pa5-ns">
  <p> 150</p>
   <p class="f6 lh-copy measure">
      
      O from what power hast thou this powerful might,<br>
      
      With insufficiency my heart to sway,<br>
      
      To make me give the lie to my true sight,<br>
      
      And swear that brightness doth not grace the day?<br>
      
      Whence hast thou this becoming of things ill,<br>
      
      That in the very refuse of thy deeds,<br>
      
      There is such strength and warrantise of skill,<br>
      
      That in my mind thy worst all best exceeds?<br>
      
      Who taught thee how to make me love thee more,<br>
      
      The more I hear and see just cause of hate?<br>
      
      O though I love what others do abhor,<br>
      
      With others thou shouldst not abhor my state.<br>
      
      If thy unworthiness raised love in me,<br>
      
      <span class="pa2">If thy unworthiness raised love in me,</span><br>
      
      <span class="pa2">More worthy I to be beloved of thee.</span><br>
      
   </p>
</main>