---
title: Shakespeares Sonnets - Sonnet 151
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>151</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Love is too young to know what conscience is,
      
        Yet who knows not conscience is born of love?
      
        Then gentle cheater urge not my amiss,
      
        Lest guilty of my faults thy sweet self prove.
      
        For thou betraying me, I do betray
      
        My nobler part to my gross body's treason,
      
        My soul doth tell my body that he may,
      
        Triumph in love, flesh stays no farther reason,
      
        But rising at thy name doth point out thee,
      
        As his triumphant prize, proud of this pride,
      
        He is contented thy poor drudge to be,
      
        To stand in thy affairs, fall by thy side.
      
        No want of conscience hold it that I call,
      
        Her love, for whose dear love I rise and fall.
      
    </p>
  </div>
</article>