---
title: Shakespeares Sonnets - Sonnet 151
---

<main class="pa3 pa5-ns">
  <p> 151</p>
   <p class="f6 lh-copy measure">
      
      Love is too young to know what conscience is,<br>
      
      Yet who knows not conscience is born of love?<br>
      
      Then gentle cheater urge not my amiss,<br>
      
      Lest guilty of my faults thy sweet self prove.<br>
      
      For thou betraying me, I do betray<br>
      
      My nobler part to my gross body's treason,<br>
      
      My soul doth tell my body that he may,<br>
      
      Triumph in love, flesh stays no farther reason,<br>
      
      But rising at thy name doth point out thee,<br>
      
      As his triumphant prize, proud of this pride,<br>
      
      He is contented thy poor drudge to be,<br>
      
      To stand in thy affairs, fall by thy side.<br>
      
      No want of conscience hold it that I call,<br>
      
      <span class="pa2">No want of conscience hold it that I call,</span><br>
      
      <span class="pa2">Her love, for whose dear love I rise and fall.</span><br>
      
   </p>
</main>