---
title: Shakespeares Sonnets - Sonnet 153
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>153</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Cupid laid by his brand and fell asleep,
      
        A maid of Dian's this advantage found,
      
        And his love-kindling fire did quickly steep
      
        In a cold valley-fountain of that ground:
      
        Which borrowed from this holy fire of Love,
      
        A dateless lively heat still to endure,
      
        And grew a seeting bath which yet men prove,
      
        Against strange maladies a sovereign cure:
      
        But at my mistress' eye Love's brand new-fired,
      
        The boy for trial needs would touch my breast,
      
        I sick withal the help of bath desired,
      
        And thither hied a sad distempered guest.
      
        But found no cure, the bath for my help lies,
      
        Where Cupid got new fire; my mistress' eyes.
      
    </p>
  </div>
</article>