---
title: Shakespeares Sonnets - Sonnet 153
---

<main class="pa3 pa5-ns">
  <p> 153</p>
   <p class="f6 lh-copy measure">
      
      Cupid laid by his brand and fell asleep,<br>
      
      A maid of Dian's this advantage found,<br>
      
      And his love-kindling fire did quickly steep<br>
      
      In a cold valley-fountain of that ground:<br>
      
      Which borrowed from this holy fire of Love,<br>
      
      A dateless lively heat still to endure,<br>
      
      And grew a seeting bath which yet men prove,<br>
      
      Against strange maladies a sovereign cure:<br>
      
      But at my mistress' eye Love's brand new-fired,<br>
      
      The boy for trial needs would touch my breast,<br>
      
      I sick withal the help of bath desired,<br>
      
      And thither hied a sad distempered guest.<br>
      
      <span class="pa2">But found no cure, the bath for my help lies,</span><br>
      
      <span class="pa2">Where Cupid got new fire; my mistress' eyes.</span><br>
      
   </p>
</main>