---
title: Shakespeares Sonnets - Sonnet 154
---

<main class="pa3 pa5-ns">
  <p> 154</p>
   <p class="f6 lh-copy measure">
      
      The little Love-god lying once asleep,<br>
      
      Laid by his side his heart-inflaming brand,<br>
      
      Whilst many nymphs that vowed chaste life to keep,<br>
      
      Came tripping by, but in her maiden hand,<br>
      
      The fairest votary took up that fire,<br>
      
      Which many legions of true hearts had warmed,<br>
      
      And so the general of hot desire,<br>
      
      Was sleeping by a virgin hand disarmed.<br>
      
      This brand she quenched in a cool well by,<br>
      
      Which from Love's fire took heat perpetual,<br>
      
      Growing a bath and healthful remedy,<br>
      
      For men discased, but I my mistress' thrall,<br>
      
      Came there for cure and this by that I prove,<br>
      
      <span class="pa2">Came there for cure and this by that I prove,</span><br>
      
      <span class="pa2">Love's fire heats water, water cools not love.</span><br>
      
   </p>
</main>