---
title: Shakespeares Sonnets - Sonnet 154
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>154</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      The little Love-god lying once asleep,<br>
      
      Laid by his side his heart-inflaming brand,<br>
      
      Whilst many nymphs that vowed chaste life to keep,<br>
      
      Came tripping by, but in her maiden hand,<br>
      
      The fairest votary took up that fire,<br>
      
      Which many legions of true hearts had warmed,<br>
      
      And so the general of hot desire,<br>
      
      Was sleeping by a virgin hand disarmed.<br>
      
      This brand she quenched in a cool well by,<br>
      
      Which from Love's fire took heat perpetual,<br>
      
      Growing a bath and healthful remedy,<br>
      
      For men discased, but I my mistress' thrall,<br>
      
      Came there for cure and this by that I prove,<br>
      
      <span class="pa4">Came there for cure and this by that I prove,</span><br>
      
      <span class="pa4">Love's fire heats water, water cools not love.</span><br>
      
    </p>
  </div>
</article>