---
title: Shakespeares Sonnets - Sonnet 17
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>17</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Who will believe my verse in time to come<br>
      
      If it were filled with your most high deserts?<br>
      
      Though yet heaven knows it is but as a tomb<br>
      
      Which hides your life, and shows not half your parts:<br>
      
      If I could write the beauty of your eyes,<br>
      
      And in fresh numbers number all your graces,<br>
      
      The age to come would say this poet lies,<br>
      
      Such heavenly touches ne'er touched earthly faces.<br>
      
      So should my papers (yellowed with their age)<br>
      
      Be scorned, like old men of less truth than tongue,<br>
      
      And your true rights be termed a poet's rage,<br>
      
      And stretched metre of an antique song.<br>
      
      But were some child of yours alive that time,<br>
      
      <span class="pa4">But were some child of yours alive that time,</span><br>
      
      <span class="pa4">You should live twice in it, and in my rhyme.</span><br>
      
    </p>
  </div>
</article>