---
title: Shakespeares Sonnets - Sonnet 19
---

<main class="pa3 pa5-ns">
  <p> 19</p>
   <p class="f6 lh-copy measure">
      
      Devouring Time blunt thou the lion's paws,<br>
      
      And make the earth devour her own sweet brood,<br>
      
      Pluck the keen teeth from the fierce tiger's jaws,<br>
      
      And burn the long-lived phoenix, in her blood,<br>
      
      Make glad and sorry seasons as thou fleet'st,<br>
      
      And do whate'er thou wilt swift-footed Time<br>
      
      To the wide world and all her fading sweets:<br>
      
      But I forbid thee one most heinous crime,<br>
      
      O carve not with thy hours my love's fair brow,<br>
      
      Nor draw no lines there with thine antique pen,<br>
      
      Him in thy course untainted do allow,<br>
      
      For beauty's pattern to succeeding men.<br>
      
      <span class="pa2">Yet do thy worst old Time: despite thy wrong,</span><br>
      
      <span class="pa2">My love shall in my verse ever live young.</span><br>
      
   </p>
</main>