---
title: Shakespeares Sonnets - Sonnet 19
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>19</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Devouring Time blunt thou the lion's paws,
      
        And make the earth devour her own sweet brood,
      
        Pluck the keen teeth from the fierce tiger's jaws,
      
        And burn the long-lived phoenix, in her blood,
      
        Make glad and sorry seasons as thou fleet'st,
      
        And do whate'er thou wilt swift-footed Time
      
        To the wide world and all her fading sweets:
      
        But I forbid thee one most heinous crime,
      
        O carve not with thy hours my love's fair brow,
      
        Nor draw no lines there with thine antique pen,
      
        Him in thy course untainted do allow,
      
        For beauty's pattern to succeeding men.
      
        Yet do thy worst old Time: despite thy wrong,
      
        My love shall in my verse ever live young.
      
    </p>
  </div>
</article>