---
title: Shakespeares Sonnets - Sonnet 19
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>19</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Devouring Time blunt thou the lion's paws,<br>
      
      And make the earth devour her own sweet brood,<br>
      
      Pluck the keen teeth from the fierce tiger's jaws,<br>
      
      And burn the long-lived phoenix, in her blood,<br>
      
      Make glad and sorry seasons as thou fleet'st,<br>
      
      And do whate'er thou wilt swift-footed Time<br>
      
      To the wide world and all her fading sweets:<br>
      
      But I forbid thee one most heinous crime,<br>
      
      O carve not with thy hours my love's fair brow,<br>
      
      Nor draw no lines there with thine antique pen,<br>
      
      Him in thy course untainted do allow,<br>
      
      For beauty's pattern to succeeding men.<br>
      
      Yet do thy worst old Time: despite thy wrong,<br>
      
      <span class="pa4">Yet do thy worst old Time: despite thy wrong,</span><br>
      
      <span class="pa4">My love shall in my verse ever live young.</span><br>
      
    </p>
  </div>
</article>