---
title: Shakespeares Sonnets - Sonnet 20
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>20</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      A woman's face with nature's own hand painted,<br>
      
      Hast thou the master mistress of my passion,<br>
      
      A woman's gentle heart but not acquainted<br>
      
      With shifting change as is false women's fashion,<br>
      
      An eye more bright than theirs, less false in rolling:<br>
      
      Gilding the object whereupon it gazeth,<br>
      
      A man in hue all hues in his controlling,<br>
      
      Which steals men's eyes and women's souls amazeth.<br>
      
      And for a woman wert thou first created,<br>
      
      Till nature as she wrought thee fell a-doting,<br>
      
      And by addition me of thee defeated,<br>
      
      By adding one thing to my purpose nothing.<br>
      
      But since she pricked thee out for women's pleasure,<br>
      
      <span class="pa4">But since she pricked thee out for women's pleasure,</span><br>
      
      <span class="pa4">Mine be thy love and thy love's use their treasure.</span><br>
      
    </p>
  </div>
</article>