---
title: Shakespeares Sonnets - Sonnet 20
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>20</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        A woman's face with nature's own hand painted,
      
        Hast thou the master mistress of my passion,
      
        A woman's gentle heart but not acquainted
      
        With shifting change as is false women's fashion,
      
        An eye more bright than theirs, less false in rolling:
      
        Gilding the object whereupon it gazeth,
      
        A man in hue all hues in his controlling,
      
        Which steals men's eyes and women's souls amazeth.
      
        And for a woman wert thou first created,
      
        Till nature as she wrought thee fell a-doting,
      
        And by addition me of thee defeated,
      
        By adding one thing to my purpose nothing.
      
        But since she pricked thee out for women's pleasure,
      
        Mine be thy love and thy love's use their treasure.
      
    </p>
  </div>
</article>