---
title: Shakespeares Sonnets - Sonnet 20
---

<main class="pa3 pa5-ns">
  <p> 20</p>
   <p class="f6 lh-copy measure">
      
      A woman's face with nature's own hand painted,<br>
      
      Hast thou the master mistress of my passion,<br>
      
      A woman's gentle heart but not acquainted<br>
      
      With shifting change as is false women's fashion,<br>
      
      An eye more bright than theirs, less false in rolling:<br>
      
      Gilding the object whereupon it gazeth,<br>
      
      A man in hue all hues in his controlling,<br>
      
      Which steals men's eyes and women's souls amazeth.<br>
      
      And for a woman wert thou first created,<br>
      
      Till nature as she wrought thee fell a-doting,<br>
      
      And by addition me of thee defeated,<br>
      
      By adding one thing to my purpose nothing.<br>
      
      <span class="pa2">But since she pricked thee out for women's pleasure,</span><br>
      
      <span class="pa2">Mine be thy love and thy love's use their treasure.</span><br>
      
   </p>
</main>