---
title: Shakespeares Sonnets - Sonnet 21
---

<main class="pa3 pa5-ns">
  <p> 21</p>
   <p class="f6 lh-copy measure">
      
      So is it not with me as with that muse,<br>
      
      Stirred by a painted beauty to his verse,<br>
      
      Who heaven it self for ornament doth use,<br>
      
      And every fair with his fair doth rehearse,<br>
      
      Making a couplement of proud compare<br>
      
      With sun and moon, with earth and sea's rich gems:<br>
      
      With April's first-born flowers and all things rare,<br>
      
      That heaven's air in this huge rondure hems.<br>
      
      O let me true in love but truly write,<br>
      
      And then believe me, my love is as fair,<br>
      
      As any mother's child, though not so bright<br>
      
      As those gold candles fixed in heaven's air:<br>
      
      <span class="pa2">Let them say more that like of hearsay well,</span><br>
      
      <span class="pa2">I will not praise that purpose not to sell.</span><br>
      
   </p>
</main>