---
title: Shakespeares Sonnets - Sonnet 21
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>21</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      So is it not with me as with that muse,<br>
      
      Stirred by a painted beauty to his verse,<br>
      
      Who heaven it self for ornament doth use,<br>
      
      And every fair with his fair doth rehearse,<br>
      
      Making a couplement of proud compare<br>
      
      With sun and moon, with earth and sea's rich gems:<br>
      
      With April's first-born flowers and all things rare,<br>
      
      That heaven's air in this huge rondure hems.<br>
      
      O let me true in love but truly write,<br>
      
      And then believe me, my love is as fair,<br>
      
      As any mother's child, though not so bright<br>
      
      As those gold candles fixed in heaven's air:<br>
      
      Let them say more that like of hearsay well,<br>
      
      <span class="pa4">Let them say more that like of hearsay well,</span><br>
      
      <span class="pa4">I will not praise that purpose not to sell.</span><br>
      
    </p>
  </div>
</article>