---
title: Shakespeares Sonnets - Sonnet 22
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>22</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      My glass shall not persuade me I am old,<br>
      
      So long as youth and thou are of one date,<br>
      
      But when in thee time's furrows I behold,<br>
      
      Then look I death my days should expiate.<br>
      
      For all that beauty that doth cover thee,<br>
      
      Is but the seemly raiment of my heart,<br>
      
      Which in thy breast doth live, as thine in me,<br>
      
      How can I then be elder than thou art?<br>
      
      O therefore love be of thyself so wary,<br>
      
      As I not for my self, but for thee will,<br>
      
      Bearing thy heart which I will keep so chary<br>
      
      As tender nurse her babe from faring ill.<br>
      
      Presume not on thy heart when mine is slain,<br>
      
      <span class="pa4">Presume not on thy heart when mine is slain,</span><br>
      
      <span class="pa4">Thou gav'st me thine not to give back again.</span><br>
      
    </p>
  </div>
</article>