---
title: Shakespeares Sonnets - Sonnet 25
---

<main class="pa3 pa5-ns">
  <p> 25</p>
   <p class="f6 lh-copy measure">
      
      Let those who are in favour with their stars,<br>
      
      Of public honour and proud titles boast,<br>
      
      Whilst I whom fortune of such triumph bars<br>
      
      Unlooked for joy in that I honour most;<br>
      
      Great princes' favourites their fair leaves spread,<br>
      
      But as the marigold at the sun's eye,<br>
      
      And in themselves their pride lies buried,<br>
      
      For at a frown they in their glory die.<br>
      
      The painful warrior famoused for fight,<br>
      
      After a thousand victories once foiled,<br>
      
      Is from the book of honour razed quite,<br>
      
      And all the rest forgot for which he toiled:<br>
      
      Then happy I that love and am beloved<br>
      
      <span class="pa2">Then happy I that love and am beloved</span><br>
      
      <span class="pa2">Where I may not remove nor be removed.</span><br>
      
   </p>
</main>