---
title: Shakespeares Sonnets - Sonnet 25
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>25</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Let those who are in favour with their stars,<br>
      
      Of public honour and proud titles boast,<br>
      
      Whilst I whom fortune of such triumph bars<br>
      
      Unlooked for joy in that I honour most;<br>
      
      Great princes' favourites their fair leaves spread,<br>
      
      But as the marigold at the sun's eye,<br>
      
      And in themselves their pride lies buried,<br>
      
      For at a frown they in their glory die.<br>
      
      The painful warrior famoused for fight,<br>
      
      After a thousand victories once foiled,<br>
      
      Is from the book of honour razed quite,<br>
      
      And all the rest forgot for which he toiled:<br>
      
      Then happy I that love and am beloved<br>
      
      <span class="pa4">Then happy I that love and am beloved</span><br>
      
      <span class="pa4">Where I may not remove nor be removed.</span><br>
      
    </p>
  </div>
</article>