---
title: Shakespeares Sonnets - Sonnet 25
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>25</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Let those who are in favour with their stars,
      
        Of public honour and proud titles boast,
      
        Whilst I whom fortune of such triumph bars
      
        Unlooked for joy in that I honour most;
      
        Great princes' favourites their fair leaves spread,
      
        But as the marigold at the sun's eye,
      
        And in themselves their pride lies buried,
      
        For at a frown they in their glory die.
      
        The painful warrior famoused for fight,
      
        After a thousand victories once foiled,
      
        Is from the book of honour razed quite,
      
        And all the rest forgot for which he toiled:
      
        Then happy I that love and am beloved
      
        Where I may not remove nor be removed.
      
    </p>
  </div>
</article>