---
title: Shakespeares Sonnets - Sonnet 26
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>26</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Lord of my love, to whom in vassalage
      
        Thy merit hath my duty strongly knit;
      
        To thee I send this written embassage
      
        To witness duty, not to show my wit.
      
        Duty so great, which wit so poor as mine
      
        May make seem bare, in wanting words to show it;
      
        But that I hope some good conceit of thine
      
        In thy soul's thought (all naked) will bestow it:
      
        Till whatsoever star that guides my moving,
      
        Points on me graciously with fair aspect,
      
        And puts apparel on my tattered loving,
      
        To show me worthy of thy sweet respect,
      
        Then may I dare to boast how I do love thee,
      
        Till then, not show my head where thou mayst prove me.
      
    </p>
  </div>
</article>