---
title: Shakespeares Sonnets - Sonnet 26
---

<main class="pa3 pa5-ns">
  <p> 26</p>
   <p class="f6 lh-copy measure">
      
      Lord of my love, to whom in vassalage<br>
      
      Thy merit hath my duty strongly knit;<br>
      
      To thee I send this written embassage<br>
      
      To witness duty, not to show my wit.<br>
      
      Duty so great, which wit so poor as mine<br>
      
      May make seem bare, in wanting words to show it;<br>
      
      But that I hope some good conceit of thine<br>
      
      In thy soul's thought (all naked) will bestow it:<br>
      
      Till whatsoever star that guides my moving,<br>
      
      Points on me graciously with fair aspect,<br>
      
      And puts apparel on my tattered loving,<br>
      
      To show me worthy of thy sweet respect,<br>
      
      Then may I dare to boast how I do love thee,<br>
      
      <span class="pa2">Then may I dare to boast how I do love thee,</span><br>
      
      <span class="pa2">Till then, not show my head where thou mayst prove me.</span><br>
      
   </p>
</main>