---
title: Shakespeares Sonnets - Sonnet 26
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>26</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Lord of my love, to whom in vassalage<br>
      
      Thy merit hath my duty strongly knit;<br>
      
      To thee I send this written embassage<br>
      
      To witness duty, not to show my wit.<br>
      
      Duty so great, which wit so poor as mine<br>
      
      May make seem bare, in wanting words to show it;<br>
      
      But that I hope some good conceit of thine<br>
      
      In thy soul's thought (all naked) will bestow it:<br>
      
      Till whatsoever star that guides my moving,<br>
      
      Points on me graciously with fair aspect,<br>
      
      And puts apparel on my tattered loving,<br>
      
      To show me worthy of thy sweet respect,<br>
      
      Then may I dare to boast how I do love thee,<br>
      
      <span class="pa4">Then may I dare to boast how I do love thee,</span><br>
      
      <span class="pa4">Till then, not show my head where thou mayst prove me.</span><br>
      
    </p>
  </div>
</article>