---
title: Shakespeares Sonnets - Sonnet 27
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>27</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Weary with toil, I haste me to my bed,<br>
      
      The dear respose for limbs with travel tired,<br>
      
      But then begins a journey in my head<br>
      
      To work my mind, when body's work's expired.<br>
      
      For then my thoughts (from far where I abide)<br>
      
      Intend a zealous pilgrimage to thee,<br>
      
      And keep my drooping eyelids open wide,<br>
      
      Looking on darkness which the blind do see.<br>
      
      Save that my soul's imaginary sight<br>
      
      Presents thy shadow to my sightless view,<br>
      
      Which like a jewel (hung in ghastly night)<br>
      
      Makes black night beauteous, and her old face new.<br>
      
      Lo thus by day my limbs, by night my mind,<br>
      
      <span class="pa4">Lo thus by day my limbs, by night my mind,</span><br>
      
      <span class="pa4">For thee, and for my self, no quiet find.</span><br>
      
    </p>
  </div>
</article>