---
title: Shakespeares Sonnets - Sonnet 27
---

<main class="pa3 pa5-ns">
  <p> 27</p>
   <p class="f6 lh-copy measure">
      
      Weary with toil, I haste me to my bed,<br>
      
      The dear respose for limbs with travel tired,<br>
      
      But then begins a journey in my head<br>
      
      To work my mind, when body's work's expired.<br>
      
      For then my thoughts (from far where I abide)<br>
      
      Intend a zealous pilgrimage to thee,<br>
      
      And keep my drooping eyelids open wide,<br>
      
      Looking on darkness which the blind do see.<br>
      
      Save that my soul's imaginary sight<br>
      
      Presents thy shadow to my sightless view,<br>
      
      Which like a jewel (hung in ghastly night)<br>
      
      Makes black night beauteous, and her old face new.<br>
      
      <span class="pa2">Lo thus by day my limbs, by night my mind,</span><br>
      
      <span class="pa2">For thee, and for my self, no quiet find.</span><br>
      
   </p>
</main>