---
title: Shakespeares Sonnets - Sonnet 28
---

<main class="pa3 pa5-ns">
  <p> 28</p>
   <p class="f6 lh-copy measure">
      
      How can I then return in happy plight<br>
      
      That am debarred the benefit of rest?<br>
      
      When day's oppression is not eased by night,<br>
      
      But day by night and night by day oppressed.<br>
      
      And each (though enemies to either's reign)<br>
      
      Do in consent shake hands to torture me,<br>
      
      The one by toil, the other to complain<br>
      
      How far I toil, still farther off from thee.<br>
      
      I tell the day to please him thou art bright,<br>
      
      And dost him grace when clouds do blot the heaven:<br>
      
      So flatter I the swart-complexioned night,<br>
      
      When sparkling stars twire not thou gild'st the even.<br>
      
      But day doth daily draw my sorrows longer,<br>
      
      <span class="pa2">But day doth daily draw my sorrows longer,</span><br>
      
      <span class="pa2">And night doth nightly make grief's length seem stronger</span><br>
      
   </p>
</main>