---
title: Shakespeares Sonnets - Sonnet 29
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>29</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        When in disgrace with Fortune and men's eyes,
      
        I all alone beweep my outcast state,
      
        And trouble deaf heaven with my bootless cries,
      
        And look upon my self and curse my fate,
      
        Wishing me like to one more rich in hope,
      
        Featured like him, like him with friends possessed,
      
        Desiring this man's art, and that man's scope,
      
        With what I most enjoy contented least,
      
        Yet in these thoughts my self almost despising,
      
        Haply I think on thee, and then my state,
      
        (Like to the lark at break of day arising
      
        From sullen earth) sings hymns at heaven's gate,
      
        For thy sweet love remembered such wealth brings,
      
        That then I scorn to change my state with kings.
      
    </p>
  </div>
</article>