---
title: Shakespeares Sonnets - Sonnet 29
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>29</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      When in disgrace with Fortune and men's eyes,<br>
      
      I all alone beweep my outcast state,<br>
      
      And trouble deaf heaven with my bootless cries,<br>
      
      And look upon my self and curse my fate,<br>
      
      Wishing me like to one more rich in hope,<br>
      
      Featured like him, like him with friends possessed,<br>
      
      Desiring this man's art, and that man's scope,<br>
      
      With what I most enjoy contented least,<br>
      
      Yet in these thoughts my self almost despising,<br>
      
      Haply I think on thee, and then my state,<br>
      
      (Like to the lark at break of day arising<br>
      
      From sullen earth) sings hymns at heaven's gate,<br>
      
      For thy sweet love remembered such wealth brings,<br>
      
      <span class="pa4">For thy sweet love remembered such wealth brings,</span><br>
      
      <span class="pa4">That then I scorn to change my state with kings.</span><br>
      
    </p>
  </div>
</article>