---
title: Shakespeares Sonnets - Sonnet 3
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>3</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Look in thy glass and tell the face thou viewest,<br>
      
      Now is the time that face should form another,<br>
      
      Whose fresh repair if now thou not renewest,<br>
      
      Thou dost beguile the world, unbless some mother.<br>
      
      For where is she so fair whose uneared womb<br>
      
      Disdains the tillage of thy husbandry?<br>
      
      Or who is he so fond will be the tomb,<br>
      
      Of his self-love to stop posterity?<br>
      
      Thou art thy mother's glass and she in thee<br>
      
      Calls back the lovely April of her prime,<br>
      
      So thou through windows of thine age shalt see,<br>
      
      Despite of wrinkles this thy golden time.<br>
      
      But if thou live remembered not to be,<br>
      
      <span class="pa4">But if thou live remembered not to be,</span><br>
      
      <span class="pa4">Die single and thine image dies with thee.</span><br>
      
    </p>
  </div>
</article>