---
title: Shakespeares Sonnets - Sonnet 31
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>31</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Thy bosom is endeared with all hearts,<br>
      
      Which I by lacking have supposed dead,<br>
      
      And there reigns love and all love's loving parts,<br>
      
      And all those friends which I thought buried.<br>
      
      How many a holy and obsequious tear<br>
      
      Hath dear religious love stol'n from mine eye,<br>
      
      As interest of the dead, which now appear,<br>
      
      But things removed that hidden in thee lie.<br>
      
      Thou art the grave where buried love doth live,<br>
      
      Hung with the trophies of my lovers gone,<br>
      
      Who all their parts of me to thee did give,<br>
      
      That due of many, now is thine alone.<br>
      
      Their images I loved, I view in thee,<br>
      
      <span class="pa4">Their images I loved, I view in thee,</span><br>
      
      <span class="pa4">And thou (all they) hast all the all of me.</span><br>
      
    </p>
  </div>
</article>