---
title: Shakespeares Sonnets - Sonnet 31
---

<main class="pa3 pa5-ns">
  <p> 31</p>
   <p class="f6 lh-copy measure">
      
      Thy bosom is endeared with all hearts,<br>
      
      Which I by lacking have supposed dead,<br>
      
      And there reigns love and all love's loving parts,<br>
      
      And all those friends which I thought buried.<br>
      
      How many a holy and obsequious tear<br>
      
      Hath dear religious love stol'n from mine eye,<br>
      
      As interest of the dead, which now appear,<br>
      
      But things removed that hidden in thee lie.<br>
      
      Thou art the grave where buried love doth live,<br>
      
      Hung with the trophies of my lovers gone,<br>
      
      Who all their parts of me to thee did give,<br>
      
      That due of many, now is thine alone.<br>
      
      <span class="pa2">Their images I loved, I view in thee,</span><br>
      
      <span class="pa2">And thou (all they) hast all the all of me.</span><br>
      
   </p>
</main>