---
title: Shakespeares Sonnets - Sonnet 32
---

<main class="pa3 pa5-ns">
  <p> 32</p>
   <p class="f6 lh-copy measure">
      
      If thou survive my well-contented day,<br>
      
      When that churl death my bones with dust shall cover<br>
      
      And shalt by fortune once more re-survey<br>
      
      These poor rude lines of thy deceased lover:<br>
      
      Compare them with the bett'ring of the time,<br>
      
      And though they be outstripped by every pen,<br>
      
      Reserve them for my love, not for their rhyme,<br>
      
      Exceeded by the height of happier men.<br>
      
      O then vouchsafe me but this loving thought,<br>
      
      'Had my friend's Muse grown with this growing age,<br>
      
      A dearer birth than this his love had brought<br>
      
      To march in ranks of better equipage:<br>
      
      But since he died and poets better prove,<br>
      
      <span class="pa2">But since he died and poets better prove,</span><br>
      
      <span class="pa2">Theirs for their style I'll read, his for his love'.</span><br>
      
   </p>
</main>