---
title: Shakespeares Sonnets - Sonnet 32
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>32</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      If thou survive my well-contented day,<br>
      
      When that churl death my bones with dust shall cover<br>
      
      And shalt by fortune once more re-survey<br>
      
      These poor rude lines of thy deceased lover:<br>
      
      Compare them with the bett'ring of the time,<br>
      
      And though they be outstripped by every pen,<br>
      
      Reserve them for my love, not for their rhyme,<br>
      
      Exceeded by the height of happier men.<br>
      
      O then vouchsafe me but this loving thought,<br>
      
      'Had my friend's Muse grown with this growing age,<br>
      
      A dearer birth than this his love had brought<br>
      
      To march in ranks of better equipage:<br>
      
      But since he died and poets better prove,<br>
      
      <span class="pa4">But since he died and poets better prove,</span><br>
      
      <span class="pa4">Theirs for their style I'll read, his for his love'.</span><br>
      
    </p>
  </div>
</article>