---
title: Shakespeares Sonnets - Sonnet 33
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>33</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Full many a glorious morning have I seen,<br>
      
      Flatter the mountain tops with sovereign eye,<br>
      
      Kissing with golden face the meadows green;<br>
      
      Gilding pale streams with heavenly alchemy:<br>
      
      Anon permit the basest clouds to ride,<br>
      
      With ugly rack on his celestial face,<br>
      
      And from the forlorn world his visage hide<br>
      
      Stealing unseen to west with this disgrace:<br>
      
      Even so my sun one early morn did shine,<br>
      
      With all triumphant splendour on my brow,<br>
      
      But out alack, he was but one hour mine,<br>
      
      The region cloud hath masked him from me now.<br>
      
      Yet him for this, my love no whit disdaineth,<br>
      
      <span class="pa4">Yet him for this, my love no whit disdaineth,</span><br>
      
      <span class="pa4">Suns of the world may stain, when heaven's sun staineth.</span><br>
      
    </p>
  </div>
</article>