---
title: Shakespeares Sonnets - Sonnet 35
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>35</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      No more be grieved at that which thou hast done,<br>
      
      Roses have thorns, and silver fountains mud,<br>
      
      Clouds and eclipses stain both moon and sun,<br>
      
      And loathsome canker lives in sweetest bud.<br>
      
      All men make faults, and even I in this,<br>
      
      Authorizing thy trespass with compare,<br>
      
      My self corrupting salving thy amiss,<br>
      
      Excusing thy sins more than thy sins are:<br>
      
      For to thy sensual fault I bring in sense,<br>
      
      Thy adverse party is thy advocate,<br>
      
      And 'gainst my self a lawful plea commence:<br>
      
      Such civil war is in my love and hate,<br>
      
      That I an accessary needs must be,<br>
      
      <span class="pa4">That I an accessary needs must be,</span><br>
      
      <span class="pa4">To that sweet thief which sourly robs from me.</span><br>
      
    </p>
  </div>
</article>