---
title: Shakespeares Sonnets - Sonnet 35
---

<main class="pa3 pa5-ns">
  <p> 35</p>
   <p class="f6 lh-copy measure">
      
      No more be grieved at that which thou hast done,<br>
      
      Roses have thorns, and silver fountains mud,<br>
      
      Clouds and eclipses stain both moon and sun,<br>
      
      And loathsome canker lives in sweetest bud.<br>
      
      All men make faults, and even I in this,<br>
      
      Authorizing thy trespass with compare,<br>
      
      My self corrupting salving thy amiss,<br>
      
      Excusing thy sins more than thy sins are:<br>
      
      For to thy sensual fault I bring in sense,<br>
      
      Thy adverse party is thy advocate,<br>
      
      And 'gainst my self a lawful plea commence:<br>
      
      Such civil war is in my love and hate,<br>
      
      <span class="pa2">That I an accessary needs must be,</span><br>
      
      <span class="pa2">To that sweet thief which sourly robs from me.</span><br>
      
   </p>
</main>