---
title: Shakespeares Sonnets - Sonnet 36
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>36</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Let me confess that we two must be twain,
      
        Although our undivided loves are one:
      
        So shall those blots that do with me remain,
      
        Without thy help, by me be borne alone.
      
        In our two loves there is but one respect,
      
        Though in our lives a separable spite,
      
        Which though it alter not love's sole effect,
      
        Yet doth it steal sweet hours from love's delight.
      
        I may not evermore acknowledge thee,
      
        Lest my bewailed guilt should do thee shame,
      
        Nor thou with public kindness honour me,
      
        Unless thou take that honour from thy name:
      
        But do not so, I love thee in such sort,
      
        As thou being mine, mine is thy good report.
      
    </p>
  </div>
</article>