---
title: Shakespeares Sonnets - Sonnet 36
---

<main class="pa3 pa5-ns">
  <p> 36</p>
   <p class="f6 lh-copy measure">
      
      Let me confess that we two must be twain,<br>
      
      Although our undivided loves are one:<br>
      
      So shall those blots that do with me remain,<br>
      
      Without thy help, by me be borne alone.<br>
      
      In our two loves there is but one respect,<br>
      
      Though in our lives a separable spite,<br>
      
      Which though it alter not love's sole effect,<br>
      
      Yet doth it steal sweet hours from love's delight.<br>
      
      I may not evermore acknowledge thee,<br>
      
      Lest my bewailed guilt should do thee shame,<br>
      
      Nor thou with public kindness honour me,<br>
      
      Unless thou take that honour from thy name:<br>
      
      But do not so, I love thee in such sort,<br>
      
      <span class="pa2">But do not so, I love thee in such sort,</span><br>
      
      <span class="pa2">As thou being mine, mine is thy good report.</span><br>
      
   </p>
</main>