---
title: Shakespeares Sonnets - Sonnet 36
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>36</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Let me confess that we two must be twain,<br>
      
      Although our undivided loves are one:<br>
      
      So shall those blots that do with me remain,<br>
      
      Without thy help, by me be borne alone.<br>
      
      In our two loves there is but one respect,<br>
      
      Though in our lives a separable spite,<br>
      
      Which though it alter not love's sole effect,<br>
      
      Yet doth it steal sweet hours from love's delight.<br>
      
      I may not evermore acknowledge thee,<br>
      
      Lest my bewailed guilt should do thee shame,<br>
      
      Nor thou with public kindness honour me,<br>
      
      Unless thou take that honour from thy name:<br>
      
      But do not so, I love thee in such sort,<br>
      
      <span class="pa4">But do not so, I love thee in such sort,</span><br>
      
      <span class="pa4">As thou being mine, mine is thy good report.</span><br>
      
    </p>
  </div>
</article>