---
title: Shakespeares Sonnets - Sonnet 37
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>37</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        As a decrepit father takes delight,
      
        To see his active child do deeds of youth,
      
        So I, made lame by Fortune's dearest spite
      
        Take all my comfort of thy worth and truth.
      
        For whether beauty, birth, or wealth, or wit,
      
        Or any of these all, or all, or more
      
        Entitled in thy parts, do crowned sit,
      
        I make my love engrafted to this store:
      
        So then I am not lame, poor, nor despised,
      
        Whilst that this shadow doth such substance give,
      
        That I in thy abundance am sufficed,
      
        And by a part of all thy glory live:
      
        Look what is best, that best I wish in thee,
      
        This wish I have, then ten times happy me.
      
    </p>
  </div>
</article>