---
title: Shakespeares Sonnets - Sonnet 37
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>37</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      As a decrepit father takes delight,<br>
      
      To see his active child do deeds of youth,<br>
      
      So I, made lame by Fortune's dearest spite<br>
      
      Take all my comfort of thy worth and truth.<br>
      
      For whether beauty, birth, or wealth, or wit,<br>
      
      Or any of these all, or all, or more<br>
      
      Entitled in thy parts, do crowned sit,<br>
      
      I make my love engrafted to this store:<br>
      
      So then I am not lame, poor, nor despised,<br>
      
      Whilst that this shadow doth such substance give,<br>
      
      That I in thy abundance am sufficed,<br>
      
      And by a part of all thy glory live:<br>
      
      Look what is best, that best I wish in thee,<br>
      
      <span class="pa4">Look what is best, that best I wish in thee,</span><br>
      
      <span class="pa4">This wish I have, then ten times happy me.</span><br>
      
    </p>
  </div>
</article>