---
title: Shakespeares Sonnets - Sonnet 38
---

<main class="pa3 pa5-ns">
  <p> 38</p>
   <p class="f6 lh-copy measure">
      
      How can my muse want subject to invent<br>
      
      While thou dost breathe that pour'st into my verse,<br>
      
      Thine own sweet argument, too excellent,<br>
      
      For every vulgar paper to rehearse?<br>
      
      O give thy self the thanks if aught in me,<br>
      
      Worthy perusal stand against thy sight,<br>
      
      For who's so dumb that cannot write to thee,<br>
      
      When thou thy self dost give invention light?<br>
      
      Be thou the tenth Muse, ten times more in worth<br>
      
      Than those old nine which rhymers invocate,<br>
      
      And he that calls on thee, let him bring forth<br>
      
      Eternal numbers to outlive long date.<br>
      
      If my slight muse do please these curious days,<br>
      
      <span class="pa2">If my slight muse do please these curious days,</span><br>
      
      <span class="pa2">The pain be mine, but thine shall be the praise.</span><br>
      
   </p>
</main>