---
title: Shakespeares Sonnets - Sonnet 40
---

<main class="pa3 pa5-ns">
  <p> 40</p>
   <p class="f6 lh-copy measure">
      
      Take all my loves, my love, yea take them all,<br>
      
      What hast thou then more than thou hadst before?<br>
      
      No love, my love, that thou mayst true love call,<br>
      
      All mine was thine, before thou hadst this more:<br>
      
      Then if for my love, thou my love receivest,<br>
      
      I cannot blame thee, for my love thou usest,<br>
      
      But yet be blamed, if thou thy self deceivest<br>
      
      By wilful taste of what thy self refusest.<br>
      
      I do forgive thy robbery gentle thief<br>
      
      Although thou steal thee all my poverty:<br>
      
      And yet love knows it is a greater grief<br>
      
      To bear greater wrong, than hate's known injury.<br>
      
      Lascivious grace, in whom all ill well shows,<br>
      
      <span class="pa2">Lascivious grace, in whom all ill well shows,</span><br>
      
      <span class="pa2">Kill me with spites yet we must not be foes.</span><br>
      
   </p>
</main>