---
title: Shakespeares Sonnets - Sonnet 41
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>41</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Those pretty wrongs that liberty commits,
      
        When I am sometime absent from thy heart,
      
        Thy beauty, and thy years full well befits,
      
        For still temptation follows where thou art.
      
        Gentle thou art, and therefore to be won,
      
        Beauteous thou art, therefore to be assailed.
      
        And when a woman woos, what woman's son,
      
        Will sourly leave her till he have prevailed?
      
        Ay me, but yet thou mightst my seat forbear,
      
        And chide thy beauty, and thy straying youth,
      
        Who lead thee in their riot even there
      
        Where thou art forced to break a twofold truth:
      
        Hers by thy beauty tempting her to thee,
      
        Thine by thy beauty being false to me.
      
    </p>
  </div>
</article>