---
title: Shakespeares Sonnets - Sonnet 41
---

<main class="pa3 pa5-ns">
  <p> 41</p>
   <p class="f6 lh-copy measure">
      
      Those pretty wrongs that liberty commits,<br>
      
      When I am sometime absent from thy heart,<br>
      
      Thy beauty, and thy years full well befits,<br>
      
      For still temptation follows where thou art.<br>
      
      Gentle thou art, and therefore to be won,<br>
      
      Beauteous thou art, therefore to be assailed.<br>
      
      And when a woman woos, what woman's son,<br>
      
      Will sourly leave her till he have prevailed?<br>
      
      Ay me, but yet thou mightst my seat forbear,<br>
      
      And chide thy beauty, and thy straying youth,<br>
      
      Who lead thee in their riot even there<br>
      
      Where thou art forced to break a twofold truth:<br>
      
      Hers by thy beauty tempting her to thee,<br>
      
      <span class="pa2">Hers by thy beauty tempting her to thee,</span><br>
      
      <span class="pa2">Thine by thy beauty being false to me.</span><br>
      
   </p>
</main>