---
title: Shakespeares Sonnets - Sonnet 42
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>42</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      That thou hast her it is not all my grief,<br>
      
      And yet it may be said I loved her dearly,<br>
      
      That she hath thee is of my wailing chief,<br>
      
      A loss in love that touches me more nearly.<br>
      
      Loving offenders thus I will excuse ye,<br>
      
      Thou dost love her, because thou know'st I love her,<br>
      
      And for my sake even so doth she abuse me,<br>
      
      Suff'ring my friend for my sake to approve her.<br>
      
      If I lose thee, my loss is my love's gain,<br>
      
      And losing her, my friend hath found that loss,<br>
      
      Both find each other, and I lose both twain,<br>
      
      And both for my sake lay on me this cross,<br>
      
      But here's the joy, my friend and I are one,<br>
      
      <span class="pa4">But here's the joy, my friend and I are one,</span><br>
      
      <span class="pa4">Sweet flattery, then she loves but me alone.</span><br>
      
    </p>
  </div>
</article>