---
title: Shakespeares Sonnets - Sonnet 43
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>43</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      When most I wink then do mine eyes best see,<br>
      
      For all the day they view things unrespected,<br>
      
      But when I sleep, in dreams they look on thee,<br>
      
      And darkly bright, are bright in dark directed.<br>
      
      Then thou whose shadow shadows doth make bright<br>
      
      How would thy shadow's form, form happy show,<br>
      
      To the clear day with thy much clearer light,<br>
      
      When to unseeing eyes thy shade shines so!<br>
      
      How would (I say) mine eyes be blessed made,<br>
      
      By looking on thee in the living day,<br>
      
      When in dead night thy fair imperfect shade,<br>
      
      Through heavy sleep on sightless eyes doth stay!<br>
      
      All days are nights to see till I see thee,<br>
      
      <span class="pa4">All days are nights to see till I see thee,</span><br>
      
      <span class="pa4">And nights bright days when dreams do show thee me.</span><br>
      
    </p>
  </div>
</article>