---
title: Shakespeares Sonnets - Sonnet 45
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>45</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      The other two, slight air, and purging fire,<br>
      
      Are both with thee, wherever I abide,<br>
      
      The first my thought, the other my desire,<br>
      
      These present-absent with swift motion slide.<br>
      
      For when these quicker elements are gone<br>
      
      In tender embassy of love to thee,<br>
      
      My life being made of four, with two alone,<br>
      
      Sinks down to death, oppressed with melancholy.<br>
      
      Until life's composition be recured,<br>
      
      By those swift messengers returned from thee,<br>
      
      Who even but now come back again assured,<br>
      
      Of thy fair health, recounting it to me.<br>
      
      This told, I joy, but then no longer glad,<br>
      
      <span class="pa4">This told, I joy, but then no longer glad,</span><br>
      
      <span class="pa4">I send them back again and straight grow sad.</span><br>
      
    </p>
  </div>
</article>