---
title: Shakespeares Sonnets - Sonnet 46
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>46</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Mine eye and heart are at a mortal war,
      
        How to divide the conquest of thy sight,
      
        Mine eye, my heart thy picture's sight would bar,
      
        My heart, mine eye the freedom of that right,
      
        My heart doth plead that thou in him dost lie,
      
        (A closet never pierced with crystal eyes)
      
        But the defendant doth that plea deny,
      
        And says in him thy fair appearance lies.
      
        To side this title is impanelled
      
        A quest of thoughts, all tenants to the heart,
      
        And by their verdict is determined
      
        The clear eye's moiety, and the dear heart's part.
      
        As thus, mine eye's due is thy outward part,
      
        And my heart's right, thy inward love of heart.
      
    </p>
  </div>
</article>