---
title: Shakespeares Sonnets - Sonnet 46
---

<main class="pa3 pa5-ns">
  <p> 46</p>
   <p class="f6 lh-copy measure">
      
      Mine eye and heart are at a mortal war,<br>
      
      How to divide the conquest of thy sight,<br>
      
      Mine eye, my heart thy picture's sight would bar,<br>
      
      My heart, mine eye the freedom of that right,<br>
      
      My heart doth plead that thou in him dost lie,<br>
      
      (A closet never pierced with crystal eyes)<br>
      
      But the defendant doth that plea deny,<br>
      
      And says in him thy fair appearance lies.<br>
      
      To side this title is impanelled<br>
      
      A quest of thoughts, all tenants to the heart,<br>
      
      And by their verdict is determined<br>
      
      The clear eye's moiety, and the dear heart's part.<br>
      
      As thus, mine eye's due is thy outward part,<br>
      
      <span class="pa2">As thus, mine eye's due is thy outward part,</span><br>
      
      <span class="pa2">And my heart's right, thy inward love of heart.</span><br>
      
   </p>
</main>