---
title: Shakespeares Sonnets - Sonnet 46
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>46</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Mine eye and heart are at a mortal war,<br>
      
      How to divide the conquest of thy sight,<br>
      
      Mine eye, my heart thy picture's sight would bar,<br>
      
      My heart, mine eye the freedom of that right,<br>
      
      My heart doth plead that thou in him dost lie,<br>
      
      (A closet never pierced with crystal eyes)<br>
      
      But the defendant doth that plea deny,<br>
      
      And says in him thy fair appearance lies.<br>
      
      To side this title is impanelled<br>
      
      A quest of thoughts, all tenants to the heart,<br>
      
      And by their verdict is determined<br>
      
      The clear eye's moiety, and the dear heart's part.<br>
      
      As thus, mine eye's due is thy outward part,<br>
      
      <span class="pa4">As thus, mine eye's due is thy outward part,</span><br>
      
      <span class="pa4">And my heart's right, thy inward love of heart.</span><br>
      
    </p>
  </div>
</article>