---
title: Shakespeares Sonnets - Sonnet 47
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>47</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Betwixt mine eye and heart a league is took,<br>
      
      And each doth good turns now unto the other,<br>
      
      When that mine eye is famished for a look,<br>
      
      Or heart in love with sighs himself doth smother;<br>
      
      With my love's picture then my eye doth feast,<br>
      
      And to the painted banquet bids my heart:<br>
      
      Another time mine eye is my heart's guest,<br>
      
      And in his thoughts of love doth share a part.<br>
      
      So either by thy picture or my love,<br>
      
      Thy self away, art present still with me,<br>
      
      For thou not farther than my thoughts canst move,<br>
      
      And I am still with them, and they with thee.<br>
      
      Or if they sleep, thy picture in my sight<br>
      
      <span class="pa4">Or if they sleep, thy picture in my sight</span><br>
      
      <span class="pa4">Awakes my heart, to heart's and eye's delight.</span><br>
      
    </p>
  </div>
</article>