---
title: Shakespeares Sonnets - Sonnet 48
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>48</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      How careful was I when I took my way,<br>
      
      Each trifle under truest bars to thrust,<br>
      
      That to my use it might unused stay<br>
      
      From hands of falsehood, in sure wards of trust!<br>
      
      But thou, to whom my jewels trifles are,<br>
      
      Most worthy comfort, now my greatest grief,<br>
      
      Thou best of dearest, and mine only care,<br>
      
      Art left the prey of every vulgar thief.<br>
      
      Thee have I not locked up in any chest,<br>
      
      Save where thou art not, though I feel thou art,<br>
      
      Within the gentle closure of my breast,<br>
      
      From whence at pleasure thou mayst come and part,<br>
      
      And even thence thou wilt be stol'n I fear,<br>
      
      <span class="pa4">And even thence thou wilt be stol'n I fear,</span><br>
      
      <span class="pa4">For truth proves thievish for a prize so dear.</span><br>
      
    </p>
  </div>
</article>