---
title: Shakespeares Sonnets - Sonnet 48
---

<main class="pa3 pa5-ns">
  <p> 48</p>
   <p class="f6 lh-copy measure">
      
      How careful was I when I took my way,<br>
      
      Each trifle under truest bars to thrust,<br>
      
      That to my use it might unused stay<br>
      
      From hands of falsehood, in sure wards of trust!<br>
      
      But thou, to whom my jewels trifles are,<br>
      
      Most worthy comfort, now my greatest grief,<br>
      
      Thou best of dearest, and mine only care,<br>
      
      Art left the prey of every vulgar thief.<br>
      
      Thee have I not locked up in any chest,<br>
      
      Save where thou art not, though I feel thou art,<br>
      
      Within the gentle closure of my breast,<br>
      
      From whence at pleasure thou mayst come and part,<br>
      
      And even thence thou wilt be stol'n I fear,<br>
      
      <span class="pa2">And even thence thou wilt be stol'n I fear,</span><br>
      
      <span class="pa2">For truth proves thievish for a prize so dear.</span><br>
      
   </p>
</main>