---
title: Shakespeares Sonnets - Sonnet 49
---

<main class="pa3 pa5-ns">
  <p> 49</p>
   <p class="f6 lh-copy measure">
      
      Against that time (if ever that time come)<br>
      
      When I shall see thee frown on my defects,<br>
      
      When as thy love hath cast his utmost sum,<br>
      
      Called to that audit by advised respects,<br>
      
      Against that time when thou shalt strangely pass,<br>
      
      And scarcely greet me with that sun thine eye,<br>
      
      When love converted from the thing it was<br>
      
      Shall reasons find of settled gravity;<br>
      
      Against that time do I ensconce me here<br>
      
      Within the knowledge of mine own desert,<br>
      
      And this my hand, against my self uprear,<br>
      
      To guard the lawful reasons on thy part,<br>
      
      To leave poor me, thou hast the strength of laws,<br>
      
      <span class="pa2">To leave poor me, thou hast the strength of laws,</span><br>
      
      <span class="pa2">Since why to love, I can allege no cause.</span><br>
      
   </p>
</main>