---
title: Shakespeares Sonnets - Sonnet 5
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>5</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Those hours that with gentle work did frame<br>
      
      The lovely gaze where every eye doth dwell<br>
      
      Will play the tyrants to the very same,<br>
      
      And that unfair which fairly doth excel:<br>
      
      For never-resting time leads summer on<br>
      
      To hideous winter and confounds him there,<br>
      
      Sap checked with frost and lusty leaves quite gone,<br>
      
      Beauty o'er-snowed and bareness every where:<br>
      
      Then were not summer's distillation left<br>
      
      A liquid prisoner pent in walls of glass,<br>
      
      Beauty's effect with beauty were bereft,<br>
      
      Nor it nor no remembrance what it was.<br>
      
      But flowers distilled though they with winter meet,<br>
      
      <span class="pa4">But flowers distilled though they with winter meet,</span><br>
      
      <span class="pa4">Leese but their show, their substance still lives sweet.</span><br>
      
    </p>
  </div>
</article>