---
title: Shakespeares Sonnets - Sonnet 5
---

<main class="pa3 pa5-ns">
  <p> 5</p>
   <p class="f6 lh-copy measure">
      
      Those hours that with gentle work did frame<br>
      
      The lovely gaze where every eye doth dwell<br>
      
      Will play the tyrants to the very same,<br>
      
      And that unfair which fairly doth excel:<br>
      
      For never-resting time leads summer on<br>
      
      To hideous winter and confounds him there,<br>
      
      Sap checked with frost and lusty leaves quite gone,<br>
      
      Beauty o'er-snowed and bareness every where:<br>
      
      Then were not summer's distillation left<br>
      
      A liquid prisoner pent in walls of glass,<br>
      
      Beauty's effect with beauty were bereft,<br>
      
      Nor it nor no remembrance what it was.<br>
      
      <span class="pa2">But flowers distilled though they with winter meet,</span><br>
      
      <span class="pa2">Leese but their show, their substance still lives sweet.</span><br>
      
   </p>
</main>