---
title: Shakespeares Sonnets - Sonnet 51
---

<main class="pa3 pa5-ns">
  <p> 51</p>
   <p class="f6 lh-copy measure">
      
      Thus can my love excuse the slow offence,<br>
      
      Of my dull bearer, when from thee I speed,<br>
      
      From where thou art, why should I haste me thence?<br>
      
      Till I return of posting is no need.<br>
      
      O what excuse will my poor beast then find,<br>
      
      When swift extremity can seem but slow?<br>
      
      Then should I spur though mounted on the wind,<br>
      
      In winged speed no motion shall I know,<br>
      
      Then can no horse with my desire keep pace,<br>
      
      Therefore desire (of perfect'st love being made)<br>
      
      Shall neigh (no dull flesh) in his fiery race,<br>
      
      But love, for love, thus shall excuse my jade,<br>
      
      <span class="pa2">Since from thee going, he went wilful-slow,</span><br>
      
      <span class="pa2">Towards thee I'll run, and give him leave to go.</span><br>
      
   </p>
</main>