---
title: Shakespeares Sonnets - Sonnet 51
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>51</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Thus can my love excuse the slow offence,<br>
      
      Of my dull bearer, when from thee I speed,<br>
      
      From where thou art, why should I haste me thence?<br>
      
      Till I return of posting is no need.<br>
      
      O what excuse will my poor beast then find,<br>
      
      When swift extremity can seem but slow?<br>
      
      Then should I spur though mounted on the wind,<br>
      
      In winged speed no motion shall I know,<br>
      
      Then can no horse with my desire keep pace,<br>
      
      Therefore desire (of perfect'st love being made)<br>
      
      Shall neigh (no dull flesh) in his fiery race,<br>
      
      But love, for love, thus shall excuse my jade,<br>
      
      Since from thee going, he went wilful-slow,<br>
      
      <span class="pa4">Since from thee going, he went wilful-slow,</span><br>
      
      <span class="pa4">Towards thee I'll run, and give him leave to go.</span><br>
      
    </p>
  </div>
</article>