---
title: Shakespeares Sonnets - Sonnet 52
---

<main class="pa3 pa5-ns">
  <p> 52</p>
   <p class="f6 lh-copy measure">
      
      So am I as the rich whose blessed key,<br>
      
      Can bring him to his sweet up-locked treasure,<br>
      
      The which he will not every hour survey,<br>
      
      For blunting the fine point of seldom pleasure.<br>
      
      Therefore are feasts so solemn and so rare,<br>
      
      Since seldom coming in that long year set,<br>
      
      Like stones of worth they thinly placed are,<br>
      
      Or captain jewels in the carcanet.<br>
      
      So is the time that keeps you as my chest<br>
      
      Or as the wardrobe which the robe doth hide,<br>
      
      To make some special instant special-blest,<br>
      
      By new unfolding his imprisoned pride.<br>
      
      Blessed are you whose worthiness gives scope,<br>
      
      <span class="pa2">Blessed are you whose worthiness gives scope,</span><br>
      
      <span class="pa2">Being had to triumph, being lacked to hope.</span><br>
      
   </p>
</main>