---
title: Shakespeares Sonnets - Sonnet 52
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>52</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      So am I as the rich whose blessed key,<br>
      
      Can bring him to his sweet up-locked treasure,<br>
      
      The which he will not every hour survey,<br>
      
      For blunting the fine point of seldom pleasure.<br>
      
      Therefore are feasts so solemn and so rare,<br>
      
      Since seldom coming in that long year set,<br>
      
      Like stones of worth they thinly placed are,<br>
      
      Or captain jewels in the carcanet.<br>
      
      So is the time that keeps you as my chest<br>
      
      Or as the wardrobe which the robe doth hide,<br>
      
      To make some special instant special-blest,<br>
      
      By new unfolding his imprisoned pride.<br>
      
      Blessed are you whose worthiness gives scope,<br>
      
      <span class="pa4">Blessed are you whose worthiness gives scope,</span><br>
      
      <span class="pa4">Being had to triumph, being lacked to hope.</span><br>
      
    </p>
  </div>
</article>