---
title: Shakespeares Sonnets - Sonnet 53
---

<main class="pa3 pa5-ns">
  <p> 53</p>
   <p class="f6 lh-copy measure">
      
      What is your substance, whereof are you made,<br>
      
      That millions of strange shadows on you tend?<br>
      
      Since every one, hath every one, one shade,<br>
      
      And you but one, can every shadow lend:<br>
      
      Describe Adonis and the counterfeit,<br>
      
      Is poorly imitated after you,<br>
      
      On Helen's cheek all art of beauty set,<br>
      
      And you in Grecian tires are painted new:<br>
      
      Speak of the spring, and foison of the year,<br>
      
      The one doth shadow of your beauty show,<br>
      
      The other as your bounty doth appear,<br>
      
      And you in every blessed shape we know.<br>
      
      In all external grace you have some part,<br>
      
      <span class="pa2">In all external grace you have some part,</span><br>
      
      <span class="pa2">But you like none, none you for constant heart.</span><br>
      
   </p>
</main>