---
title: Shakespeares Sonnets - Sonnet 54
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>54</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      O how much more doth beauty beauteous seem,<br>
      
      By that sweet ornament which truth doth give!<br>
      
      The rose looks fair, but fairer we it deem<br>
      
      For that sweet odour, which doth in it live:<br>
      
      The canker blooms have full as deep a dye,<br>
      
      As the perfumed tincture of the roses,<br>
      
      Hang on such thorns, and play as wantonly,<br>
      
      When summer's breath their masked buds discloses:<br>
      
      But for their virtue only is their show,<br>
      
      They live unwooed, and unrespected fade,<br>
      
      Die to themselves. Sweet roses do not so,<br>
      
      Of their sweet deaths, are sweetest odours made:<br>
      
      And so of you, beauteous and lovely youth,<br>
      
      <span class="pa4">And so of you, beauteous and lovely youth,</span><br>
      
      <span class="pa4">When that shall vade, by verse distills your truth.</span><br>
      
    </p>
  </div>
</article>