---
title: Shakespeares Sonnets - Sonnet 56
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>56</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Sweet love renew thy force, be it not said<br>
      
      Thy edge should blunter be than appetite,<br>
      
      Which but to-day by feeding is allayed,<br>
      
      To-morrow sharpened in his former might.<br>
      
      So love be thou, although to-day thou fill<br>
      
      Thy hungry eyes, even till they wink with fulness,<br>
      
      To-morrow see again, and do not kill<br>
      
      The spirit of love, with a perpetual dulness:<br>
      
      Let this sad interim like the ocean be<br>
      
      Which parts the shore, where two contracted new,<br>
      
      Come daily to the banks, that when they see:<br>
      
      Return of love, more blest may be the view.<br>
      
      Or call it winter, which being full of care,<br>
      
      <span class="pa4">Or call it winter, which being full of care,</span><br>
      
      <span class="pa4">Makes summer's welcome, thrice more wished, more rare.</span><br>
      
    </p>
  </div>
</article>