---
title: Shakespeares Sonnets - Sonnet 56
---

<main class="pa3 pa5-ns">
  <p> 56</p>
   <p class="f6 lh-copy measure">
      
      Sweet love renew thy force, be it not said<br>
      
      Thy edge should blunter be than appetite,<br>
      
      Which but to-day by feeding is allayed,<br>
      
      To-morrow sharpened in his former might.<br>
      
      So love be thou, although to-day thou fill<br>
      
      Thy hungry eyes, even till they wink with fulness,<br>
      
      To-morrow see again, and do not kill<br>
      
      The spirit of love, with a perpetual dulness:<br>
      
      Let this sad interim like the ocean be<br>
      
      Which parts the shore, where two contracted new,<br>
      
      Come daily to the banks, that when they see:<br>
      
      Return of love, more blest may be the view.<br>
      
      <span class="pa2">Or call it winter, which being full of care,</span><br>
      
      <span class="pa2">Makes summer's welcome, thrice more wished, more rare.</span><br>
      
   </p>
</main>