---
title: Shakespeares Sonnets - Sonnet 57
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>57</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Being your slave what should I do but tend,<br>
      
      Upon the hours, and times of your desire?<br>
      
      I have no precious time at all to spend;<br>
      
      Nor services to do till you require.<br>
      
      Nor dare I chide the world-without-end hour,<br>
      
      Whilst I (my sovereign) watch the clock for you,<br>
      
      Nor think the bitterness of absence sour,<br>
      
      When you have bid your servant once adieu.<br>
      
      Nor dare I question with my jealous thought,<br>
      
      Where you may be, or your affairs suppose,<br>
      
      But like a sad slave stay and think of nought<br>
      
      Save where you are, how happy you make those.<br>
      
      So true a fool is love, that in your will,<br>
      
      <span class="pa4">So true a fool is love, that in your will,</span><br>
      
      <span class="pa4">(Though you do any thing) he thinks no ill.</span><br>
      
    </p>
  </div>
</article>