---
title: Shakespeares Sonnets - Sonnet 58
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>58</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      That god forbid, that made me first your slave,<br>
      
      I should in thought control your times of pleasure,<br>
      
      Or at your hand th' account of hours to crave,<br>
      
      Being your vassal bound to stay your leisure.<br>
      
      O let me suffer (being at your beck)<br>
      
      Th' imprisoned absence of your liberty,<br>
      
      And patience tame to sufferance bide each check,<br>
      
      Without accusing you of injury.<br>
      
      Be where you list, your charter is so strong,<br>
      
      That you your self may privilage your time<br>
      
      To what you will, to you it doth belong,<br>
      
      Your self to pardon of self-doing crime.<br>
      
      I am to wait, though waiting so be hell,<br>
      
      <span class="pa4">I am to wait, though waiting so be hell,</span><br>
      
      <span class="pa4">Not blame your pleasure be it ill or well.</span><br>
      
    </p>
  </div>
</article>