---
title: Shakespeares Sonnets - Sonnet 58
---

<main class="pa3 pa5-ns">
  <p> 58</p>
   <p class="f6 lh-copy measure">
      
      That god forbid, that made me first your slave,<br>
      
      I should in thought control your times of pleasure,<br>
      
      Or at your hand th' account of hours to crave,<br>
      
      Being your vassal bound to stay your leisure.<br>
      
      O let me suffer (being at your beck)<br>
      
      Th' imprisoned absence of your liberty,<br>
      
      And patience tame to sufferance bide each check,<br>
      
      Without accusing you of injury.<br>
      
      Be where you list, your charter is so strong,<br>
      
      That you your self may privilage your time<br>
      
      To what you will, to you it doth belong,<br>
      
      Your self to pardon of self-doing crime.<br>
      
      I am to wait, though waiting so be hell,<br>
      
      <span class="pa2">I am to wait, though waiting so be hell,</span><br>
      
      <span class="pa2">Not blame your pleasure be it ill or well.</span><br>
      
   </p>
</main>