---
title: Shakespeares Sonnets - Sonnet 59
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>59</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      If there be nothing new, but that which is,<br>
      
      Hath been before, how are our brains beguiled,<br>
      
      Which labouring for invention bear amis<br>
      
      The second burthen of a former child!<br>
      
      O that record could with a backward look,<br>
      
      Even of five hundred courses of the sun,<br>
      
      Show me your image in some antique book,<br>
      
      Since mind at first in character was done.<br>
      
      That I might see what the old world could say,<br>
      
      To this composed wonder of your frame,<br>
      
      Whether we are mended, or whether better they,<br>
      
      Or whether revolution be the same.<br>
      
      O sure I am the wits of former days,<br>
      
      <span class="pa4">O sure I am the wits of former days,</span><br>
      
      <span class="pa4">To subjects worse have given admiring praise.</span><br>
      
    </p>
  </div>
</article>