---
title: Shakespeares Sonnets - Sonnet 59
---

<main class="pa3 pa5-ns">
  <p> 59</p>
   <p class="f6 lh-copy measure">
      
      If there be nothing new, but that which is,<br>
      
      Hath been before, how are our brains beguiled,<br>
      
      Which labouring for invention bear amis<br>
      
      The second burthen of a former child!<br>
      
      O that record could with a backward look,<br>
      
      Even of five hundred courses of the sun,<br>
      
      Show me your image in some antique book,<br>
      
      Since mind at first in character was done.<br>
      
      That I might see what the old world could say,<br>
      
      To this composed wonder of your frame,<br>
      
      Whether we are mended, or whether better they,<br>
      
      Or whether revolution be the same.<br>
      
      <span class="pa2">O sure I am the wits of former days,</span><br>
      
      <span class="pa2">To subjects worse have given admiring praise.</span><br>
      
   </p>
</main>