---
title: Shakespeares Sonnets - Sonnet 6
---

<main class="pa3 pa5-ns">
  <p> 6</p>
   <p class="f6 lh-copy measure">
      
      Then let not winter's ragged hand deface,<br>
      
      In thee thy summer ere thou be distilled:<br>
      
      Make sweet some vial; treasure thou some place,<br>
      
      With beauty's treasure ere it be self-killed:<br>
      
      That use is not forbidden usury,<br>
      
      Which happies those that pay the willing loan;<br>
      
      That's for thy self to breed another thee,<br>
      
      Or ten times happier be it ten for one,<br>
      
      Ten times thy self were happier than thou art,<br>
      
      If ten of thine ten times refigured thee:<br>
      
      Then what could death do if thou shouldst depart,<br>
      
      Leaving thee living in posterity?<br>
      
      Be not self-willed for thou art much too fair,<br>
      
      <span class="pa2">Be not self-willed for thou art much too fair,</span><br>
      
      <span class="pa2">To be death's conquest and make worms thine heir.</span><br>
      
   </p>
</main>