---
title: Shakespeares Sonnets - Sonnet 6
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>6</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Then let not winter's ragged hand deface,
      
        In thee thy summer ere thou be distilled:
      
        Make sweet some vial; treasure thou some place,
      
        With beauty's treasure ere it be self-killed:
      
        That use is not forbidden usury,
      
        Which happies those that pay the willing loan;
      
        That's for thy self to breed another thee,
      
        Or ten times happier be it ten for one,
      
        Ten times thy self were happier than thou art,
      
        If ten of thine ten times refigured thee:
      
        Then what could death do if thou shouldst depart,
      
        Leaving thee living in posterity?
      
        Be not self-willed for thou art much too fair,
      
        To be death's conquest and make worms thine heir.
      
    </p>
  </div>
</article>