---
title: Shakespeares Sonnets - Sonnet 60
---

<main class="pa3 pa5-ns">
  <p> 60</p>
   <p class="f6 lh-copy measure">
      
      Like as the waves make towards the pebbled shore,<br>
      
      So do our minutes hasten to their end,<br>
      
      Each changing place with that which goes before,<br>
      
      In sequent toil all forwards do contend.<br>
      
      Nativity once in the main of light,<br>
      
      Crawls to maturity, wherewith being crowned,<br>
      
      Crooked eclipses 'gainst his glory fight,<br>
      
      And Time that gave, doth now his gift confound.<br>
      
      Time doth transfix the flourish set on youth,<br>
      
      And delves the parallels in beauty's brow,<br>
      
      Feeds on the rarities of nature's truth,<br>
      
      And nothing stands but for his scythe to mow.<br>
      
      And yet to times in hope, my verse shall stand<br>
      
      <span class="pa2">And yet to times in hope, my verse shall stand</span><br>
      
      <span class="pa2">Praising thy worth, despite his cruel hand.</span><br>
      
   </p>
</main>