---
title: Shakespeares Sonnets - Sonnet 61
---

<main class="pa3 pa5-ns">
  <p> 61</p>
   <p class="f6 lh-copy measure">
      
      Is it thy will, thy image should keep open<br>
      
      My heavy eyelids to the weary night?<br>
      
      Dost thou desire my slumbers should be broken,<br>
      
      While shadows like to thee do mock my sight?<br>
      
      Is it thy spirit that thou send'st from thee<br>
      
      So far from home into my deeds to pry,<br>
      
      To find out shames and idle hours in me,<br>
      
      The scope and tenure of thy jealousy?<br>
      
      O no, thy love though much, is not so great,<br>
      
      It is my love that keeps mine eye awake,<br>
      
      Mine own true love that doth my rest defeat,<br>
      
      To play the watchman ever for thy sake.<br>
      
      For thee watch I, whilst thou dost wake elsewhere,<br>
      
      <span class="pa2">For thee watch I, whilst thou dost wake elsewhere,</span><br>
      
      <span class="pa2">From me far off, with others all too near.</span><br>
      
   </p>
</main>