---
title: Shakespeares Sonnets - Sonnet 61
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>61</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Is it thy will, thy image should keep open<br>
      
      My heavy eyelids to the weary night?<br>
      
      Dost thou desire my slumbers should be broken,<br>
      
      While shadows like to thee do mock my sight?<br>
      
      Is it thy spirit that thou send'st from thee<br>
      
      So far from home into my deeds to pry,<br>
      
      To find out shames and idle hours in me,<br>
      
      The scope and tenure of thy jealousy?<br>
      
      O no, thy love though much, is not so great,<br>
      
      It is my love that keeps mine eye awake,<br>
      
      Mine own true love that doth my rest defeat,<br>
      
      To play the watchman ever for thy sake.<br>
      
      For thee watch I, whilst thou dost wake elsewhere,<br>
      
      <span class="pa4">For thee watch I, whilst thou dost wake elsewhere,</span><br>
      
      <span class="pa4">From me far off, with others all too near.</span><br>
      
    </p>
  </div>
</article>