---
title: Shakespeares Sonnets - Sonnet 62
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>62</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Sin of self-love possesseth all mine eye,<br>
      
      And all my soul, and all my every part;<br>
      
      And for this sin there is no remedy,<br>
      
      It is so grounded inward in my heart.<br>
      
      Methinks no face so gracious is as mine,<br>
      
      No shape so true, no truth of such account,<br>
      
      And for my self mine own worth do define,<br>
      
      As I all other in all worths surmount.<br>
      
      But when my glass shows me my self indeed<br>
      
      beated and chopt with tanned antiquity,<br>
      
      Mine own self-love quite contrary I read:<br>
      
      Self, so self-loving were iniquity.<br>
      
      'Tis thee (my self) that for my self I praise,<br>
      
      <span class="pa4">'Tis thee (my self) that for my self I praise,</span><br>
      
      <span class="pa4">Painting my age with beauty of thy days.</span><br>
      
    </p>
  </div>
</article>