---
title: Shakespeares Sonnets - Sonnet 63
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>63</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Against my love shall be as I am now<br>
      
      With Time's injurious hand crushed and o'erworn,<br>
      
      When hours have drained his blood and filled his brow<br>
      
      With lines and wrinkles, when his youthful morn<br>
      
      Hath travelled on to age's steepy night,<br>
      
      And all those beauties whereof now he's king<br>
      
      Are vanishing, or vanished out of sight,<br>
      
      Stealing away the treasure of his spring:<br>
      
      For such a time do I now fortify<br>
      
      Against confounding age's cruel knife,<br>
      
      That he shall never cut from memory<br>
      
      My sweet love's beauty, though my lover's life.<br>
      
      His beauty shall in these black lines be seen,<br>
      
      <span class="pa4">His beauty shall in these black lines be seen,</span><br>
      
      <span class="pa4">And they shall live, and he in them still green.</span><br>
      
    </p>
  </div>
</article>