---
title: Shakespeares Sonnets - Sonnet 64
---

<main class="pa3 pa5-ns">
  <p> 64</p>
   <p class="f6 lh-copy measure">
      
      When I have seen by Time's fell hand defaced<br>
      
      The rich-proud cost of outworn buried age,<br>
      
      When sometime lofty towers I see down-rased,<br>
      
      And brass eternal slave to mortal rage.<br>
      
      When I have seen the hungry ocean gain<br>
      
      Advantage on the kingdom of the shore,<br>
      
      And the firm soil win of the watery main,<br>
      
      Increasing store with loss, and loss with store.<br>
      
      When I have seen such interchange of State,<br>
      
      Or state it self confounded, to decay,<br>
      
      Ruin hath taught me thus to ruminate<br>
      
      That Time will come and take my love away.<br>
      
      This thought is as a death which cannot choose<br>
      
      <span class="pa2">This thought is as a death which cannot choose</span><br>
      
      <span class="pa2">But weep to have, that which it fears to lose.</span><br>
      
   </p>
</main>