---
title: Shakespeares Sonnets - Sonnet 65
---

<main class="pa3 pa5-ns">
  <p> 65</p>
   <p class="f6 lh-copy measure">
      
      Since brass, nor stone, nor earth, nor boundless sea,<br>
      
      But sad mortality o'ersways their power,<br>
      
      How with this rage shall beauty hold a plea,<br>
      
      Whose action is no stronger than a flower?<br>
      
      O how shall summer's honey breath hold out,<br>
      
      Against the wrackful siege of batt'ring days,<br>
      
      When rocks impregnable are not so stout,<br>
      
      Nor gates of steel so strong but time decays?<br>
      
      O fearful meditation, where alack,<br>
      
      Shall Time's best jewel from Time's chest lie hid?<br>
      
      Or what strong hand can hold his swift foot back,<br>
      
      Or who his spoil of beauty can forbid?<br>
      
      <span class="pa2">O none, unless this miracle have might,</span><br>
      
      <span class="pa2">That in black ink my love may still shine bright.</span><br>
      
   </p>
</main>