---
title: Shakespeares Sonnets - Sonnet 66
---

<main class="pa3 pa5-ns">
  <p> 66</p>
   <p class="f6 lh-copy measure">
      
      Tired with all these for restful death I cry,<br>
      
      As to behold desert a beggar born,<br>
      
      And needy nothing trimmed in jollity,<br>
      
      And purest faith unhappily forsworn,<br>
      
      And gilded honour shamefully misplaced,<br>
      
      And maiden virtue rudely strumpeted,<br>
      
      And right perfection wrongfully disgraced,<br>
      
      And strength by limping sway disabled<br>
      
      And art made tongue-tied by authority,<br>
      
      And folly (doctor-like) controlling skill,<br>
      
      And simple truth miscalled simplicity,<br>
      
      And captive good attending captain ill.<br>
      
      <span class="pa2">Tired with all these, from these would I be gone,</span><br>
      
      <span class="pa2">Save that to die, I leave my love alone.</span><br>
      
   </p>
</main>