---
title: Shakespeares Sonnets - Sonnet 66
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>66</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Tired with all these for restful death I cry,<br>
      
      As to behold desert a beggar born,<br>
      
      And needy nothing trimmed in jollity,<br>
      
      And purest faith unhappily forsworn,<br>
      
      And gilded honour shamefully misplaced,<br>
      
      And maiden virtue rudely strumpeted,<br>
      
      And right perfection wrongfully disgraced,<br>
      
      And strength by limping sway disabled<br>
      
      And art made tongue-tied by authority,<br>
      
      And folly (doctor-like) controlling skill,<br>
      
      And simple truth miscalled simplicity,<br>
      
      And captive good attending captain ill.<br>
      
      Tired with all these, from these would I be gone,<br>
      
      <span class="pa4">Tired with all these, from these would I be gone,</span><br>
      
      <span class="pa4">Save that to die, I leave my love alone.</span><br>
      
    </p>
  </div>
</article>