---
title: Shakespeares Sonnets - Sonnet 66
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>66</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Tired with all these for restful death I cry,
      
        As to behold desert a beggar born,
      
        And needy nothing trimmed in jollity,
      
        And purest faith unhappily forsworn,
      
        And gilded honour shamefully misplaced,
      
        And maiden virtue rudely strumpeted,
      
        And right perfection wrongfully disgraced,
      
        And strength by limping sway disabled
      
        And art made tongue-tied by authority,
      
        And folly (doctor-like) controlling skill,
      
        And simple truth miscalled simplicity,
      
        And captive good attending captain ill.
      
        Tired with all these, from these would I be gone,
      
        Save that to die, I leave my love alone.
      
    </p>
  </div>
</article>