---
title: Shakespeares Sonnets - Sonnet 67
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>67</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Ah wherefore with infection should he live,<br>
      
      And with his presence grace impiety,<br>
      
      That sin by him advantage should achieve,<br>
      
      And lace it self with his society?<br>
      
      Why should false painting imitate his cheek,<br>
      
      And steal dead seeming of his living hue?<br>
      
      Why should poor beauty indirectly seek,<br>
      
      Roses of shadow, since his rose is true?<br>
      
      Why should he live, now nature bankrupt is,<br>
      
      Beggared of blood to blush through lively veins,<br>
      
      For she hath no exchequer now but his,<br>
      
      And proud of many, lives upon his gains?<br>
      
      O him she stores, to show what wealth she had,<br>
      
      <span class="pa4">O him she stores, to show what wealth she had,</span><br>
      
      <span class="pa4">In days long since, before these last so bad.</span><br>
      
    </p>
  </div>
</article>