---
title: Shakespeares Sonnets - Sonnet 67
---

<main class="pa3 pa5-ns">
  <p> 67</p>
   <p class="f6 lh-copy measure">
      
      Ah wherefore with infection should he live,<br>
      
      And with his presence grace impiety,<br>
      
      That sin by him advantage should achieve,<br>
      
      And lace it self with his society?<br>
      
      Why should false painting imitate his cheek,<br>
      
      And steal dead seeming of his living hue?<br>
      
      Why should poor beauty indirectly seek,<br>
      
      Roses of shadow, since his rose is true?<br>
      
      Why should he live, now nature bankrupt is,<br>
      
      Beggared of blood to blush through lively veins,<br>
      
      For she hath no exchequer now but his,<br>
      
      And proud of many, lives upon his gains?<br>
      
      O him she stores, to show what wealth she had,<br>
      
      <span class="pa2">O him she stores, to show what wealth she had,</span><br>
      
      <span class="pa2">In days long since, before these last so bad.</span><br>
      
   </p>
</main>