---
title: Shakespeares Sonnets - Sonnet 69
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>69</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Those parts of thee that the world's eye doth view,<br>
      
      Want nothing that the thought of hearts can mend:<br>
      
      All tongues (the voice of souls) give thee that due,<br>
      
      Uttering bare truth, even so as foes commend.<br>
      
      Thy outward thus with outward praise is crowned,<br>
      
      But those same tongues that give thee so thine own,<br>
      
      In other accents do this praise confound<br>
      
      By seeing farther than the eye hath shown.<br>
      
      They look into the beauty of thy mind,<br>
      
      And that in guess they measure by thy deeds,<br>
      
      Then churls their thoughts (although their eyes were kind)<br>
      
      To thy fair flower add the rank smell of weeds:<br>
      
      But why thy odour matcheth not thy show,<br>
      
      <span class="pa4">But why thy odour matcheth not thy show,</span><br>
      
      <span class="pa4">The soil is this, that thou dost common grow.</span><br>
      
    </p>
  </div>
</article>