---
title: Shakespeares Sonnets - Sonnet 7
---

<main class="pa3 pa5-ns">
  <p> 7</p>
   <p class="f6 lh-copy measure">
      
      Lo in the orient when the gracious light<br>
      
      Lifts up his burning head, each under eye<br>
      
      Doth homage to his new-appearing sight,<br>
      
      Serving with looks his sacred majesty,<br>
      
      And having climbed the steep-up heavenly hill,<br>
      
      Resembling strong youth in his middle age,<br>
      
      Yet mortal looks adore his beauty still,<br>
      
      Attending on his golden pilgrimage:<br>
      
      But when from highmost pitch with weary car,<br>
      
      Like feeble age he reeleth from the day,<br>
      
      The eyes (fore duteous) now converted are<br>
      
      From his low tract and look another way:<br>
      
      So thou, thy self out-going in thy noon:<br>
      
      <span class="pa2">So thou, thy self out-going in thy noon:</span><br>
      
      <span class="pa2">Unlooked on diest unless thou get a son.</span><br>
      
   </p>
</main>