---
title: Shakespeares Sonnets - Sonnet 7
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>7</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        Lo in the orient when the gracious light
      
        Lifts up his burning head, each under eye
      
        Doth homage to his new-appearing sight,
      
        Serving with looks his sacred majesty,
      
        And having climbed the steep-up heavenly hill,
      
        Resembling strong youth in his middle age,
      
        Yet mortal looks adore his beauty still,
      
        Attending on his golden pilgrimage:
      
        But when from highmost pitch with weary car,
      
        Like feeble age he reeleth from the day,
      
        The eyes (fore duteous) now converted are
      
        From his low tract and look another way:
      
        So thou, thy self out-going in thy noon:
      
        Unlooked on diest unless thou get a son.
      
    </p>
  </div>
</article>