---
title: Shakespeares Sonnets - Sonnet 7
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>7</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Lo in the orient when the gracious light<br>
      
      Lifts up his burning head, each under eye<br>
      
      Doth homage to his new-appearing sight,<br>
      
      Serving with looks his sacred majesty,<br>
      
      And having climbed the steep-up heavenly hill,<br>
      
      Resembling strong youth in his middle age,<br>
      
      Yet mortal looks adore his beauty still,<br>
      
      Attending on his golden pilgrimage:<br>
      
      But when from highmost pitch with weary car,<br>
      
      Like feeble age he reeleth from the day,<br>
      
      The eyes (fore duteous) now converted are<br>
      
      From his low tract and look another way:<br>
      
      So thou, thy self out-going in thy noon:<br>
      
      <span class="pa4">So thou, thy self out-going in thy noon:</span><br>
      
      <span class="pa4">Unlooked on diest unless thou get a son.</span><br>
      
    </p>
  </div>
</article>