---
title: Shakespeares Sonnets - Sonnet 70
---

<main class="pa3 pa5-ns">
  <p> 70</p>
   <p class="f6 lh-copy measure">
      
      That thou art blamed shall not be thy defect,<br>
      
      For slander's mark was ever yet the fair,<br>
      
      The ornament of beauty is suspect,<br>
      
      A crow that flies in heaven's sweetest air.<br>
      
      So thou be good, slander doth but approve,<br>
      
      Thy worth the greater being wooed of time,<br>
      
      For canker vice the sweetest buds doth love,<br>
      
      And thou present'st a pure unstained prime.<br>
      
      Thou hast passed by the ambush of young days,<br>
      
      Either not assailed, or victor being charged,<br>
      
      Yet this thy praise cannot be so thy praise,<br>
      
      To tie up envy, evermore enlarged,<br>
      
      <span class="pa2">If some suspect of ill masked not thy show,</span><br>
      
      <span class="pa2">Then thou alone kingdoms of hearts shouldst owe.</span><br>
      
   </p>
</main>