---
title: Shakespeares Sonnets - Sonnet 70
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>70</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        That thou art blamed shall not be thy defect,
      
        For slander's mark was ever yet the fair,
      
        The ornament of beauty is suspect,
      
        A crow that flies in heaven's sweetest air.
      
        So thou be good, slander doth but approve,
      
        Thy worth the greater being wooed of time,
      
        For canker vice the sweetest buds doth love,
      
        And thou present'st a pure unstained prime.
      
        Thou hast passed by the ambush of young days,
      
        Either not assailed, or victor being charged,
      
        Yet this thy praise cannot be so thy praise,
      
        To tie up envy, evermore enlarged,
      
        If some suspect of ill masked not thy show,
      
        Then thou alone kingdoms of hearts shouldst owe.
      
    </p>
  </div>
</article>