---
title: Shakespeares Sonnets - Sonnet 70
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>70</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      That thou art blamed shall not be thy defect,<br>
      
      For slander's mark was ever yet the fair,<br>
      
      The ornament of beauty is suspect,<br>
      
      A crow that flies in heaven's sweetest air.<br>
      
      So thou be good, slander doth but approve,<br>
      
      Thy worth the greater being wooed of time,<br>
      
      For canker vice the sweetest buds doth love,<br>
      
      And thou present'st a pure unstained prime.<br>
      
      Thou hast passed by the ambush of young days,<br>
      
      Either not assailed, or victor being charged,<br>
      
      Yet this thy praise cannot be so thy praise,<br>
      
      To tie up envy, evermore enlarged,<br>
      
      If some suspect of ill masked not thy show,<br>
      
      <span class="pa4">If some suspect of ill masked not thy show,</span><br>
      
      <span class="pa4">Then thou alone kingdoms of hearts shouldst owe.</span><br>
      
    </p>
  </div>
</article>