---
title: Shakespeares Sonnets - Sonnet 71
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>71</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      No longer mourn for me when I am dead,<br>
      
      Than you shall hear the surly sullen bell<br>
      
      Give warning to the world that I am fled<br>
      
      From this vile world with vilest worms to dwell:<br>
      
      Nay if you read this line, remember not,<br>
      
      The hand that writ it, for I love you so,<br>
      
      That I in your sweet thoughts would be forgot,<br>
      
      If thinking on me then should make you woe.<br>
      
      O if (I say) you look upon this verse,<br>
      
      When I (perhaps) compounded am with clay,<br>
      
      Do not so much as my poor name rehearse;<br>
      
      But let your love even with my life decay.<br>
      
      Lest the wise world should look into your moan,<br>
      
      <span class="pa4">Lest the wise world should look into your moan,</span><br>
      
      <span class="pa4">And mock you with me after I am gone.</span><br>
      
    </p>
  </div>
</article>