---
title: Shakespeares Sonnets - Sonnet 71
---

<main class="pa3 pa5-ns">
  <p> 71</p>
   <p class="f6 lh-copy measure">
      
      No longer mourn for me when I am dead,<br>
      
      Than you shall hear the surly sullen bell<br>
      
      Give warning to the world that I am fled<br>
      
      From this vile world with vilest worms to dwell:<br>
      
      Nay if you read this line, remember not,<br>
      
      The hand that writ it, for I love you so,<br>
      
      That I in your sweet thoughts would be forgot,<br>
      
      If thinking on me then should make you woe.<br>
      
      O if (I say) you look upon this verse,<br>
      
      When I (perhaps) compounded am with clay,<br>
      
      Do not so much as my poor name rehearse;<br>
      
      But let your love even with my life decay.<br>
      
      <span class="pa2">Lest the wise world should look into your moan,</span><br>
      
      <span class="pa2">And mock you with me after I am gone.</span><br>
      
   </p>
</main>