---
title: Shakespeares Sonnets - Sonnet 72
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>72</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        O lest the world should task you to recite,
      
        What merit lived in me that you should love
      
        After my death (dear love) forget me quite,
      
        For you in me can nothing worthy prove.
      
        Unless you would devise some virtuous lie,
      
        To do more for me than mine own desert,
      
        And hang more praise upon deceased I,
      
        Than niggard truth would willingly impart:
      
        O lest your true love may seem false in this,
      
        That you for love speak well of me untrue,
      
        My name be buried where my body is,
      
        And live no more to shame nor me, nor you.
      
        For I am shamed by that which I bring forth,
      
        And so should you, to love things nothing worth.
      
    </p>
  </div>
</article>