---
title: Shakespeares Sonnets - Sonnet 73
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>73</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      That time of year thou mayst in me behold,<br>
      
      When yellow leaves, or none, or few do hang<br>
      
      Upon those boughs which shake against the cold,<br>
      
      Bare ruined choirs, where late the sweet birds sang.<br>
      
      In me thou seest the twilight of such day,<br>
      
      As after sunset fadeth in the west,<br>
      
      Which by and by black night doth take away,<br>
      
      Death's second self that seals up all in rest.<br>
      
      In me thou seest the glowing of such fire,<br>
      
      That on the ashes of his youth doth lie,<br>
      
      As the death-bed, whereon it must expire,<br>
      
      Consumed with that which it was nourished by.<br>
      
      This thou perceiv'st, which makes thy love more strong,<br>
      
      <span class="pa4">This thou perceiv'st, which makes thy love more strong,</span><br>
      
      <span class="pa4">To love that well, which thou must leave ere long.</span><br>
      
    </p>
  </div>
</article>