---
title: Shakespeares Sonnets - Sonnet 73
---

<main class="pa3 pa5-ns">
  <p> 73</p>
   <p class="f6 lh-copy measure">
      
      That time of year thou mayst in me behold,<br>
      
      When yellow leaves, or none, or few do hang<br>
      
      Upon those boughs which shake against the cold,<br>
      
      Bare ruined choirs, where late the sweet birds sang.<br>
      
      In me thou seest the twilight of such day,<br>
      
      As after sunset fadeth in the west,<br>
      
      Which by and by black night doth take away,<br>
      
      Death's second self that seals up all in rest.<br>
      
      In me thou seest the glowing of such fire,<br>
      
      That on the ashes of his youth doth lie,<br>
      
      As the death-bed, whereon it must expire,<br>
      
      Consumed with that which it was nourished by.<br>
      
      This thou perceiv'st, which makes thy love more strong,<br>
      
      <span class="pa2">This thou perceiv'st, which makes thy love more strong,</span><br>
      
      <span class="pa2">To love that well, which thou must leave ere long.</span><br>
      
   </p>
</main>