---
title: Shakespeares Sonnets - Sonnet 73
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>73</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        That time of year thou mayst in me behold,
      
        When yellow leaves, or none, or few do hang
      
        Upon those boughs which shake against the cold,
      
        Bare ruined choirs, where late the sweet birds sang.
      
        In me thou seest the twilight of such day,
      
        As after sunset fadeth in the west,
      
        Which by and by black night doth take away,
      
        Death's second self that seals up all in rest.
      
        In me thou seest the glowing of such fire,
      
        That on the ashes of his youth doth lie,
      
        As the death-bed, whereon it must expire,
      
        Consumed with that which it was nourished by.
      
        This thou perceiv'st, which makes thy love more strong,
      
        To love that well, which thou must leave ere long.
      
    </p>
  </div>
</article>