---
title: Shakespeares Sonnets - Sonnet 74
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>74</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      But be contented when that fell arrest,<br>
      
      Without all bail shall carry me away,<br>
      
      My life hath in this line some interest,<br>
      
      Which for memorial still with thee shall stay.<br>
      
      When thou reviewest this, thou dost review,<br>
      
      The very part was consecrate to thee,<br>
      
      The earth can have but earth, which is his due,<br>
      
      My spirit is thine the better part of me,<br>
      
      So then thou hast but lost the dregs of life,<br>
      
      The prey of worms, my body being dead,<br>
      
      The coward conquest of a wretch's knife,<br>
      
      Too base of thee to be remembered,<br>
      
      The worth of that, is that which it contains,<br>
      
      <span class="pa4">The worth of that, is that which it contains,</span><br>
      
      <span class="pa4">And that is this, and this with thee remains.</span><br>
      
    </p>
  </div>
</article>