---
title: Shakespeares Sonnets - Sonnet 74
---

<main class="pa3 pa5-ns">
  <p> 74</p>
   <p class="f6 lh-copy measure">
      
      But be contented when that fell arrest,<br>
      
      Without all bail shall carry me away,<br>
      
      My life hath in this line some interest,<br>
      
      Which for memorial still with thee shall stay.<br>
      
      When thou reviewest this, thou dost review,<br>
      
      The very part was consecrate to thee,<br>
      
      The earth can have but earth, which is his due,<br>
      
      My spirit is thine the better part of me,<br>
      
      So then thou hast but lost the dregs of life,<br>
      
      The prey of worms, my body being dead,<br>
      
      The coward conquest of a wretch's knife,<br>
      
      Too base of thee to be remembered,<br>
      
      The worth of that, is that which it contains,<br>
      
      <span class="pa2">The worth of that, is that which it contains,</span><br>
      
      <span class="pa2">And that is this, and this with thee remains.</span><br>
      
   </p>
</main>