---
title: Shakespeares Sonnets - Sonnet 74
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>74</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        But be contented when that fell arrest,
      
        Without all bail shall carry me away,
      
        My life hath in this line some interest,
      
        Which for memorial still with thee shall stay.
      
        When thou reviewest this, thou dost review,
      
        The very part was consecrate to thee,
      
        The earth can have but earth, which is his due,
      
        My spirit is thine the better part of me,
      
        So then thou hast but lost the dregs of life,
      
        The prey of worms, my body being dead,
      
        The coward conquest of a wretch's knife,
      
        Too base of thee to be remembered,
      
        The worth of that, is that which it contains,
      
        And that is this, and this with thee remains.
      
    </p>
  </div>
</article>