---
title: Shakespeares Sonnets - Sonnet 77
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>77</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Thy glass will show thee how thy beauties wear,<br>
      
      Thy dial how thy precious minutes waste,<br>
      
      These vacant leaves thy mind's imprint will bear,<br>
      
      And of this book, this learning mayst thou taste.<br>
      
      The wrinkles which thy glass will truly show,<br>
      
      Of mouthed graves will give thee memory,<br>
      
      Thou by thy dial's shady stealth mayst know,<br>
      
      Time's thievish progress to eternity.<br>
      
      Look what thy memory cannot contain,<br>
      
      Commit to these waste blanks, and thou shalt find<br>
      
      Those children nursed, delivered from thy brain,<br>
      
      To take a new acquaintance of thy mind.<br>
      
      These offices, so oft as thou wilt look,<br>
      
      <span class="pa4">These offices, so oft as thou wilt look,</span><br>
      
      <span class="pa4">Shall profit thee, and much enrich thy book.</span><br>
      
    </p>
  </div>
</article>