---
title: Shakespeares Sonnets - Sonnet 78
---

<main class="pa3 pa5-ns">
  <p> 78</p>
   <p class="f6 lh-copy measure">
      
      So oft have I invoked thee for my muse,<br>
      
      And found such fair assistance in my verse,<br>
      
      As every alien pen hath got my use,<br>
      
      And under thee their poesy disperse.<br>
      
      Thine eyes, that taught the dumb on high to sing,<br>
      
      And heavy ignorance aloft to fly,<br>
      
      Have added feathers to the learned's wing,<br>
      
      And given grace a double majesty.<br>
      
      Yet be most proud of that which I compile,<br>
      
      Whose influence is thine, and born of thee,<br>
      
      In others' works thou dost but mend the style,<br>
      
      And arts with thy sweet graces graced be.<br>
      
      But thou art all my art, and dost advance<br>
      
      <span class="pa2">But thou art all my art, and dost advance</span><br>
      
      <span class="pa2">As high as learning, my rude ignorance.</span><br>
      
   </p>
</main>