---
title: Shakespeares Sonnets - Sonnet 79
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>79</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Whilst I alone did call upon thy aid,<br>
      
      My verse alone had all thy gentle grace,<br>
      
      But now my gracious numbers are decayed,<br>
      
      And my sick muse doth give an other place.<br>
      
      I grant (sweet love) thy lovely argument<br>
      
      Deserves the travail of a worthier pen,<br>
      
      Yet what of thee thy poet doth invent,<br>
      
      He robs thee of, and pays it thee again,<br>
      
      He lends thee virtue, and he stole that word,<br>
      
      From thy behaviour, beauty doth he give<br>
      
      And found it in thy cheek: he can afford<br>
      
      No praise to thee, but what in thee doth live.<br>
      
      Then thank him not for that which he doth say,<br>
      
      <span class="pa4">Then thank him not for that which he doth say,</span><br>
      
      <span class="pa4">Since what he owes thee, thou thy self dost pay.</span><br>
      
    </p>
  </div>
</article>