---
title: Shakespeares Sonnets - Sonnet 79
---

<main class="pa3 pa5-ns">
  <p> 79</p>
   <p class="f6 lh-copy measure">
      
      Whilst I alone did call upon thy aid,<br>
      
      My verse alone had all thy gentle grace,<br>
      
      But now my gracious numbers are decayed,<br>
      
      And my sick muse doth give an other place.<br>
      
      I grant (sweet love) thy lovely argument<br>
      
      Deserves the travail of a worthier pen,<br>
      
      Yet what of thee thy poet doth invent,<br>
      
      He robs thee of, and pays it thee again,<br>
      
      He lends thee virtue, and he stole that word,<br>
      
      From thy behaviour, beauty doth he give<br>
      
      And found it in thy cheek: he can afford<br>
      
      No praise to thee, but what in thee doth live.<br>
      
      <span class="pa2">Then thank him not for that which he doth say,</span><br>
      
      <span class="pa2">Since what he owes thee, thou thy self dost pay.</span><br>
      
   </p>
</main>