---
title: Shakespeares Sonnets - Sonnet 8
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>8</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Music to hear, why hear'st thou music sadly?<br>
      
      Sweets with sweets war not, joy delights in joy:<br>
      
      Why lov'st thou that which thou receiv'st not gladly,<br>
      
      Or else receiv'st with pleasure thine annoy?<br>
      
      If the true concord of well-tuned sounds,<br>
      
      By unions married do offend thine ear,<br>
      
      They do but sweetly chide thee, who confounds<br>
      
      In singleness the parts that thou shouldst bear:<br>
      
      Mark how one string sweet husband to another,<br>
      
      Strikes each in each by mutual ordering;<br>
      
      Resembling sire, and child, and happy mother,<br>
      
      Who all in one, one pleasing note do sing:<br>
      
      Whose speechless song being many, seeming one,<br>
      
      <span class="pa4">Whose speechless song being many, seeming one,</span><br>
      
      <span class="pa4">Sings this to thee, 'Thou single wilt prove none'.</span><br>
      
    </p>
  </div>
</article>