---
title: Shakespeares Sonnets - Sonnet 80
---

<main class="pa3 pa5-ns">
  <p> 80</p>
   <p class="f6 lh-copy measure">
      
      O how I faint when I of you do write,<br>
      
      Knowing a better spirit doth use your name,<br>
      
      And in the praise thereof spends all his might,<br>
      
      To make me tongue-tied speaking of your fame.<br>
      
      But since your worth (wide as the ocean is)<br>
      
      The humble as the proudest sail doth bear,<br>
      
      My saucy bark (inferior far to his)<br>
      
      On your broad main doth wilfully appear.<br>
      
      Your shallowest help will hold me up afloat,<br>
      
      Whilst he upon your soundless deep doth ride,<br>
      
      Or (being wrecked) I am a worthless boat,<br>
      
      He of tall building, and of goodly pride.<br>
      
      Then if he thrive and I be cast away,<br>
      
      <span class="pa2">Then if he thrive and I be cast away,</span><br>
      
      <span class="pa2">The worst was this, my love was my decay.</span><br>
      
   </p>
</main>