---
title: Shakespeares Sonnets - Sonnet 80
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>80</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        O how I faint when I of you do write,
      
        Knowing a better spirit doth use your name,
      
        And in the praise thereof spends all his might,
      
        To make me tongue-tied speaking of your fame.
      
        But since your worth (wide as the ocean is)
      
        The humble as the proudest sail doth bear,
      
        My saucy bark (inferior far to his)
      
        On your broad main doth wilfully appear.
      
        Your shallowest help will hold me up afloat,
      
        Whilst he upon your soundless deep doth ride,
      
        Or (being wrecked) I am a worthless boat,
      
        He of tall building, and of goodly pride.
      
        Then if he thrive and I be cast away,
      
        The worst was this, my love was my decay.
      
    </p>
  </div>
</article>