---
title: Shakespeares Sonnets - Sonnet 81
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>81</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Or I shall live your epitaph to make,<br>
      
      Or you survive when I in earth am rotten,<br>
      
      From hence your memory death cannot take,<br>
      
      Although in me each part will be forgotten.<br>
      
      Your name from hence immortal life shall have,<br>
      
      Though I (once gone) to all the world must die,<br>
      
      The earth can yield me but a common grave,<br>
      
      When you entombed in men's eyes shall lie,<br>
      
      Your monument shall be my gentle verse,<br>
      
      Which eyes not yet created shall o'er-read,<br>
      
      And tongues to be, your being shall rehearse,<br>
      
      When all the breathers of this world are dead,<br>
      
      You still shall live (such virtue hath my pen)<br>
      
      <span class="pa4">You still shall live (such virtue hath my pen)</span><br>
      
      <span class="pa4">Where breath most breathes, even in the mouths of men.</span><br>
      
    </p>
  </div>
</article>