---
title: Shakespeares Sonnets - Sonnet 81
---

<main class="pa3 pa5-ns">
  <p> 81</p>
   <p class="f6 lh-copy measure">
      
      Or I shall live your epitaph to make,<br>
      
      Or you survive when I in earth am rotten,<br>
      
      From hence your memory death cannot take,<br>
      
      Although in me each part will be forgotten.<br>
      
      Your name from hence immortal life shall have,<br>
      
      Though I (once gone) to all the world must die,<br>
      
      The earth can yield me but a common grave,<br>
      
      When you entombed in men's eyes shall lie,<br>
      
      Your monument shall be my gentle verse,<br>
      
      Which eyes not yet created shall o'er-read,<br>
      
      And tongues to be, your being shall rehearse,<br>
      
      When all the breathers of this world are dead,<br>
      
      <span class="pa2">You still shall live (such virtue hath my pen)</span><br>
      
      <span class="pa2">Where breath most breathes, even in the mouths of men.</span><br>
      
   </p>
</main>