---
title: Shakespeares Sonnets - Sonnet 82
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>82</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        I grant thou wert not married to my muse,
      
        And therefore mayst without attaint o'erlook
      
        The dedicated words which writers use
      
        Of their fair subject, blessing every book.
      
        Thou art as fair in knowledge as in hue,
      
        Finding thy worth a limit past my praise,
      
        And therefore art enforced to seek anew,
      
        Some fresher stamp of the time-bettering days.
      
        And do so love, yet when they have devised,
      
        What strained touches rhetoric can lend,
      
        Thou truly fair, wert truly sympathized,
      
        In true plain words, by thy true-telling friend.
      
        And their gross painting might be better used,
      
        Where cheeks need blood, in thee it is abused.
      
    </p>
  </div>
</article>