---
title: Shakespeares Sonnets - Sonnet 82
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>82</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      I grant thou wert not married to my muse,<br>
      
      And therefore mayst without attaint o'erlook<br>
      
      The dedicated words which writers use<br>
      
      Of their fair subject, blessing every book.<br>
      
      Thou art as fair in knowledge as in hue,<br>
      
      Finding thy worth a limit past my praise,<br>
      
      And therefore art enforced to seek anew,<br>
      
      Some fresher stamp of the time-bettering days.<br>
      
      And do so love, yet when they have devised,<br>
      
      What strained touches rhetoric can lend,<br>
      
      Thou truly fair, wert truly sympathized,<br>
      
      In true plain words, by thy true-telling friend.<br>
      
      And their gross painting might be better used,<br>
      
      <span class="pa4">And their gross painting might be better used,</span><br>
      
      <span class="pa4">Where cheeks need blood, in thee it is abused.</span><br>
      
    </p>
  </div>
</article>