---
title: Shakespeares Sonnets - Sonnet 82
---

<main class="pa3 pa5-ns">
  <p> 82</p>
   <p class="f6 lh-copy measure">
      
      I grant thou wert not married to my muse,<br>
      
      And therefore mayst without attaint o'erlook<br>
      
      The dedicated words which writers use<br>
      
      Of their fair subject, blessing every book.<br>
      
      Thou art as fair in knowledge as in hue,<br>
      
      Finding thy worth a limit past my praise,<br>
      
      And therefore art enforced to seek anew,<br>
      
      Some fresher stamp of the time-bettering days.<br>
      
      And do so love, yet when they have devised,<br>
      
      What strained touches rhetoric can lend,<br>
      
      Thou truly fair, wert truly sympathized,<br>
      
      In true plain words, by thy true-telling friend.<br>
      
      <span class="pa2">And their gross painting might be better used,</span><br>
      
      <span class="pa2">Where cheeks need blood, in thee it is abused.</span><br>
      
   </p>
</main>