---
title: Shakespeares Sonnets - Sonnet 83
---

<main class="pa3 pa5-ns">
  <p> 83</p>
   <p class="f6 lh-copy measure">
      
      I never saw that you did painting need,<br>
      
      And therefore to your fair no painting set,<br>
      
      I found (or thought I found) you did exceed,<br>
      
      That barren tender of a poet's debt:<br>
      
      And therefore have I slept in your report,<br>
      
      That you your self being extant well might show,<br>
      
      How far a modern quill doth come too short,<br>
      
      Speaking of worth, what worth in you doth grow.<br>
      
      This silence for my sin you did impute,<br>
      
      Which shall be most my glory being dumb,<br>
      
      For I impair not beauty being mute,<br>
      
      When others would give life, and bring a tomb.<br>
      
      <span class="pa2">There lives more life in one of your fair eyes,</span><br>
      
      <span class="pa2">Than both your poets can in praise devise.</span><br>
      
   </p>
</main>