---
title: Shakespeares Sonnets - Sonnet 84
---

<main class="pa3 pa5-ns">
  <p> 84</p>
   <p class="f6 lh-copy measure">
      
      Who is it that says most, which can say more,<br>
      
      Than this rich praise, that you alone, are you?<br>
      
      In whose confine immured is the store,<br>
      
      Which should example where your equal grew.<br>
      
      Lean penury within that pen doth dwell,<br>
      
      That to his subject lends not some small glory,<br>
      
      But he that writes of you, if he can tell,<br>
      
      That you are you, so dignifies his story.<br>
      
      Let him but copy what in you is writ,<br>
      
      Not making worse what nature made so clear,<br>
      
      And such a counterpart shall fame his wit,<br>
      
      Making his style admired every where.<br>
      
      <span class="pa2">You to your beauteous blessings add a curse,</span><br>
      
      <span class="pa2">Being fond on praise, which makes your praises worse.</span><br>
      
   </p>
</main>