---
title: Shakespeares Sonnets - Sonnet 86
---

<main class="pa3 pa5-ns">
  <p> 86</p>
   <p class="f6 lh-copy measure">
      
      Was it the proud full sail of his great verse,<br>
      
      Bound for the prize of (all too precious) you,<br>
      
      That did my ripe thoughts in my brain inhearse,<br>
      
      Making their tomb the womb wherein they grew?<br>
      
      Was it his spirit, by spirits taught to write,<br>
      
      Above a mortal pitch, that struck me dead?<br>
      
      No, neither he, nor his compeers by night<br>
      
      Giving him aid, my verse astonished.<br>
      
      He nor that affable familiar ghost<br>
      
      Which nightly gulls him with intelligence,<br>
      
      As victors of my silence cannot boast,<br>
      
      I was not sick of any fear from thence.<br>
      
      <span class="pa2">But when your countenance filled up his line,</span><br>
      
      <span class="pa2">Then lacked I matter, that enfeebled mine.</span><br>
      
   </p>
</main>