---
title: Shakespeares Sonnets - Sonnet 86
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>86</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Was it the proud full sail of his great verse,<br>
      
      Bound for the prize of (all too precious) you,<br>
      
      That did my ripe thoughts in my brain inhearse,<br>
      
      Making their tomb the womb wherein they grew?<br>
      
      Was it his spirit, by spirits taught to write,<br>
      
      Above a mortal pitch, that struck me dead?<br>
      
      No, neither he, nor his compeers by night<br>
      
      Giving him aid, my verse astonished.<br>
      
      He nor that affable familiar ghost<br>
      
      Which nightly gulls him with intelligence,<br>
      
      As victors of my silence cannot boast,<br>
      
      I was not sick of any fear from thence.<br>
      
      But when your countenance filled up his line,<br>
      
      <span class="pa4">But when your countenance filled up his line,</span><br>
      
      <span class="pa4">Then lacked I matter, that enfeebled mine.</span><br>
      
    </p>
  </div>
</article>