---
title: Shakespeares Sonnets - Sonnet 87
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>87</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Farewell! thou art too dear for my possessing,<br>
      
      And like enough thou know'st thy estimate,<br>
      
      The charter of thy worth gives thee releasing:<br>
      
      My bonds in thee are all determinate.<br>
      
      For how do I hold thee but by thy granting,<br>
      
      And for that riches where is my deserving?<br>
      
      The cause of this fair gift in me is wanting,<br>
      
      And so my patent back again is swerving.<br>
      
      Thy self thou gav'st, thy own worth then not knowing,<br>
      
      Or me to whom thou gav'st it, else mistaking,<br>
      
      So thy great gift upon misprision growing,<br>
      
      Comes home again, on better judgement making.<br>
      
      Thus have I had thee as a dream doth flatter,<br>
      
      <span class="pa4">Thus have I had thee as a dream doth flatter,</span><br>
      
      <span class="pa4">In sleep a king, but waking no such matter.</span><br>
      
    </p>
  </div>
</article>