---
title: Shakespeares Sonnets - Sonnet 87
---

<main class="pa3 pa5-ns">
  <p> 87</p>
   <p class="f6 lh-copy measure">
      
      Farewell! thou art too dear for my possessing,<br>
      
      And like enough thou know'st thy estimate,<br>
      
      The charter of thy worth gives thee releasing:<br>
      
      My bonds in thee are all determinate.<br>
      
      For how do I hold thee but by thy granting,<br>
      
      And for that riches where is my deserving?<br>
      
      The cause of this fair gift in me is wanting,<br>
      
      And so my patent back again is swerving.<br>
      
      Thy self thou gav'st, thy own worth then not knowing,<br>
      
      Or me to whom thou gav'st it, else mistaking,<br>
      
      So thy great gift upon misprision growing,<br>
      
      Comes home again, on better judgement making.<br>
      
      <span class="pa2">Thus have I had thee as a dream doth flatter,</span><br>
      
      <span class="pa2">In sleep a king, but waking no such matter.</span><br>
      
   </p>
</main>