---
title: Shakespeares Sonnets - Sonnet 89
---

<main class="pa3 pa5-ns">
  <p> 89</p>
   <p class="f6 lh-copy measure">
      
      Say that thou didst forsake me for some fault,<br>
      
      And I will comment upon that offence,<br>
      
      Speak of my lameness, and I straight will halt:<br>
      
      Against thy reasons making no defence.<br>
      
      Thou canst not (love) disgrace me half so ill,<br>
      
      To set a form upon desired change,<br>
      
      As I'll my self disgrace, knowing thy will,<br>
      
      I will acquaintance strangle and look strange:<br>
      
      Be absent from thy walks and in my tongue,<br>
      
      Thy sweet beloved name no more shall dwell,<br>
      
      Lest I (too much profane) should do it wronk:<br>
      
      And haply of our old acquaintance tell.<br>
      
      <span class="pa2">For thee, against my self I'll vow debate,</span><br>
      
      <span class="pa2">For I must ne'er love him whom thou dost hate.</span><br>
      
   </p>
</main>