---
title: Shakespeares Sonnets - Sonnet 89
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>89</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Say that thou didst forsake me for some fault,<br>
      
      And I will comment upon that offence,<br>
      
      Speak of my lameness, and I straight will halt:<br>
      
      Against thy reasons making no defence.<br>
      
      Thou canst not (love) disgrace me half so ill,<br>
      
      To set a form upon desired change,<br>
      
      As I'll my self disgrace, knowing thy will,<br>
      
      I will acquaintance strangle and look strange:<br>
      
      Be absent from thy walks and in my tongue,<br>
      
      Thy sweet beloved name no more shall dwell,<br>
      
      Lest I (too much profane) should do it wronk:<br>
      
      And haply of our old acquaintance tell.<br>
      
      For thee, against my self I'll vow debate,<br>
      
      <span class="pa4">For thee, against my self I'll vow debate,</span><br>
      
      <span class="pa4">For I must ne'er love him whom thou dost hate.</span><br>
      
    </p>
  </div>
</article>