---
title: Shakespeares Sonnets - Sonnet 9
---

<main class="pa3 pa5-ns">
  <p> 9</p>
   <p class="f6 lh-copy measure">
      
      Is it for fear to wet a widow's eye,<br>
      
      That thou consum'st thy self in single life?<br>
      
      Ah, if thou issueless shalt hap to die,<br>
      
      The world will wail thee like a makeless wife,<br>
      
      The world will be thy widow and still weep,<br>
      
      That thou no form of thee hast left behind,<br>
      
      When every private widow well may keep,<br>
      
      By children's eyes, her husband's shape in mind:<br>
      
      Look what an unthrift in the world doth spend<br>
      
      Shifts but his place, for still the world enjoys it;<br>
      
      But beauty's waste hath in the world an end,<br>
      
      And kept unused the user so destroys it:<br>
      
      No love toward others in that bosom sits<br>
      
      <span class="pa2">No love toward others in that bosom sits</span><br>
      
      <span class="pa2">That on himself such murd'rous shame commits.</span><br>
      
   </p>
</main>