---
title: Shakespeares Sonnets - Sonnet 90
---

<main class="pa3 pa5-ns">
  <p> 90</p>
   <p class="f6 lh-copy measure">
      
      Then hate me when thou wilt, if ever, now,<br>
      
      Now while the world is bent my deeds to cross,<br>
      
      join with the spite of fortune, make me bow,<br>
      
      And do not drop in for an after-loss:<br>
      
      Ah do not, when my heart hath 'scaped this sorrow,<br>
      
      Come in the rearward of a conquered woe,<br>
      
      Give not a windy night a rainy morrow,<br>
      
      To linger out a purposed overthrow.<br>
      
      If thou wilt leave me, do not leave me last,<br>
      
      When other petty griefs have done their spite,<br>
      
      But in the onset come, so shall I taste<br>
      
      At first the very worst of fortune's might.<br>
      
      And other strains of woe, which now seem woe,<br>
      
      <span class="pa2">And other strains of woe, which now seem woe,</span><br>
      
      <span class="pa2">Compared with loss of thee, will not seem so.</span><br>
      
   </p>
</main>