---
title: Shakespeares Sonnets - Sonnet 90
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>90</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Then hate me when thou wilt, if ever, now,<br>
      
      Now while the world is bent my deeds to cross,<br>
      
      join with the spite of fortune, make me bow,<br>
      
      And do not drop in for an after-loss:<br>
      
      Ah do not, when my heart hath 'scaped this sorrow,<br>
      
      Come in the rearward of a conquered woe,<br>
      
      Give not a windy night a rainy morrow,<br>
      
      To linger out a purposed overthrow.<br>
      
      If thou wilt leave me, do not leave me last,<br>
      
      When other petty griefs have done their spite,<br>
      
      But in the onset come, so shall I taste<br>
      
      At first the very worst of fortune's might.<br>
      
      And other strains of woe, which now seem woe,<br>
      
      <span class="pa4">And other strains of woe, which now seem woe,</span><br>
      
      <span class="pa4">Compared with loss of thee, will not seem so.</span><br>
      
    </p>
  </div>
</article>