---
title: Shakespeares Sonnets - Sonnet 91
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>91</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      Some glory in their birth, some in their skill,<br>
      
      Some in their wealth, some in their body's force,<br>
      
      Some in their garments though new-fangled ill:<br>
      
      Some in their hawks and hounds, some in their horse.<br>
      
      And every humour hath his adjunct pleasure,<br>
      
      Wherein it finds a joy above the rest,<br>
      
      But these particulars are not my measure,<br>
      
      All these I better in one general best.<br>
      
      Thy love is better than high birth to me,<br>
      
      Richer than wealth, prouder than garments' costs,<br>
      
      Of more delight than hawks and horses be:<br>
      
      And having thee, of all men's pride I boast.<br>
      
      Wretched in this alone, that thou mayst take,<br>
      
      <span class="pa4">Wretched in this alone, that thou mayst take,</span><br>
      
      <span class="pa4">All this away, and me most wretchcd make.</span><br>
      
    </p>
  </div>
</article>