---
title: Shakespeares Sonnets - Sonnet 91
---

<main class="pa3 pa5-ns">
  <p> 91</p>
   <p class="f6 lh-copy measure">
      
      Some glory in their birth, some in their skill,<br>
      
      Some in their wealth, some in their body's force,<br>
      
      Some in their garments though new-fangled ill:<br>
      
      Some in their hawks and hounds, some in their horse.<br>
      
      And every humour hath his adjunct pleasure,<br>
      
      Wherein it finds a joy above the rest,<br>
      
      But these particulars are not my measure,<br>
      
      All these I better in one general best.<br>
      
      Thy love is better than high birth to me,<br>
      
      Richer than wealth, prouder than garments' costs,<br>
      
      Of more delight than hawks and horses be:<br>
      
      And having thee, of all men's pride I boast.<br>
      
      Wretched in this alone, that thou mayst take,<br>
      
      <span class="pa2">Wretched in this alone, that thou mayst take,</span><br>
      
      <span class="pa2">All this away, and me most wretchcd make.</span><br>
      
   </p>
</main>