---
title: Shakespeares Sonnets - Sonnet 92
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>92</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      But do thy worst to steal thy self away,<br>
      
      For term of life thou art assured mine,<br>
      
      And life no longer than thy love will stay,<br>
      
      For it depends upon that love of thine.<br>
      
      Then need I not to fear the worst of wrongs,<br>
      
      When in the least of them my life hath end,<br>
      
      I see, a better state to me belongs<br>
      
      Than that, which on thy humour doth depend.<br>
      
      Thou canst not vex me with inconstant mind,<br>
      
      Since that my life on thy revolt doth lie,<br>
      
      O what a happy title do I find,<br>
      
      Happy to have thy love, happy to die!<br>
      
      But what's so blessed-fair that fears no blot?<br>
      
      <span class="pa4">But what's so blessed-fair that fears no blot?</span><br>
      
      <span class="pa4">Thou mayst be false, and yet I know it not.</span><br>
      
    </p>
  </div>
</article>