---
title: Shakespeares Sonnets - Sonnet 93
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>93</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      So shall I live, supposing thou art true,<br>
      
      Like a deceived husband, so love's face,<br>
      
      May still seem love to me, though altered new:<br>
      
      Thy looks with me, thy heart in other place.<br>
      
      For there can live no hatred in thine eye,<br>
      
      Therefore in that I cannot know thy change,<br>
      
      In many's looks, the false heart's history<br>
      
      Is writ in moods and frowns and wrinkles strange.<br>
      
      But heaven in thy creation did decree,<br>
      
      That in thy face sweet love should ever dwell,<br>
      
      Whate'er thy thoughts, or thy heart's workings be,<br>
      
      Thy looks should nothing thence, but sweetness tell.<br>
      
      How like Eve's apple doth thy beauty grow,<br>
      
      <span class="pa4">How like Eve's apple doth thy beauty grow,</span><br>
      
      <span class="pa4">If thy sweet virtue answer not thy show.</span><br>
      
    </p>
  </div>
</article>