---
title: Shakespeares Sonnets - Sonnet 93
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>93</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        So shall I live, supposing thou art true,
      
        Like a deceived husband, so love's face,
      
        May still seem love to me, though altered new:
      
        Thy looks with me, thy heart in other place.
      
        For there can live no hatred in thine eye,
      
        Therefore in that I cannot know thy change,
      
        In many's looks, the false heart's history
      
        Is writ in moods and frowns and wrinkles strange.
      
        But heaven in thy creation did decree,
      
        That in thy face sweet love should ever dwell,
      
        Whate'er thy thoughts, or thy heart's workings be,
      
        Thy looks should nothing thence, but sweetness tell.
      
        How like Eve's apple doth thy beauty grow,
      
        If thy sweet virtue answer not thy show.
      
    </p>
  </div>
</article>