---
title: Shakespeares Sonnets - Sonnet 94
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>94</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        They that have power to hurt, and will do none,
      
        That do not do the thing, they most do show,
      
        Who moving others, are themselves as stone,
      
        Unmoved, cold, and to temptation slow:
      
        They rightly do inherit heaven's graces,
      
        And husband nature's riches from expense,
      
        Tibey are the lords and owners of their faces,
      
        Others, but stewards of their excellence:
      
        The summer's flower is to the summer sweet,
      
        Though to it self, it only live and die,
      
        But if that flower with base infection meet,
      
        The basest weed outbraves his dignity:
      
        For sweetest things turn sourest by their deeds,
      
        Lilies that fester, smell far worse than weeds.
      
    </p>
  </div>
</article>