---
title: Shakespeares Sonnets - Sonnet 94
---

<main class="pa3 pa5-ns">
  <p> 94</p>
   <p class="f6 lh-copy measure">
      
      They that have power to hurt, and will do none,<br>
      
      That do not do the thing, they most do show,<br>
      
      Who moving others, are themselves as stone,<br>
      
      Unmoved, cold, and to temptation slow:<br>
      
      They rightly do inherit heaven's graces,<br>
      
      And husband nature's riches from expense,<br>
      
      Tibey are the lords and owners of their faces,<br>
      
      Others, but stewards of their excellence:<br>
      
      The summer's flower is to the summer sweet,<br>
      
      Though to it self, it only live and die,<br>
      
      But if that flower with base infection meet,<br>
      
      The basest weed outbraves his dignity:<br>
      
      For sweetest things turn sourest by their deeds,<br>
      
      <span class="pa2">For sweetest things turn sourest by their deeds,</span><br>
      
      <span class="pa2">Lilies that fester, smell far worse than weeds.</span><br>
      
   </p>
</main>