---
title: Shakespeares Sonnets - Sonnet 95
---

<main class="pa3 pa5-ns">
  <p> 95</p>
   <p class="f6 lh-copy measure">
      
      How sweet and lovely dost thou make the shame,<br>
      
      Which like a canker in the fragrant rose,<br>
      
      Doth spot the beauty of thy budding name!<br>
      
      O in what sweets dost thou thy sins enclose!<br>
      
      That tongue that tells the story of thy days,<br>
      
      (Making lascivious comments on thy sport)<br>
      
      Cannot dispraise, but in a kind of praise,<br>
      
      Naming thy name, blesses an ill report.<br>
      
      O what a mansion have those vices got,<br>
      
      Which for their habitation chose out thee,<br>
      
      Where beauty's veil doth cover every blot,<br>
      
      And all things turns to fair, that eyes can see!<br>
      
      <span class="pa2">Take heed (dear heart) of this large privilege,</span><br>
      
      <span class="pa2">The hardest knife ill-used doth lose his edge.</span><br>
      
   </p>
</main>