---
title: Shakespeares Sonnets - Sonnet 95
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>95</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      How sweet and lovely dost thou make the shame,<br>
      
      Which like a canker in the fragrant rose,<br>
      
      Doth spot the beauty of thy budding name!<br>
      
      O in what sweets dost thou thy sins enclose!<br>
      
      That tongue that tells the story of thy days,<br>
      
      (Making lascivious comments on thy sport)<br>
      
      Cannot dispraise, but in a kind of praise,<br>
      
      Naming thy name, blesses an ill report.<br>
      
      O what a mansion have those vices got,<br>
      
      Which for their habitation chose out thee,<br>
      
      Where beauty's veil doth cover every blot,<br>
      
      And all things turns to fair, that eyes can see!<br>
      
      Take heed (dear heart) of this large privilege,<br>
      
      <span class="pa4">Take heed (dear heart) of this large privilege,</span><br>
      
      <span class="pa4">The hardest knife ill-used doth lose his edge.</span><br>
      
    </p>
  </div>
</article>