---
title: Shakespeares Sonnets - Sonnet 96
---

<main class="pa3 pa5-ns">
  <p> 96</p>
   <p class="f6 lh-copy measure">
      
      Some say thy fault is youth, some wantonness,<br>
      
      Some say thy grace is youth and gentle sport,<br>
      
      Both grace and faults are loved of more and less:<br>
      
      Thou mak'st faults graces, that to thee resort:<br>
      
      As on the finger of a throned queen,<br>
      
      The basest jewel will be well esteemed:<br>
      
      So are those errors that in thee are seen,<br>
      
      To truths translated, and for true things deemed.<br>
      
      How many lambs might the stern wolf betray,<br>
      
      If like a lamb he could his looks translate!<br>
      
      How many gazers mightst thou lead away,<br>
      
      if thou wouldst use the strength of all thy state!<br>
      
      But do not so, I love thee in such sort,<br>
      
      <span class="pa2">But do not so, I love thee in such sort,</span><br>
      
      <span class="pa2">As thou being mine, mine is thy good report.</span><br>
      
   </p>
</main>