---
title: Shakespeares Sonnets - Sonnet 97
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>97</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      How like a winter hath my absence been<br>
      
      From thee, the pleasure of the fleeting year!<br>
      
      What freezings have I felt, what dark days seen!<br>
      
      What old December's bareness everywhere!<br>
      
      And yet this time removed was summer's time,<br>
      
      The teeming autumn big with rich increase,<br>
      
      Bearing the wanton burden of the prime,<br>
      
      Like widowed wombs after their lords' decease:<br>
      
      Yet this abundant issue seemed to me<br>
      
      But hope of orphans, and unfathered fruit,<br>
      
      For summer and his pleasures wait on thee,<br>
      
      And thou away, the very birds are mute.<br>
      
      Or if they sing, 'tis with so dull a cheer,<br>
      
      <span class="pa4">Or if they sing, 'tis with so dull a cheer,</span><br>
      
      <span class="pa4">That leaves look pale, dreading the winter's near.</span><br>
      
    </p>
  </div>
</article>