---
title: Shakespeares Sonnets - Sonnet 97
---

<main class="pa3 pa5-ns">
  <p> 97</p>
   <p class="f6 lh-copy measure">
      
      How like a winter hath my absence been<br>
      
      From thee, the pleasure of the fleeting year!<br>
      
      What freezings have I felt, what dark days seen!<br>
      
      What old December's bareness everywhere!<br>
      
      And yet this time removed was summer's time,<br>
      
      The teeming autumn big with rich increase,<br>
      
      Bearing the wanton burden of the prime,<br>
      
      Like widowed wombs after their lords' decease:<br>
      
      Yet this abundant issue seemed to me<br>
      
      But hope of orphans, and unfathered fruit,<br>
      
      For summer and his pleasures wait on thee,<br>
      
      And thou away, the very birds are mute.<br>
      
      <span class="pa2">Or if they sing, 'tis with so dull a cheer,</span><br>
      
      <span class="pa2">That leaves look pale, dreading the winter's near.</span><br>
      
   </p>
</main>