---
title: Shakespeares Sonnets - Sonnet 97
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>97</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        How like a winter hath my absence been
      
        From thee, the pleasure of the fleeting year!
      
        What freezings have I felt, what dark days seen!
      
        What old December's bareness everywhere!
      
        And yet this time removed was summer's time,
      
        The teeming autumn big with rich increase,
      
        Bearing the wanton burden of the prime,
      
        Like widowed wombs after their lords' decease:
      
        Yet this abundant issue seemed to me
      
        But hope of orphans, and unfathered fruit,
      
        For summer and his pleasures wait on thee,
      
        And thou away, the very birds are mute.
      
        Or if they sing, 'tis with so dull a cheer,
      
        That leaves look pale, dreading the winter's near.
      
    </p>
  </div>
</article>