---
title: Shakespeares Sonnets - Sonnet 98
---

<main class="pa3 pa5-ns">
  <p> 98</p>
   <p class="f6 lh-copy measure">
      
      From you have I been absent in the spring,<br>
      
      When proud-pied April (dressed in all his trim)<br>
      
      Hath put a spirit of youth in every thing:<br>
      
      That heavy Saturn laughed and leaped with him.<br>
      
      Yet nor the lays of birds, nor the sweet smell<br>
      
      Of different flowers in odour and in hue,<br>
      
      Could make me any summer's story tell:<br>
      
      Or from their proud lap pluck them where they grew:<br>
      
      Nor did I wonder at the lily's white,<br>
      
      Nor praise the deep vermilion in the rose,<br>
      
      They were but sweet, but figures of delight:<br>
      
      Drawn after you, you pattern of all those.<br>
      
      <span class="pa2">Yet seemed it winter still, and you away,</span><br>
      
      <span class="pa2">As with your shadow I with these did play.</span><br>
      
   </p>
</main>