---
title: Shakespeares Sonnets - Sonnet 98
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>98</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
      From you have I been absent in the spring,<br>
      
      When proud-pied April (dressed in all his trim)<br>
      
      Hath put a spirit of youth in every thing:<br>
      
      That heavy Saturn laughed and leaped with him.<br>
      
      Yet nor the lays of birds, nor the sweet smell<br>
      
      Of different flowers in odour and in hue,<br>
      
      Could make me any summer's story tell:<br>
      
      Or from their proud lap pluck them where they grew:<br>
      
      Nor did I wonder at the lily's white,<br>
      
      Nor praise the deep vermilion in the rose,<br>
      
      They were but sweet, but figures of delight:<br>
      
      Drawn after you, you pattern of all those.<br>
      
      Yet seemed it winter still, and you away,<br>
      
      <span class="pa4">Yet seemed it winter still, and you away,</span><br>
      
      <span class="pa4">As with your shadow I with these did play.</span><br>
      
    </p>
  </div>
</article>