---
title: Shakespeares Sonnets - Sonnet 98
---

<article class='cf ph3 ph5-ns pv5'>
  <header class='fn fl-ns w-50-ns pr4-ns'>
    <h1 class='mb3 mt0 lh-title'>98</h1>
    <time class='f6 ttu tracked gray'>William Shakespeare</time>
  </header>
  <div class='fn fl-ns w-50-ns'>
    <p class='lh-copy measure mt4 mt0-ns'>
      
        From you have I been absent in the spring,
      
        When proud-pied April (dressed in all his trim)
      
        Hath put a spirit of youth in every thing:
      
        That heavy Saturn laughed and leaped with him.
      
        Yet nor the lays of birds, nor the sweet smell
      
        Of different flowers in odour and in hue,
      
        Could make me any summer's story tell:
      
        Or from their proud lap pluck them where they grew:
      
        Nor did I wonder at the lily's white,
      
        Nor praise the deep vermilion in the rose,
      
        They were but sweet, but figures of delight:
      
        Drawn after you, you pattern of all those.
      
        Yet seemed it winter still, and you away,
      
        As with your shadow I with these did play.
      
    </p>
  </div>
</article>