---
title: Shakespeares Sonnets - Sonnet 99
---

<main class="pa3 pa5-ns">
  <p> 99</p>
   <p class="f6 lh-copy measure">
      
      The forward violet thus did I chide,<br>
      
      Sweet thief, whence didst thou steal thy sweet that smells,<br>
      
      If not from my love's breath? The purple pride<br>
      
      Which on thy soft check for complexion dwells,<br>
      
      In my love's veins thou hast too grossly dyed.<br>
      
      The lily I condemned for thy hand,<br>
      
      And buds of marjoram had stol'n thy hair,<br>
      
      The roses fearfully on thorns did stand,<br>
      
      One blushing shame, another white despair:<br>
      
      A third nor red, nor white, had stol'n of both,<br>
      
      And to his robbery had annexed thy breath,<br>
      
      But for his theft in pride of all his growth<br>
      
      A vengeful canker eat him up to death.<br>
      
      More flowers I noted, yet I none could see,<br>
      
      <span class="pa2">More flowers I noted, yet I none could see,</span><br>
      
      <span class="pa2">But sweet, or colour it had stol'n from thee.</span><br>
      
   </p>
</main>