---
title: Shakespeare's Sonnets
---

<ul class="list pa3 pa5-ns">
  
  <% 1.upto 16 do |index| %>
    <li class="dib mr2">
      <%= link_to "#{index}", "/sonnets/#{index}.html", 
        class: "f3 link hover-dark-blue b no-underline black dib ph2 pv1" %> 
    </li>
  <% end %>
</ul>


