---
title: Shakespeare's Sonnets
colors: 
---

<% colors = [
"hover-dark-red",
"hover-red",
"hover-purple",
"hover-light-purple",
"hover-dark-pink",
"hover-hot-pink",
"hover-light-pink",
"hover-dark-green",
"hover-green",
"hover-navy",
"hover-dark-blue",
"hover-blue"
] %>

<ul class="list pa3 pa5-ns">
  <% 1.upto 154 do |index| %>
    <li>
      <%= link_to "#{index.to_words.downcase}", "/sonnets/#{index}.html", 
        class: "f3 link #{colors.sample} b no-underline black dib ph2 pv1" %> 
    </li>
  <% end %>
</ul>



